
$contextual-a-color: $color-secondary-lighter;
$contextual-a-color-hover: $color-secondary;

$contextual-title-color: $color-secondary;

$contextual-title-border-bottom-color: $color-light-darker;

$contextual-border-color: $color-light-darker;

.fy-cmnu {
	display: inline-block;
	
	padding: 20px;
	font-size: 12px;
	min-width: 140px;
	
	&.-sp {
		padding: 10px;
	}

	&.-bd {
		border:1px solid $contextual-border-color;
	}

	&.-sh {
		box-shadow: 1px 2px 7px #e8e8e8;
	}

	a {
		display: block;
		margin-bottom: 4px;
		color: $contextual-a-color;
		&:hover {
			color: $contextual-a-color-hover;
		}
	}

	&_t {
		font-size: 14px;
		color: $contextual-title-color;
		padding-bottom: 3px;
		border-bottom: 1px solid $contextual-title-border-bottom-color;
		margin-bottom: 5px;
	    margin-top: 20px;
	    &.-cp {
	    	font-size: 10px;
	    	text-transform: uppercase;
	    }
	    &:first-child {
	    	margin-top: 0;
	    }
	}
}