.fy-exp-xs {
	@include media($extra-small-max-size){
		display: block;
		width: 100%;
		float: none;
		padding-left: 0;
		padding-right: 0;
	}
}
.fy-exp-s {
	@include media($small-max-size){
		display: block;
		width: 100%;
		float: none;
		padding-left: 0;
		padding-right: 0;		
	}

}
.fy-exp-m {
	@include media($medium-max-size) {
		display: block;
		width: 100%;
		float: none;
		padding-left: 0;
		padding-right: 0;
	}
}

.fy-expc-xs {
	> * {
		@include media($extra-small-max-size){
			display: block;
			width: 100%;
			float: none;
			padding-left: 0;
			padding-right: 0;
		}
	}

}
.fy-expc-s {
	> * {
		@include media($small-max-size){
			display: block;
			width: 100%;
			float: none;
			padding-left: 0;
			padding-right: 0;
		}

	}
}
.fy-expc-m {
	> * {
		@include media($medium-max-size){
			display: block;
			width: 100%;
			float: none;
			padding-left: 0;
			padding-right: 0;
		}
	}
}
