$offcanvas-background-color: $color-light-lighter;
$offcanvas-sidebar-background-color: $color-light-lighter;
$offcanvas-body-background-color: $color-light-full;

.fy-offc {
	display: flex;
	overflow: hidden;
	background-color: $offcanvas-background-color;
	@include media($medium-max-size) {
		display: block;
	}
	&_s {
		flex-basis: 250px;
		flex-shrink: 0;
		z-index: 100;
		background-color: $offcanvas-sidebar-background-color;
		z-index: 100;
		@include media($medium-max-size){
			position: absolute;
			top: 0;
			left: -250px;
			width: 250px;
		}
	}


	&_b {
		flex-grow: 1;
		width: auto;
		background-color: $offcanvas-body-background-color;
	}

}