extends _layout.pug
include _mixins
block content
	article.fy-bx
		+title('Box')
		+resume

		//- spec
		+section
			+subtitle('Usage')
			+description
			+demo
				+example
					.example-box.
						<div class="fy-bx">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
						Facilis blanditiis deleniti autem quis, explicabo ex ab 
						animi tempora rerum dignissimos eveniet, voluptatibus 
						</div>
				+code.
					<div class="fy-bx">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
					Facilis blanditiis deleniti autem quis, explicabo ex ab 
					animi tempora rerum dignissimos eveniet, voluptatibus 
					</div>



		//- spec
		+section
			+subtitle('Size')
			+description
			+properties([{'r':'','d':'Default'},{'r':'fy-bxs','d':'Small'},{'r':'fy-bxl','d':'Large'},{'r':'fy-bxsv','d':'Small vertical'},{'r':'fy-bxsh','d':'Small horizontal'},{'r':'fy-bxlv','d':'Large vertical'},{'r':'fy-bxlh','d':'Large horizontal'}])
			+demo
				+example
					.example-box.
						<div class="fy-bx">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Facilis blanditiis deleniti autem quis, explicabo ex ab
							animi tempora rerum dignissimos eveniet, voluptatibus
						</div>
						<div class="fy-bxs">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Facilis blanditiis deleniti autem quis, explicabo ex ab
							animi tempora rerum dignissimos eveniet, voluptatibus
						</div>
						<div class="fy-bxl">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Facilis blanditiis deleniti autem quis, explicabo ex ab
							animi tempora rerum dignissimos eveniet, voluptatibus
						</div>
						<div class="fy-bxsv">
							BOX SMALL VERTICAL<br>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Facilis blanditiis deleniti autem quis, explicabo ex ab
							animi tempora rerum dignissimos eveniet, voluptatibus
						</div>
						<div class="fy-bxsh">
							BOX SMALL HORIZONTAL<br>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Facilis blanditiis deleniti autem quis, explicabo ex ab
							animi tempora rerum dignissimos eveniet, voluptatibus
						</div>
						<div class="fy-bxlv">
							BOX LARGE VERTICAL<br>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Facilis blanditiis deleniti autem quis, explicabo ex ab
							animi tempora rerum dignissimos eveniet, voluptatibus
						</div>
						<div class="fy-bxlh">
							BOX LARGE HORIZONTAL<br>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Facilis blanditiis deleniti autem quis, explicabo ex ab
							animi tempora rerum dignissimos eveniet, voluptatibus
						</div>
				+code.
						<div class="fy-bx">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Facilis blanditiis deleniti autem quis, explicabo ex ab
							animi tempora rerum dignissimos eveniet, voluptatibus
						</div>
						<div class="fy-bxs">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Facilis blanditiis deleniti autem quis, explicabo ex ab
							animi tempora rerum dignissimos eveniet, voluptatibus
						</div>
						<div class="fy-bxl">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Facilis blanditiis deleniti autem quis, explicabo ex ab
							animi tempora rerum dignissimos eveniet, voluptatibus
						</div>
						<div class="fy-bxsv">
							BOX SMALL VERTICAL<br>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Facilis blanditiis deleniti autem quis, explicabo ex ab
							animi tempora rerum dignissimos eveniet, voluptatibus
						</div>
						<div class="fy-bxsh">
							BOX SMALL HORIZONTAL<br>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Facilis blanditiis deleniti autem quis, explicabo ex ab
							animi tempora rerum dignissimos eveniet, voluptatibus
						</div>
						<div class="fy-bxlv">
							BOX LARGE VERTICAL<br>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Facilis blanditiis deleniti autem quis, explicabo ex ab
							animi tempora rerum dignissimos eveniet, voluptatibus
						</div>
						<div class="fy-bxlh">
							BOX LARGE HORIZONTAL<br>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Facilis blanditiis deleniti autem quis, explicabo ex ab
							animi tempora rerum dignissimos eveniet, voluptatibus
						</div>

