extends _layout.pug
include _mixins
block content
	article.fy-bx
		+title('Font size')
		+resume


		//- spec
		+section
			+subtitle('Usage')
			+description
			+demo
				+example.
					<div class="fy-fz3">
						Lorem ipsum dolor sit amet consectetur adipisicing elit
					</div>
				+code.
					<div class="fy-fz3">
						Lorem ipsum dolor sit amet consectetur adipisicing elit
					</div>

		//- spec
		+section
			+subtitle('Sizes')
			+description
			+properties([{'r':'fy-fz[1-7]',	'd':'Font size from 1 to 7'}])
	
			+demo
				+example.
					<div class="fy-fz1">
						Lorem ipsum dolor sit amet consectetur.
					</div>
					<div class="fy-fz2">
						Lorem ipsum dolor sit amet consectetur.
					</div>
					<div class="fy-fz3">
						Lorem ipsum dolor sit amet consectetur.
					</div>
					<div class="fy-fz4">
						Lorem ipsum dolor sit amet consectetur.
					</div>
					<div class="fy-fz5">
						Lorem ipsum dolor sit amet consectetur.
					</div>
					<div class="fy-fz6">
						Lorem ipsum dolor sit amet consectetur.
					</div>
					<div class="fy-fz7">
						Lorem ipsum dolor sit amet consectetur.
					</div> 
				+code.
					<div class="fy-fz1">
						Lorem ipsum dolor sit amet consectetur.
					</div>
					<div class="fy-fz2">
						Lorem ipsum dolor sit amet consectetur.
					</div>
					<div class="fy-fz3">
						Lorem ipsum dolor sit amet consectetur.
					</div>
					<div class="fy-fz4">
						Lorem ipsum dolor sit amet consectetur.
					</div>
					<div class="fy-fz5">
						Lorem ipsum dolor sit amet consectetur.
					</div>
					<div class="fy-fz6">
						Lorem ipsum dolor sit amet consectetur.
					</div>
					<div class="fy-fz7">
						Lorem ipsum dolor sit amet consectetur.
					</div> 




					











					











