extends _layout.pug
block content
	.fy-hro
		.fy-mb10.fy-mt30
			a(href="/" onclick="gtag('event', 'go_home',{'event_category':'navigation'});")
				img.logo(src="images/logo-.png" alt="")
		.fy-mb10.fy-txac
			|Simple and beauty
			|<br>
			|css framework

		.fy-cg
			.fy-ss.-s
				._i
					a(href="{{config('social.facebook')}}" target="_blank" onclick="gtag('event', 'go_fan_page',{'event_category':'social','event_label':'sidebar'});")
						i.fab.fa-facebook-f
				._i
					a(href="{{config('social.twitter')}}" target="_blank" onclick="gtag('event', 'go_fan_page',{'event_category':'social','event_label':'sidebar'});")
						i.fab.fa-twitter
				._i
					a(href="{{config('social.github')}}" target="_blank" onclick="gtag('event', 'go_fan_page',{'event_category':'social','event_label':'sidebar'});")
						i.fab.fa-github

		.fy-cg.fy-mt50
			.fy-btng
				a.fy-btn(href="https://github.com/rollrodrig/fly-css-framework" target="_blank" onclick="gtag('event', 'github_repo',{'event_category':'download','event_label':'home'});") Github
				a.fy-btn(href="https://github.com/rollrodrig/fly-css-framework/archive/master.zip" onclick="gtag('event', 'download_zip',{'event_category':'download','event_label':'home'});") Download
				a.fy-btn(href="docs.html" onclick="gtag('event', 'docs',{'event_category':'navigation','event_label':'home'});") Docs
					