extends _layout.pug
include _mixins
block content
	article.fy-bx
		+title('Social')
		+resume

		//- spec
		+section
			+subtitle('Usage')
			+description
			+demo
				+example.

					<div class="fy-ss">
						<span class="_t">
							share
						</span><div class="_i">
							<i class="fab fa-facebook-f"></i>
						</div><div class="_i">
							<i class="fab fa-twitter"></i>
						</div><div class="_i">
							<i class="fab fa-youtube"></i>
						</div><div class="_i">
							<i class="fab fa-github"></i>
						</div><div class="_i">
							<i class="fab fa-instagram"></i>
						</div>
					</div>
					<br>
					<div class="fy-ss">
						<div class="_i">
							<i class="fab fa-facebook-f"></i>
						</div><div class="_i">
							<i class="fab fa-twitter"></i>
						</div><div class="_i">
							<i class="fab fa-youtube"></i>
						</div><div class="_i">
							<i class="fab fa-github"></i>
						</div><div class="_i">
							<i class="fab fa-instagram"></i>
						</div>
					</div>
				+code.

					<div class="fy-ss">
						<span class="_t">
							share
						</span><div class="_i">
							<i class="fab fa-facebook-f"></i>
						</div><div class="_i">
							<i class="fab fa-twitter"></i>
						</div><div class="_i">
							<i class="fab fa-youtube"></i>
						</div><div class="_i">
							<i class="fab fa-github"></i>
						</div><div class="_i">
							<i class="fab fa-instagram"></i>
						</div>
					</div>
					<div class="fy-ss">
						<div class="_i">
							<i class="fab fa-facebook-f"></i>
						</div><div class="_i">
							<i class="fab fa-twitter"></i>
						</div><div class="_i">
							<i class="fab fa-youtube"></i>
						</div><div class="_i">
							<i class="fab fa-github"></i>
						</div><div class="_i">
							<i class="fab fa-instagram"></i>
						</div>
					</div>


		//- spec
		+section
			+subtitle('Size')
			+description
			+properties([{'r':'-s','d':'Small'},{'r':'-l','d':'Large'}])
			+demo
				+example.

					<div class="fy-ss -s">
						<div class="_i">
							<i class="fab fa-facebook-f"></i>
						</div><div class="_i">
							<i class="fab fa-twitter"></i>
						</div><div class="_i">
							<i class="fab fa-youtube"></i>
						</div><div class="_i">
							<i class="fab fa-github"></i>
						</div><div class="_i">
							<i class="fab fa-instagram"></i>
						</div>
					</div>
					<br>
					<div class="fy-ss">
						<div class="_i">
							<i class="fab fa-facebook-f"></i>
						</div><div class="_i">
							<i class="fab fa-twitter"></i>
						</div><div class="_i">
							<i class="fab fa-youtube"></i>
						</div><div class="_i">
							<i class="fab fa-github"></i>
						</div><div class="_i">
							<i class="fab fa-instagram"></i>
						</div>
					</div>
					<br>
					<div class="fy-ss -l">
						<div class="_i">
							<i class="fab fa-facebook-f"></i>
						</div><div class="_i">
							<i class="fab fa-twitter"></i>
						</div><div class="_i">
							<i class="fab fa-youtube"></i>
						</div><div class="_i">
							<i class="fab fa-github"></i>
						</div><div class="_i">
							<i class="fab fa-instagram"></i>
						</div>
					</div>					
				+code.

					<div class="fy-ss -s">
						<div class="_i">
							<i class="fab fa-facebook-f"></i>
						</div><div class="_i">
							<i class="fab fa-twitter"></i>
						</div><div class="_i">
							<i class="fab fa-youtube"></i>
						</div><div class="_i">
							<i class="fab fa-github"></i>
						</div><div class="_i">
							<i class="fab fa-instagram"></i>
						</div>
					</div>
					<br>
					<div class="fy-ss">
						<div class="_i">
							<i class="fab fa-facebook-f"></i>
						</div><div class="_i">
							<i class="fab fa-twitter"></i>
						</div><div class="_i">
							<i class="fab fa-youtube"></i>
						</div><div class="_i">
							<i class="fab fa-github"></i>
						</div><div class="_i">
							<i class="fab fa-instagram"></i>
						</div>
					</div>
					<br>
					<div class="fy-ss -l">
						<div class="_i">
							<i class="fab fa-facebook-f"></i>
						</div><div class="_i">
							<i class="fab fa-twitter"></i>
						</div><div class="_i">
							<i class="fab fa-youtube"></i>
						</div><div class="_i">
							<i class="fab fa-github"></i>
						</div><div class="_i">
							<i class="fab fa-instagram"></i>
						</div>
					</div>



		//- spec
		+section
			+subtitle('Style')
			+description
			+properties([{'r':'-nm','d':'Without margin'},{'r':'-r','d':'Border rounded'},{'r':'-c','d':'Circle'}])
			+demo
				+example.

					<div class="fy-ss -nm">
						<div class="_i">
							<i class="fab fa-facebook-f"></i>
						</div><div class="_i">
							<i class="fab fa-twitter"></i>
						</div><div class="_i">
							<i class="fab fa-youtube"></i>
						</div><div class="_i">
							<i class="fab fa-github"></i>
						</div><div class="_i">
							<i class="fab fa-instagram"></i>
						</div>
					</div>
					<br>
					<div class="fy-ss -r">
						<div class="_i">
							<i class="fab fa-facebook-f"></i>
						</div><div class="_i">
							<i class="fab fa-twitter"></i>
						</div><div class="_i">
							<i class="fab fa-youtube"></i>
						</div><div class="_i">
							<i class="fab fa-github"></i>
						</div><div class="_i">
							<i class="fab fa-instagram"></i>
						</div>
					</div>
					<br>
					<div class="fy-ss -c">
						<div class="_i">
							<i class="fab fa-facebook-f"></i>
						</div><div class="_i">
							<i class="fab fa-twitter"></i>
						</div><div class="_i">
							<i class="fab fa-youtube"></i>
						</div><div class="_i">
							<i class="fab fa-github"></i>
						</div><div class="_i">
							<i class="fab fa-instagram"></i>
						</div>
					</div>				
				+code.

					<div class="fy-ss -nm">
						<div class="_i">
							<i class="fab fa-facebook-f"></i>
						</div><div class="_i">
							<i class="fab fa-twitter"></i>
						</div><div class="_i">
							<i class="fab fa-youtube"></i>
						</div><div class="_i">
							<i class="fab fa-github"></i>
						</div><div class="_i">
							<i class="fab fa-instagram"></i>
						</div>
					</div>
					<br>
					<div class="fy-ss -r">
						<div class="_i">
							<i class="fab fa-facebook-f"></i>
						</div><div class="_i">
							<i class="fab fa-twitter"></i>
						</div><div class="_i">
							<i class="fab fa-youtube"></i>
						</div><div class="_i">
							<i class="fab fa-github"></i>
						</div><div class="_i">
							<i class="fab fa-instagram"></i>
						</div>
					</div>
					<br>
					<div class="fy-ss -c">
						<div class="_i">
							<i class="fab fa-facebook-f"></i>
						</div><div class="_i">
							<i class="fab fa-twitter"></i>
						</div><div class="_i">
							<i class="fab fa-youtube"></i>
						</div><div class="_i">
							<i class="fab fa-github"></i>
						</div><div class="_i">
							<i class="fab fa-instagram"></i>
						</div>
					</div>
