extends _layout.pug
block content
	.fy-ctnr.-nm
		.fy-nb.fy-bct.fy-shm
			div
			#btn-nav.fy-nbb(fy-offc-bt)
				span
				span
				span
		.fy-offc
		.fy-offc_s(fy-offc-s)
			|sidebar
		.fy-offc_b(fy-offc-b)
			div(class="fy-wd8@l")
				article.fy-bx
					|content
