.fy-all {
	&:after {
		content: '.';
		display: block;
		visibility: hidden;
		height: 0;
		clear: both;
	}
	> * {
		float: left;
	}

}
.fy-alr {
	&:after {
		content: '.';
		display: block;
		visibility: hidden;
		height: 0;
		clear: both;
	}
	> * {
		float: right;
	}	
}
.fy-alc {
	text-align: center;
	> * {
		display: inline-block;
	}
}

.fy-all {
	&\@l {
		&:after {
			content: '.';
			display: block;
			visibility: hidden;
			height: 0;
			clear: both;
		}
		> * {
			@include min-media($large-min-size) {
				float: left;
			}			
		}
	}		
	&\@m {
		&:after {
			content: '.';
			display: block;
			visibility: hidden;
			height: 0;
			clear: both;
		}
		> * {
			@include min-media($medium-min-size) {
				float: left;
			}			
		}
	}
	&\@s {
		&:after {
			content: '.';
			display: block;
			visibility: hidden;
			height: 0;
			clear: both;
		}
		> * {
			@include min-media($small-min-size) {
				float: left;
			}			
		}
	}

}

.fy-alr {
	&\@l {
		&:after {
			content: '.';
			display: block;
			visibility: hidden;
			height: 0;
			clear: both;
		}
		> * {
			@include min-media($large-min-size) {
				float: right;
			}			
		}
	}		
	&\@m {
		&:after {
			content: '.';
			display: block;
			visibility: hidden;
			height: 0;
			clear: both;
		}
		> * {
			@include min-media($medium-min-size) {
				float: right;
			}			
		}
	}
	&\@s {
		&:after {
			content: '.';
			display: block;
			visibility: hidden;
			height: 0;
			clear: both;
		}
		> * {
			@include min-media($small-min-size) {
				float: right;
			}			
		}
	}
}

.fy-alc {
	&\@l {
		text-align: center;
		&:after {
			content: '.';
			display: block;
			visibility: hidden;
			height: 0;
			clear: both;
		}
		> * {
			@include min-media($large-min-size) {
				display: inline-block;
			}			
		}
	}		
	&\@m {
		text-align: center;
		&:after {
			content: '.';
			display: block;
			visibility: hidden;
			height: 0;
			clear: both;
		}
		> * {
			@include min-media($medium-min-size) {
				display: inline-block;
			}		
		}
	}
	&\@s {
		text-align: center;
		&:after {
			content: '.';
			display: block;
			visibility: hidden;
			height: 0;
			clear: both;
		}
		> * {
			@include min-media($small-min-size) {
				display: inline-block;
			}			
		}
	}
}







