.fy-bx {
	&sv {
		padding: 15px 30px;
	}
	&sh {
		padding: 30px 15px;
	}	

	&lv {
		padding: 60px 30px;
	}
	&lh {
		padding: 30px 60px;
	}
}


.fy-bx {
	padding: 30px;		
}
.fy-bxs {
	padding: 15px;		
}
.fy-bxl {
	padding: 50px;
}
.fy-bxxl {
	padding: 100px;
}


.fy-bx\@s {
	@include min-media($small-min-size) {
		padding: 30px;
	}			
}
.fy-bx\@m {
	@include min-media($medium-min-size) {
		padding: 30px;
	}			
}	
.fy-bx\@l {
	@include min-media($large-min-size) {
		padding: 30px;
	}			
}


.fy-bxs\@s {
	@include min-media($small-min-size) {
		padding: 15px;
	}			
}
.fy-bxs\@m {
	@include min-media($medium-min-size) {
		padding: 15px;
	}			
}
.fy-bxs\@l {
	@include min-media($large-min-size) {
		padding: 15px;
	}			
}


.fy-bxl\@s {
	@include min-media($small-min-size) {
		padding: 50px;
	}			
}
.fy-bxl\@m {
	@include min-media($medium-min-size) {
		padding: 50px;
	}			
}
.fy-bxl\@l {
	@include min-media($large-min-size) {
		padding: 50px;
	}			
}


.fy-bxxl\@s {
	@include min-media($small-min-size) {
		padding: 100px;
	}			
}
.fy-bxxl\@m {
	@include min-media($medium-min-size) {
		padding: 100px;
	}			
}
.fy-bxxl\@l {
	@include min-media($large-min-size) {
		padding: 100px;
	}			
}