$breadcrumb-color: $global-font-color-socondary;
$breadcrumb-color-active: $global-font-color-socondary;

.fy-brc {
	font-size: 12px;
	color: $breadcrumb-color;
 	a {
		color: $breadcrumb-color;
		text-decoration: none;
		&:hover {
			color: $breadcrumb-color;
			text-decoration: underline;
		}
	}
	.-a  {
		/*color: $breadcrumb-color-active;*/
		font-weight: bold;
		&:hover {
			color: $breadcrumb-color;
		}
	}
	> span {
		position: relative;
	    padding-left: 15px;
	    padding-right: 15px;

	    &:before, &:after {
	        position: absolute;
            left: 13px;
	        content: ' ';
	        height: 8px;
	        width: 1px;
	        background-color: $color-neutral;
	    }

	    &:before {
			transform: rotate(-45deg);
			top: 1px;	
	    }
	    &:after {
	    	transform: rotate(45deg);
			top: 6px;
	    }  
	}
	> span:last-item {
		display: none;
	}
}
.fy-brc {
	&.-l {
		font-size: 15px;
		> span {
		    &:before, &:after {
	            left: 13px;
		        height: 10px;
		    }
		    &:before {
				transform: rotate(-45deg);
		    }
		    &:after {
		    	transform: rotate(45deg);
				top: 8px;
		    } 
		}
	}
}










