.fy-btn  {
	display: inline-block;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0;
	text-align: center;
	font-size: 16px;
    height: 45px;
    line-height: 2.6;
	text-decoration: none;
	vertical-align: top;
    cursor: pointer;
	
}

@import "button-group";
@import "button-style";
@import "button-size";
@import "button-arrow";
@import "button-icon";
@import "button-loading";
@import "button-color";




