$button-border-color: $color-secondary-lighter;
$button-border-color-hover: $color-secondary;
$button-color: $color-secondary-darker;
$button-color-hover: $color-secondary-darker;
$button-background-color: $color-secondary-lighter;
$button-background-color-hover: $color-secondary-lighter;

.fy-btn  {
	display: inline-block;
	background-color: #ffffff;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 0px;
    padding-bottom: 0px;
	text-align: center;
	border:1px solid $button-border-color;
	font-size: 14px;
	color: $button-color;
    line-height: 3.1;
	text-decoration: none;
	vertical-align: top;

	&:not(:disabled) {
	    cursor: pointer;
	}

	&:hover {
		text-decoration: none;
		border:1px solid $button-border-color-hover;
	}

	&.-br {
		border-radius: 3px;
	}
	
	&.-fw {
		width: 100%;
		max-width: 100%;
	}
	&.-di {
		opacity: 0.7;
	}
	
	&.-ctr {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		left: 50%;
		transform: translateX(-50%);		
	}

}

@import "button-group";
@import "button-style";
@import "button-size";
@import "button-arrow";
@import "button-icon";
@import "button-loading";




