.fy-btn  {

	&.-xs {
		padding-left: 4px;
		padding-right: 4px;
		font-size: 11px;
	    line-height: 1.5;

	}

	&.-s {
		padding-left: 10px;
		padding-right: 10px;
		font-size: 12px;
        line-height: 2.8;
	}
	&.-m {
		
	}

	&.-l {
		padding-left: 30px;
		padding-right: 30px;
		font-size: 18px;
        line-height: 3.8;
	}
	
	&.-xl {
		padding-left: 40px;
		padding-right: 40px;
		font-size: 24px;
        line-height: 4.1;
	}

}







