.fy-btn  {
	
	&.-il {
		padding-left: 16px;
		padding-right: 18px;
	
	}
	&.-ir {
		padding-left: 21px;
		padding-right: 18px;
	}	



	&.-xs {
		&.-il {
			padding-left: 5px;
			padding-right: 7px;
		}
		&.-ir {
			padding-left: 9px;
			padding-right: 5px;
		}
	}


	
	&.-s {
		&.-il {
			padding-left: 12px;
		    padding-right: 14px;
		}
		&.-ir {
			padding-right: 12px;
			padding-left: 14px;
		}
	}



	&.-l {
		&.-il {
			padding-left: 26px;
		    padding-right: 36px;
		}
		&.-ir {
			padding-left: 34px;
			padding-right: 28px;
		}
	}



	&.-xl {
		&.-il {
			padding-left: 38px;
		    padding-right: 42px;
			 			
		}
		&.-ir {
			padding-left: 42px;
			padding-right: 38px;
			
		}
	}


}







