.fy-fd {
	position: relative;
	.fy-fd_e {
		position: absolute;
		top: 1px;
		right: 1px;
		color: $color-light-darker;
		display: flex;
		text-align: center;
		align-items: center;
		justify-content: center;
		width: 50px;
		font-size: 20px;
		height: 43px;
	}
}
.fy-fd {
	.fy-fs, 
	.fy-fi {
		padding-right: 50px;
		&.-xs {
			padding-right: 20px;
		}
		&.-s {
			padding-right: 35px;
		}
		&.-l {
			padding-right: 70px;
		}
	}
}



.fy-fd.-al {
	.fy-fd_e {
		left: 1px;
	}
	.fy-fs, 
	.fy-fi {
		padding-left: 50px;
		&.-xs {
			padding-left: 20px;
		}
		&.-s {
			padding-left: 35px;
		}
		&.-l {
			padding-left: 70px;
		}
	}
}

.fy-fd_e {
	&.-xs {
		height: 18px;
		width: 20px;
		font-size: 12px;
	}
	&.-s {
		height: 33px;
		width: 35px;
		font-size: 16px;
	}
	&.-l {
		height: 68px;
		width: 70px;
		font-size: 28px;
	}
}


























