.fy-fb {
	display: flex;
	.fy-fs, .fy-fi {
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: auto;
		border-right-width: 0px;
		&:focus {
			border-right-width: 1px;
		}
		&:focus + .fy-btn {
			border-left-width: 0px;
		}
	}
}

.fy-fb.-al {
	.fy-btn  {
		order: -1;
	}

	.fy-fs, .fy-fi {
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: auto;
		border-right-width: 1px;
		border-left-width: 0px;
		&:focus {
			border-left-width: 1px;
		}
		&:focus + .fy-btn {
			border-left-width: 1px;
			border-right-width: 0px;
		}
	}


}


























