$icon-color: #70757b;
.fy-ic {
    display: inline-block;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
	font-size: 16px;
    height: 45px;
    line-height: 2.6;
    text-decoration: none;
    vertical-align: top;
	border:1px solid transparent;
    background-color: transparent;
    cursor: pointer;
    &:hover {
    	border:1px solid $border-color;
    	background-color: $button-background-color-hover;
    }
    i {
    	line-height: inherit;
    }
	&.-xs {
		padding-left: 3px;
		padding-right: 3px;
		font-size: 11px;
		height: 18px;
	    line-height: 1.5;

	}
	&.-s {
	    padding-left: 12px;
	    padding-right: 12px;
		font-size: 14px;
		height: 30px;
        line-height: 2;
	}
	&.-m {
		
	}
	&.-l {
		padding-left: 27px;
		padding-right: 27px;
		font-size: 20px;
		height: 65px;
        line-height: 3;
	}
}