$loading-bar-bgcolor-default: $color-secondary-lighter;
$loading-bar-bgcolor-primary: $color-primary;
$loading-bar-bgcolor-secondary: $color-secondary;
$loading-bar-bgcolor-success: $color-success;
$loading-bar-bgcolor-warning: $color-warning;
$loading-bar-bgcolor-danger: $color-danger;
$loading-bar-bgcolor-info: $color-info;
$loading-bar-bgcolor-light: $color-light;
$loading-bar-bgcolor-dark: $color-dark;

.fy-ldb {
	display: block;
	width: 100%;
    border-radius: 3px;
    height: 12px;
    position: relative;
	background-color: $color-light-darker;
	border-top:1px solid #dbdbdb;
	
	&_c {
		top: -1px;
		left: 0;
		position: absolute;
	   	border-bottom-left-radius: 3px;
	   	border-top-left-radius: 3px;
		width: 40%;
    	height: 12px;
		border-top: 1px solid $color-primary;
    	background-color: $color-primary;
	}
	&.-s {
		height: 6px;
		.fy-ldb_c {
			height: 6px;
		}
	}
	&.-l {
		height: 24px;
		.fy-ldb_c {
			height: 24px;
		}
	}

}







