
/* margin top */

@for $i from 0 through $margin-loop-max-through {
	.fy-mt#{$i} {
		margin-top: $i*$margin-loop-constant;
	}
}

/* margin bottom */

@for $i from 0 through $margin-loop-max-through {
	.fy-mb#{$i} {
		margin-bottom: $i*$margin-loop-constant;
	}
}

/* margin left */
@for $i from 0 through $margin-loop-max-through {
	.fy-ml#{$i} {
		margin-left: $i*$margin-loop-constant;
	}
}

/* margin right */
@for $i from 0 through $margin-loop-max-through {
	.fy-mr#{$i} {
		margin-right: $i*$margin-loop-constant;
	}
}