
/* margin top */
.fy-mt {
	margin-top: 5px;
}
@for $i from 0 through $margin-loop-max-through {
	.fy-mt#{$i} {
		margin-top: $i*$margin-loop-constant;
	}
}

/* margin bottom */
.fy-mb {
	margin-bottom: 5px;
}
@for $i from 0 through $margin-loop-max-through {
	.fy-mb#{$i} {
		margin-bottom: $i*$margin-loop-constant;
	}
}

/* margin left */
.fy-ml {
	margin-left: 5px;
}
@for $i from 0 through $margin-loop-max-through {
	.fy-ml#{$i} {
		margin-left: $i*$margin-loop-constant;
	}
}

/* margin right */
.fy-mr {
	margin-right: 5px;
}
@for $i from 0 through $margin-loop-max-through {
	.fy-mr#{$i} {
		margin-right: $i*$margin-loop-constant;
	}
}

.fy-ma {
	display: block;
	margin: auto;
}