
$navbar-background-color: #ffffff;
$navbar-border-color: $color-light;

$navbar-link-active: #f8f8f8;

$navbar-link-color: #a3a4a6;
$navbar-link-color-hover: #4E5155;

$navbar-link-background-color: transparent;
$navbar-link-background-color-hover: $color-light-darker;

$navbar-link-border-bottom-color: $color-dark-lighter;

.fy-nb {
	font-size: 14px;
	background-color: $navbar-background-color;
	height: 68px;
	position: relative;
	display: flex;
	box-shadow: 0 1px 0 rgba(24,28,33,0.04);

	@include media($medium-max-size){
		height: auto;
		display: block;
	}

	&_l {
		padding: 10px;
	    display: flex;
	    align-items: center;
		@include media($medium-max-size){
			height: 68px;
		}		
	}

	&_g {
		flex-grow: 1;
		&:after {
			content: '.';
			display: block;
			visibility: hidden;
			height: 0;
			clear: both;
		}
		@include media($medium-max-size){
			/*flex-basis: 100%;*/
			display: block;
		}

		&l {
			display: block;
			float: left;
			&:after {
				content: '.';
				display: block;
				visibility: hidden;
				height: 0;
				clear: both;
			}
			@include media($medium-max-size) {
				display: block;
				float: none;
			}

		}
		&r {
			display: block;
			float: right;
			&:after {
				content: '.';
				display: block;
				visibility: hidden;
				height: 0;
				clear: both;
			}
			@include media($medium-max-size) {
				display: block;
				float: none;
			}
		}

		
	}

	&_i {
		display: flex;
		align-items: center;
		justify-content: center;
		float: left;
		padding: 0 18px;
     	height: 68px;
		text-decoration: none;
		color: $navbar-link-color;
		background-color: $navbar-link-background-color;
		text-align: center;
		position: relative;
		
		&:hover {
			color: $navbar-link-color-hover;
			text-decoration: none;
		}
		&.-a {
			color: $navbar-link-color-hover;
			text-decoration: none;
		}
		@include media($medium-max-size){
			/*display: block;*/
			width: 100%;
			float: none;
		}

		i {
			font-size: 18px;
		}
	}
	&_ic {
		display: block;
		width: 18px;
		height: 18px;
		position: relative;
		&_s {
		    width: 7px;
		    height: 7px;
		    border-radius: 50%;
		    background-color: $color-success;
		    display: block;
		    position: absolute;
		    top: -2px;
		    right: -2px;
		    &.-n {
				background-color: $color-primary;
		    }
		    &.-d {
		   		background-color: $color-danger;
		    }
		    &.-w {
		    	background-color: $color-warning;	
		    }
		}
	}

	.fy-nbb {
		position: absolute;
		top: 13px;
		right: 6px;
		display: none;
		@include media($medium-max-size) {
			display: block;

		}
		
	}


}

.fy-nb {
	&.-s {
		height: 37px;
		@include media($medium-max-size) {
			height: auto;
		}


		.fy-nb_l {
			padding: 2px;
			@include media($medium-max-size) {
				height: 37px;
			}

		}

		.fy-nb_i {
			font-size: 12px;
			padding: 0 18px;
			line-height: 3.1;
			height: 37px;
			i {
				font-size: 16px;
			}
		}
		.fy-fc {
			margin-top: 1px;
			margin-bottom: 1px;
		}

		.fy-nbb {
			top: 2px;
		}		

	}
}

.fy-nb {
	.fy-btn {
		margin-top: 2px;
	}
}
.fy-nb {
	.fy-fc {
		margin-top: 12px;
		margin-bottom: 12px;
		padding-left: 15px;
		padding-right: 15px;
		.fy-btn {
			margin-top: 0;
		}	
	}
}
.fy-nb > .fy-ctnr {
	display: flex;
	@include media($medium-max-size){
		height: auto;
		display: block;
	}
}
	

.fy-nb {
	&_dd {
		display: block;
		float: left;
		padding-left: 18px;
		padding-right: 28px;
 	    line-height: 5;
     	height: 68px;
		text-decoration: none;
		color: $navbar-link-color;
		text-align: center;
		position: relative;

		@include media($medium-max-size) {
			padding-left: 0;
			padding-right: 0;
			overflow: hidden;
			/*height: 50px;*/
			float: none;
			
		}

		&:hover {
			color: $navbar-link-color-hover;
			text-decoration: none;
		}
		&.-a {
			color: $navbar-link-color-hover;
			text-decoration: none;
		}
		@include media($medium-max-size){
			display: block;
			width: 100%;
		}


		&:before, &:after {
	        position: absolute;
	        content: ' ';
	        height: 8px;
	        width: 1px;
	        top: 32px;
	        background-color: $color-dark;
		}

	    &:before {
	        right: 16px;
	        transform: rotate(-45deg);
	    }
	    &:after {
	        right: 11px;
	        transform: rotate(45deg);
	    } 		
	
  		&:hover {
	        &:before {
	            transform: rotate(45deg);
	        }
	        &:after {
	            transform: rotate(-45deg);
	        } 
	    }

	    &.-o {
	        &:before {
	            transform: rotate(45deg);
	        }
	        &:after {
	            transform: rotate(-45deg);
	        } 

	        background-color: $navbar-link-background-color-hover;
	    }

	    > ._b {
	        display: none;
	        /*display: block;*/
	        /*background-color: orange;*/
	        width: 164px;
	        position: absolute;
	        z-index: 1000;
	        padding-top: 10px;
	        top: 49px;
	        left: 50%;
	        margin-left: -82px;
			
			@include media($medium-max-size) {
				display: block;
				position: static;
				width: 100%;
				margin-left: 0;
				overflow: hidden;
				padding-top: 0;
			}

		    > ._t {
		        width: 0;
		        height: 0;
		        border-style: solid;
		        border-width: 0 7.5px 10px 7.5px;
		        border-color: transparent transparent $color-light-darker transparent;   
		        position: absolute;
		        top: 0;
		        left: 50%;
		        margin-left: -7px;
		        @include media($medium-max-size) {
		        	display: none;
		        }
		    }

	    }

	    &:hover {
	        ._b {
	            display:block;
	        }
	    }

	    ._l {
	        background-color: #ffffff;
	        border:1px solid $color-light-darker;
	        box-shadow: 2px 2px 4px $color-light-darker;
	        @include media($medium-max-size)  {
        		background-color: $color-light-darker;
	        }
	        a {
	            line-height: 2.5;
	            display: block;
	            &:last-child {
	                border-bottom: none;
	            }
	            &:hover {
	                text-decoration: none;
	                background-color: $color-light-lighter;
	                @include media($medium-max-size) {
	                	background-color: $color-light-darker;
	                }
	            }
	        }
	    }
	}	
}

.fy-nb {
	&.-s {
		.fy-nb_dd {
			font-size: 12px;
			line-height: 3.1;
			@include media($medium-max-size) {
			}
			&:before, &:after {
		        top: 15px;
		        height: 6px;
			}
			&:after  {
			    right: 12px;

			}
			._b {
				top: 36px;
			}

		}		
	}
}


