
$navbar-button-background: #ffffff;
$navbar-button-background-hover: #fafafa;

$navbar-button-row: $color-secondary-lighter;
$navbar-button-row-hover: $color-secondary-lighter;
$navbar-button-border: $color-secondary-lighter;

.fy-nbb {
	cursor: pointer;
    height: 40px;
    width: 46px;
    padding: 12px 13px;
	display: inline-block;
	position: relative;
	border: 1px solid $border-color;
	background-color: #ffffff;
	border-radius: 3px;
	&:hover {
		border: 1px solid rgba(24, 28, 33, 0.17);
	}

	> span {
		display: block;
		height: 1px;
		background-color: $navbar-button-row;
		margin-bottom: 5px;
		&:last-child {
			margin-bottom: 0;
		}
	}

	&.-on {
		> span{
			position: absolute;
		    width: 20px;
		    border-radius: 5px;
		    left: 13px;
			&:nth-child(1),&:nth-child(2) {
				top: 18px;
			}
			&:nth-child(1) {
				transform: rotate(45deg);				
			}
			&:nth-child(2) {
				transform: rotate(-45deg);
			}
			&:nth-child(3) {
				display: none;
			}
		}
	}

}
.fy-nbb {
	&.-s {
		height: 36px;
		width: 38px;
		padding: 11px 11px;

		&.-on {
			>span {
				width: 16px;
				top: 17px;
				left: 10px;
			}
			
		}
	}
}


.fy-nbb {
	&.-c {
		> span {
			height: 5px;
			width: 5px;
			border-radius: 50%;
			left: 24px;
		}
	}
}

























