$outline: 1px solid rgba(24,28,33,0.06);
.fy-ol {
	border: $outline;
}
.fy-olb {
	border-bottom: $outline;
}
.fy-olt {
	border-top: $outline;
}
.fy-oll {
	border-left: $outline;
}
.fy-olr {
	border-right: $outline;
}

.fy-ol0 {
	border: 0;
}
.fy-olb0 {
	border-bottom: 0;
}
.fy-olt0 {
	border-top: 0;
}
.fy-oll0 {
	border-left: 0;
}
.fy-olr0 {
	border-right: 0;
}