.fy-pn {
	border:1px solid $border-color;
	background-color: #ffffff;
	margin-bottom: 20px;
	&_h {
		padding: 15px;
		border-bottom:1px solid $border-color;
		color: $color-secondary-darker;
		
	}
	&_b {
		padding: 15px;
	}
	&_f {
		padding: 15px;
		font-size: 13px;
	}
}