.fy-sc {
	&\@xs {
		@include media($extra-small-max-size) {
			overflow-x: scroll;
		}
	}		
	&\@s {
		@include media($small-max-size) {
			overflow-x: scroll;	
		
		}
	}
	&\@m {
		@include media($medium-max-size) {
			overflow-x: scroll;	
		}
	}
}






