
$table-text-color: $color-dark-lighter;
$table-text-head-color: $color-secondary;
$table-border-color: $border-color;
$table-hover-bgcolor: $border-color;

.fy-tbl {
	border-spacing: 0;
	border-collapse: collapse;
	text-align: left;
	background-color: #ffffff;
	font-size: 15px;
	color: $table-text-color;
	border: 1px solid $table-border-color;


	th {
		font-weight: normal;
		color: $table-text-head-color;
		padding: 20px;
		border-bottom: 1px solid $table-border-color;
	}
	th {
		i {
			&:hover {
				color:$table-text-color;
				cursor: pointer;
			}
		}
	}

	td {
		padding: 10px 20px;
	}

	&.-s {
		font-size: 13px;
		th {
			padding: 10px 15px;	
		}
		td {
			padding: 9px 10px;
		}
	}

	&.-lh {
		tr {
			th, td {
				border-bottom: 1px solid $table-border-color;
			}
			&:last-child {
				td {
					border-bottom: none;
				}
			}
		}
		 
	}
	&.-lv {
		tr {
			th, td {
				border-right: 1px solid $table-border-color;
				&:last-child {
					border-right: none;
				}
			}
					
		}
	}

	&.-ln {
		tr {
			th, td {
				border: 1px solid $table-border-color;	
			}
		}

	}
	&.-hv {
		tr:hover {
			background-color: $table-hover-bgcolor;
		}
		&.-h {
				tr {
					&:first-child {
						&:hover  {
							background-color: $table-hover-bgcolor;
						}
					}
				}
			} 		
	}
	&.-str {

		tr:nth-child(odd) {
		    background-color: $table-hover-bgcolor;
		}		
		tr:nth-child(even) {

		}

		&.-h tr {
			&:first-child {
				background-color: $table-hover-bgcolor;
			}
		}

	}

	&.-fw {
		width: 100%;
	}

}