.fy-tt {
	padding: 10px;
	width: 300px;
	position: absolute;
	border: 1px solid $color-light-darker;
	background-color: #ffffff;
	z-index: 1000;
	text-align: center;
	display: none;
	box-shadow: 2px 4px 10px rgba(195, 195, 195, 0.47);
}