/* fly prefix */

$prefix: 'fy-';

// columna width value
$column-width: 97px;

// Columns number
$max-cols-number: 12;

// Screen max size 
$container-max-width: $column-width * $max-cols-number;

// Mobile margins
$small-device-margin-left: 10px;
$small-device-margin-right: 10px;


// responsive sizes 

$extra-small-min-size: 0px;
$extra-small-max-size: 540px;

$small-min-size: 541px;
$small-max-size: 768px;

$medium-min-size: 769px;
$medium-max-size: 980px;

$large-min-size: 981px;


// Basic colors

$color-light-full: #ffffff;
$color-default: #ffffff;
$color-primary: #26B4FF;
$color-secondary: #8897AA;
$color-success: #02BC77;
$color-warning: #FFD950;
$color-danger: #d9534f;
$color-info: #28c3d7;
$color-light: #F5F5F6;
$color-dark: #2b2e33;

// Basic colors Lighter version
$color-primary-lighter: #5ad0ff;
$color-secondary-lighter: #a9a9a9;
$color-success-lighter: #03ca66;
$color-warning-lighter: #fbd24b;
$color-danger-lighter: #ffaeae;
$color-info-lighter: #9ad8ff;
$color-light-lighter: #FAFAFA;
$color-dark-lighter: #4f565a;

// Basic colors darker version
$color-primary-darker: #1d9adb;
$color-secondary-darker: #6c7886;
$color-success-darker: #009d63;
$color-warning-darker: #fec817;
$color-danger-darker: #b90d0d;
$color-info-darker: #27b6c9;
$color-light-darker: #ececec;
$color-dark-darker: #0F1418;


$color-neutral: #c2c2c2;
$color-default: #ffffff;


// Basic colors soft version
$color-soft-light-full: #ffffff;
$color-soft-primary: #cbeeff;
$color-soft-secondary: #ececec;
$color-soft-success: #d3ffbc;
$color-soft-warning: #fff9cf;
$color-soft-danger: #ffe6e6;
$color-soft-info: #e0f3ff;
$color-soft-light: #f9f9f9;
$color-soft-dark: #dedede;



// Hiperlink default colors
$color-hiperlink: #07C;
$color-hiperlink-hover: #34a9fd;
$color-hiperlink-visited: #005999;
$color-hiperlink-active: #005999;
$color-hiperlink-focus: #005999;


// Meta small text color
$color-meta: $color-secondary-lighter;


// Global variables

$global-font-size: 16px;
$global-font-family: Arial, Helvetica;
$global-font-style: normal;
$global-font-weight: 400;
$global-font-color: #676a6c;

// heading 
$heading-font-size-is1: 14px;
$heading-font-size-is2: 18px;
$heading-font-size-is3: 24px;
$heading-font-size-is4: 30px;
$heading-font-size-is5: 40px;
$heading-font-size-is6: 50px;
$heading-font-size-is7: 60px;


// margin loop
$margin-loop-max-through: 5;
$margin-loop-constant: 10px;

// padding loop
$padding-loop-max-through: 5;
$padding-loop-constant: 10px;


// background colors
$background-color-primary: $color-primary;
$background-color-secondary: $color-secondary;
$background-color-neutral: $color-neutral;
$background-color-warning: $color-warning;
$background-color-success: $color-success;

// Forms
$field-placeholder-color: #d8d8d8;


// Label
$label-bg-default: $color-light-darker;


// utilities
/*$border-color: rgba(24,28,33,0.06);*/
$border-color: #f3f4f4;































