@for $i from 1 through $max-cols-number {
	.fy-wd#{$i} {
		width: 100%;
		max-width: $column-width*$i;
		
		&\@l {
			@include min-media($large-min-size) {
				width: 100%;
				max-width: $column-width*$i;
			}
		}
		&\@m {
			@include min-media($medium-min-size) {
				width: 100%;
				max-width: $column-width*$i;
			}
		}
		&\@s {
			@include min-media($small-min-size) {
				width: 100%;
				max-width: $column-width*$i;
			}
		}
	}

}

