.fy-bx {
	padding: 30px;

	&sv {
		padding: 15px 30px;
	}
	&sh {
		padding: 30px 15px;
	}	

	&lv {
		padding: 60px 30px;
	}
	&lh {
		padding: 30px 60px;
	}
}

.fy-bxs {
	padding: 15px;
}


.fy-bxl {
	padding: 50px;
}
