
.fy-pf {
	display: inline-block;
	padding: 10px;
	position: relative;
	font-size: 16px;

	&_p {
		float: left;
		width: 60px;
		height: 60px;
		margin-right: 10px;
	}

	&_d {
		float: left;
		
	}

	&_m {
		font-size: 12px;
		color: $color-secondary-lighter;
	}

}

.fy-pf {
	&.-ar {
		.fy-pf_p {
			float: right;
			margin-left: 10px;
			margin-right: 0;
		}

		.fy-pf_d {
			float: right;
			text-align: right;
		}		
	}
}

.fy-pf {
	&.-pr {
		.fy-pf_p {
			border-radius: 50%;
			overflow: hidden;
		}
		
	}
}

.fy-pf {
	&.-dvc {
		display: flex;
		align-items: center;
	}
}


.fy-pf {

	&.-s {
		padding: 5px;
		font-size: 14px;
		.fy-pf_p {
			width: 40px;
			height: 40px;
			margin-right: 6px;
		}
		.fy-pf_m {
			font-size: 11px;
		}

	}	

	&.-l {
		padding: 14px;
		font-size: 20px;

		.fy-pf_p {
			width: 80px;
			height: 80px;
			margin-right: 15px;
		}

		.fy-pf_m {
			font-size: 13px;
		}
	}
	
}











