<div class="fy-offc">
	<div class="fy-offc_s">
		{{> component-sidebar}}
	</div>
	<div class="fy-offc_b fy-bcll">
		{{> component-navbar}}
		<div class="fy-bxs fy-bx@s ">
				<div class="fy-fx -aic -jcc">
					<div class="fy-wd4">
						<img class="fy-img -m fy-wd1 fy-mb3" src="../../images/logo.png" alt="">
						<div class="fy-crd">
							<div class="fy-crd_b">
								<div class="fy-fz3 fy-mb3 fy-cosl fy-opensans-light">
									Reset Your Password
								</div>
								<form action="" class="fy-fc">
									<div class="fy-fr ">
										<p class="fy-fz2 fy-cos">
											Enter your email address and we will send you a link to reset your password.
										</p>
									</div>
									<div class="fy-fr">
										<input type="text" class="fy-fi" placeholder="example@email.com">
									</div>
									<div class="fy-fr">
										<input type="submit" class="fy-btn -cp -fw" value="Send password reset Email">
									</div>
								</form>                    		
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>