<div class="fy-bcf fy-opensans-light blog_v1">
	{{> component-blog_list_navbar}}
	<div class="fy-hro fy-txac fy-bcl fy-mb5">
		<div class="fy-ctnr">
			<div class="fy-hro_b ">
				<h1>
					Welcome to my Blog
				</h1>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				</p>
			</div>
		</div>
	</div>
	<div class="fy-ctnr">
		<div class="fy-wd7 fy-ma ">
			{{> component-blog_list_article}}
			{{> component-blog_list_article}}
			{{> component-blog_list_article}}

		</div>
		{{> component-blog_list_pagination}}
	</div>
	<br>
	<br>
	<br>
	{{> component-blog_list_footer}}
</div>
