<div class="fy-bcf fy-opensans-light blog_v1">
	{{> component-blog_list_navbar}}
	<div class="fy-hro fy-txac fy-bcl fy-mb5">
		<div class="fy-ctnr">
			<div class="fy-hro_b ">
				<h1>
					Welcome to my Blog
				</h1>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				</p>
			</div>
		</div>
	</div>
	<div class="fy-ctnr">
		<div class="fy-fx@m">
			<div class="fy-fxg">
				<div class="">
					{{> component-blog_list_article}}
					{{> component-blog_list_article}}
					{{> component-blog_list_article}}
				</div>
				<div>
					{{> component-blog_list_pagination}}
				</div>

			</div>
			<div>
				<div class="fy-bxs fy-bx@s" style="width: 320px;">
					<div class="">
	                    <div class="fy-ti -s3">
	                    	Popular posts
	                    </div>
	                    <ul class="fy-nv">
	                    	<li>
	                    		<a href="">Lorem ipsum  <span class="fy-lbl -da">hot</span></a>
	                    	</li>
	                    	<li>
	                    		<a href="">Reprehenderit</a>
	                    	</li>
	                    	<li>
	                    		<a href="">Dapibus</a>
	                    	</li>
	                    	<li>
	                    		<a href="">Facilisis  <span class="fy-lbl -ss">new</span></a>
	                    	</li>
	                    	<li>
	                    		<a href="">Perspiciatis</a>
	                    	</li>
	                    </ul>
					</div>
					<hr class="fy-hr">

					<div>
	                    <div class="fy-ti -s3">
	                    	Social feed
	                    </div>
	                    <div>

							{{> component-blog_daily_feed_item}}
							{{> component-blog_daily_feed_item}}
							{{> component-blog_daily_feed_item}}
							{{> component-blog_daily_feed_item}}



	                    </div>
					</div>
					<hr class="fy-hr">

					<div>
	                    <div class="fy-ti -s3">
	                    	Tags
	                    </div>
	                    <div class="tag-cloud">
	                    	<span class="fy-bdg "> <a href="">Lorem </a>  </span>
	                    	<span class="fy-bdg "> <a href="">ipsum </a>  </span>
	                    	<span class="fy-bdg "> <a href="">dolor sit </a>  </span>
	                    	<span class="fy-bdg "> <a href="">amet</a>  </span>
	                    	<span class="fy-bdg "> <a href="">consectetur </a>  </span>
	                    	<span class="fy-bdg "> <a href="">adipisicing </a>  </span>
	                    	<span class="fy-bdg "> <a href="">elit</a>  </span>
	                    	<span class="fy-bdg "> <a href="">Officia </a>  </span>
	                    	<span class="fy-bdg "> <a href="">distinctio </a>  </span>
	                    </div>
					</div>


				</div>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	{{> component-blog_list_footer}}
</div>
