<div class="fy-offc">
	<div class="fy-offc_s">
		{{> component-sidebar}}
	</div>
	<div class="fy-offc_b fy-bcll">
		{{> component-navbar}}
		<div class="fy-bxs fy-bx@s ">

			<div class="fy-pn">
				<div class="fy-pn_h">
					<i class="fas fa-comment-alt"></i> Write a Comments
				</div>
				<div class="fy-pn_b">
					<form class="fy-fc" method="post">
                        <div class="fy-fr">
                            <textarea class="fy-ft" name="answer" id="answer"></textarea>
                            <div class="fy-fe">
                                Error message
                            </div>
                        </div>
                        
                        <div class="fy-fr">
                            <input type="button" class="fy-btn -cp" value="Responder">
                        </div>
                    </form>
				</div>
			</div>

		</div>
	</div>
</div>