<div class="fy-offc">
	<div class="fy-offc_s">
		{{> component-sidebar}}
	</div>
	<div class="fy-offc_b">
		{{> component-navbar}}
		<div class="fy-bx">
			<div class="fy-mb5">
				<div class="fy-fx@m  -jcsb">
					<div>
						<div class="fy-brc -l fy-pt1 fy-mb1">
							<a class="-a" href=""><i class="fas fa-book"></i> Courses</a>
						</div>
					</div>
					<div class="fy-wd4@m">
						<input type="text" class="fy-fi " placeholder="Search...">
					</div>
				</div>
			</div>

			<div class="fy-mb5">
				<div class="fy-gc -g">
					<div class="fy-gcl3 fy-gcm4 fy-gcs6 fy-gc12">
						{{> component-course_v2_item}}						
					</div>
					<div class="fy-gcl3 fy-gcm4 fy-gcs6 fy-gc12">
						{{> component-course_v2_item}}						
					</div>
					<div class="fy-gcl3 fy-gcm4 fy-gcs6 fy-gc12">
						{{> component-course_v2_item}}						
					</div>
					<div class="fy-gcl3 fy-gcm4 fy-gcs6 fy-gc12">
						{{> component-course_v2_item}}						
					</div>
					<div class="fy-gcl3 fy-gcm4 fy-gcs6 fy-gc12">
						{{> component-course_v2_item}}						
					</div>
					<div class="fy-gcl3 fy-gcm4 fy-gcs6 fy-gc12">
						{{> component-course_v2_item}}						
					</div>
					<div class="fy-gcl3 fy-gcm4 fy-gcs6 fy-gc12">
						{{> component-course_v2_item}}						
					</div>
					<div class="fy-gcl3 fy-gcm4 fy-gcs6 fy-gc12">
						{{> component-course_v2_item}}						
					</div>
					<div class="fy-gcl3 fy-gcm4 fy-gcs6 fy-gc12">
						{{> component-course_v2_item}}						
					</div>
					<div class="fy-gcl3 fy-gcm4 fy-gcs6 fy-gc12">
						{{> component-course_v2_item}}						
					</div>
					<div class="fy-gcl3 fy-gcm4 fy-gcs6 fy-gc12">
						{{> component-course_v2_item}}						
					</div>
					<div class="fy-gcl3 fy-gcm4 fy-gcs6 fy-gc12">
						{{> component-course_v2_item}}						
					</div>
				</div>

			</div>
			<div class="fy-mb5">
                {{> component-pagination}}
			</div>

		</div>
	</div>
</div>