<div class="fy-offc">
	<div class="fy-offc_s">
		{{> component-sidebar}}
	</div>
	<div class="fy-offc_b">
		{{> component-navbar}}
		<div class="fy-bx">
			<div class="fy-mb2">
				{{> component-breadcrumb_forum_threads}}	
			</div>

			<div class="fy-mb2">
				<a href="" class="fy-btn fy-wd2">New Thread</a>
			</div>

			<div>
				<div class="fy-sc@m fy-mb3">
					<div class="fy-ol fy-br4 fy-bcf  fy-cos fy-mws">
						<div class="fy-bxs fy-olb">
							<div class="fy-fz2">
								<div class="fy-gc">
									<div class="fy-gc7">&nbsp;</div>
									<div class="fy-gc1">Threads</div>
									<div class="fy-gc1">Replies</div>
									<div class="fy-gc3">Last update</div>
								</div>
							</div>
						</div>
						<div class="fy-bxs fy-olb">
							{{> component-forum_thread_row(title:'Lorem ipsum dolor sit amet, consectetur adipisicing elit.',threads:'23',replies:'45',daysago:'2',by:'Nick Jonas',image:'tout-4x3-climber.jpg')}}
						</div>
						<div class="fy-bxs fy-olb">
							<div class="fy-gc">
								<div class="fy-gc7">
									<div  class="fy-mb">
										<a href="">Ducimus unde labore facere explicabo ex. <span class="fy-lbl -ss">Solved</span> </a>	
									</div>
									<div class="fy-txmu fy-fz1">Started 25 days ago  ·  <a href="">Leon Wilson</a> </div>
								</div>
								<div class="fy-gc1">71</div>
								<div class="fy-gc1">34</div>
								<div class="fy-gc3">
									<div class="fy-fx">
										<div class="fy-mr1">
											<img class="fy-img -c -s32" src="../../images/sample/tout-4x3-climber.jpg" alt="">
										</div>
										<div class="fy-fxg">
											<div class="fy-txs">
												2 day ago	
											</div>
											<div class="fy-txmu">
												by <a href="">rollan mac</a>
											</div>
										</div>
									</div>
								</div>
							</div>


						</div>
						<div class="fy-bxs fy-olb">
							{{> component-forum_thread_row(title:'quas facere cupiditate voluptates',threads:'25',replies:'18',daysago:'2',by:'Nick Jonas',image:'tout-4x3-climber.jpg')}}
						</div>
						<div class="fy-bxs fy-olb">
							{{> component-forum_thread_row(title:'Lorem ipsum dolor sit amet, consectetur adipisicing elit.',threads:'23',replies:'45',daysago:'2',by:'Nick Jonas',image:'tout-4x3-climber.jpg')}}
						</div>
						<div class="fy-bxs fy-olb">
							{{> component-forum_thread_row(title:'Ex, minus? Animi vero deleniti tenetur facilis ipsa vel',threads:'74',replies:'7',daysago:'2',by:'Nick Jonas',image:'tout-4x3-climber.jpg')}}
						</div>
						<div class="fy-bxs fy-olb">
							{{> component-forum_thread_row(title:'quas facere cupiditate voluptates',threads:'25',replies:'18',daysago:'2',by:'Nick Jonas',image:'tout-4x3-climber.jpg')}}
						</div>
						<div class="fy-bxs fy-olb">
							{{> component-forum_thread_row(title:'Lorem ipsum dolor sit amet, consectetur adipisicing elit.',threads:'23',replies:'45',daysago:'2',by:'Nick Jonas',image:'tout-4x3-climber.jpg')}}
						</div>
						<div class="fy-bxs fy-olb">
							{{> component-forum_thread_row(title:'Ex, minus? Animi vero deleniti tenetur facilis ipsa vel',threads:'74',replies:'7',daysago:'2',by:'Nick Jonas',image:'tout-4x3-climber.jpg')}}
						</div>
						<div class="fy-bxs fy-olb">
							{{> component-forum_thread_row(title:'quas facere cupiditate voluptates',threads:'25',replies:'18',daysago:'2',by:'Nick Jonas',image:'tout-4x3-climber.jpg')}}
						</div>
						<div class="fy-bxs fy-olb">
							{{> component-forum_thread_row(title:'Lorem ipsum dolor sit amet, consectetur adipisicing elit.',threads:'23',replies:'45',daysago:'2',by:'Nick Jonas',image:'tout-4x3-climber.jpg')}}
						</div>
						<div class="fy-bxs fy-olb">
							{{> component-forum_thread_row(title:'Ex, minus? Animi vero deleniti tenetur facilis ipsa vel',threads:'74',replies:'7',daysago:'2',by:'Nick Jonas',image:'tout-4x3-climber.jpg')}}
						</div>
						<div class="fy-bxs fy-olb">
							{{> component-forum_thread_row(title:'quas facere cupiditate voluptates',threads:'25',replies:'18',daysago:'2',by:'Nick Jonas',image:'tout-4x3-climber.jpg')}}
						</div>
						<div class="fy-bxs fy-olb">
							{{> component-forum_thread_row(title:'Lorem ipsum dolor sit amet, consectetur adipisicing elit.',threads:'23',replies:'45',daysago:'2',by:'Nick Jonas',image:'tout-4x3-climber.jpg')}}
						</div>
						<div class="fy-bxs fy-olb">
							{{> component-forum_thread_row(title:'Ex, minus? Animi vero deleniti tenetur facilis ipsa vel',threads:'74',replies:'7',daysago:'2',by:'Nick Jonas',image:'tout-4x3-climber.jpg')}}
						</div>
						<div class="fy-bxs fy-olb">
							{{> component-forum_thread_row(title:'quas facere cupiditate voluptates',threads:'25',replies:'18',daysago:'2',by:'Nick Jonas',image:'tout-4x3-climber.jpg')}}
						</div>
						<div class="fy-bxs fy-olb">
							{{> component-forum_thread_row(title:'Lorem ipsum dolor sit amet, consectetur adipisicing elit.',threads:'23',replies:'45',daysago:'2',by:'Nick Jonas',image:'tout-4x3-climber.jpg')}}
						</div>
						<div class="fy-bxs fy-olb">
							{{> component-forum_thread_row(title:'Ex, minus? Animi vero deleniti tenetur facilis ipsa vel',threads:'74',replies:'7',daysago:'2',by:'Nick Jonas',image:'tout-4x3-climber.jpg')}}
						</div>
						<div class="fy-bxs fy-olb">
							{{> component-forum_thread_row(title:'quas facere cupiditate voluptates',threads:'25',replies:'18',daysago:'2',by:'Nick Jonas',image:'tout-4x3-climber.jpg')}}
						</div>
					</div>
				</div>
			</div>

			<div>
                {{> component-pagination}}
			</div>


		</div>
	</div>
</div>