<div class="fy-offc_">
	<div class="fy-offc_s_">
		<!-- {{> component-sidebar}} -->
	</div>
	<div class="fy-offc_b_">
		{{> component-navbar}}
		<div class="fy-bx">
			<div class="fy-mb5">
				{{> component-breadcrumb_forum}}	
			</div>

			<div>
				<div class="fy-sc@m fy-mb3">
					<div class="fy-ol fy-br4 fy-bcf  fy-cos fy-mwm">
						<div class="fy-bx fy-olb">
							<div class="">
								<div class="fy-gc">
									<div class="fy-gc7">General</div>
									<div class="fy-gc1">Threads</div>
									<div class="fy-gc1">Replies</div>
									<div class="fy-gc3">Last update</div>
								</div>
							</div>
						</div>
						<div class="fy-bx fy-olb">
							{{> component-forum_list_row(title:'Getting started',threads:'23',replies:'45',daysago:'2',by:'Nick Jonas',image:'tout-4x3-climber.jpg')}}
						</div>
						<div class="fy-bx fy-olb">
							{{> component-forum_list_row(title:'Announcements',threads:'74',replies:'7',daysago:'2',by:'Nick Jonas',image:'tout-4x3-climber.jpg')}}
						</div>
						<div class="fy-bx fy-olb">
							{{> component-forum_list_row(title:'Guides',threads:'25',replies:'18',daysago:'2',by:'Nick Jonas',image:'tout-4x3-climber.jpg')}}
						</div>
					</div>
				</div>


				
				<div class="fy-sc@m  fy-mb3">
					<div class="fy-ol fy-br4 fy-bcf fy-cos fy-mwm">
						<div class="fy-bx fy-olb">
							<div class="">
								<div class="fy-gc">
									<div class="fy-gc7">Cars</div>
									<div class="fy-gc1">Threads</div>
									<div class="fy-gc1">Replies</div>
									<div class="fy-gc3">Last update</div>
								</div>
							</div>
						</div>
						<div class="fy-bx fy-olb">
							{{> component-forum_list_row(title:'Getting started',threads:'23',replies:'45',daysago:'2',by:'Nick Jonas',image:'tout-4x3-climber.jpg')}}
						</div>
						<div class="fy-bx fy-olb">
							{{> component-forum_list_row(title:'Announcements',threads:'74',replies:'7',daysago:'2',by:'Nick Jonas',image:'tout-4x3-climber.jpg')}}
						</div>
						<div class="fy-bx fy-olb">
							{{> component-forum_list_row(title:'Guides',threads:'25',replies:'18',daysago:'2',by:'Nick Jonas',image:'tout-4x3-climber.jpg')}}
						</div>
					</div>
				</div>


				<div class="fy-sc@m fy-mb3">
					<div class="fy-ol fy-br4 fy-bcf  fy-cos fy-mwm">
						<div class="fy-bx fy-olb">
							<div class="">
								<div class="fy-gc">
									<div class="fy-gc7">Internet</div>
									<div class="fy-gc1">Threads</div>
									<div class="fy-gc1">Replies</div>
									<div class="fy-gc3">Last update</div>
								</div>
							</div>
						</div>
						<div class="fy-bx fy-olb">
							{{> component-forum_list_row(title:'Getting started',threads:'23',replies:'45',daysago:'2',by:'Nick Jonas',image:'tout-4x3-climber.jpg')}}
						</div>
						<div class="fy-bx fy-olb">
							{{> component-forum_list_row(title:'Announcements',threads:'74',replies:'7',daysago:'2',by:'Nick Jonas',image:'tout-4x3-climber.jpg')}}
						</div>
						<div class="fy-bx fy-olb">
							{{> component-forum_list_row(title:'Guides',threads:'25',replies:'18',daysago:'2',by:'Nick Jonas',image:'tout-4x3-climber.jpg')}}
						</div>
					</div>
					
				</div>



			</div>

		</div>
	</div>
</div>