<div class="fy-offc">
	<div class="fy-offc_s">
		{{> component-sidebar}}
	</div>
	<div class="fy-offc_b">
		{{> component-navbar}}

		<div class="fy-bx">
			<div class="fy-mb5">
				{{> component-breadcrumb_forum}}	
			</div>

			<div>
				
				<table class="fy-tbl -ln -fw">
                	<tbody><tr>
                		<th>General</th>
                		<th>Threads</th>
                		<th>Replies</th>
                		<th>Last update</th>
                	</tr>
                	<tr>
                		<td>Lorem</td>
                		<td>consectetur</td>
                		<td>adipisicing</td>
                		<td>adipisicing</td>
                	</tr>
                	<tr>
                		<td>Lorem</td>
                		<td>consectetur</td>
                		<td>adipisicing</td>
                		<td>adipisicing</td>
                	</tr>
                </tbody></table>


			</div>


		</div>
	</div>
</div>