<div class="fy-offc">
	<div class="fy-offc_s">
		{{> component-sidebar}}
	</div>
	<div class="fy-offc_b">
		{{> component-navbar}}

		<div class="fy-bx">
			
		<div class="fy-brc">
			<a href="">Category</a>
			<span></span>
			<a href="">Sub category</a>
			<span></span>
			<a class="-a" href="">Current item</a>
		</div>		


		</div>

	</div>
</div>