<div class="fy-offc">
	<div class="fy-offc_s">
		{{> component-sidebar}}
	</div>
	<div class="fy-offc_b">
		{{> component-navbar}}
		<div class="fy-bx">
			<div class="fy-mb3">
				{{> component-breadcrumb_forum_post}}	
			</div>
			
			<div class="fy-ol fy-bcf fy-mb5">
				<div class="fy-bx">
					<div class="fy-ti -s3">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. 	
					</div>
					<hr class="fy-hr -s">
					<p>
						Ut lobortis venenatis risus quis pellentesque. Donec id pulvinar erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum sollicitudin efficitur quam at aliquam. In hac habitasse platea dictumst. Morbi tempus nisl in lacus vestibulum, et scelerisque dui vulputate. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam in porttitor sem. Proin gravida arcu in enim bibendum, ac faucibus lectus consectetur. Quisque accumsan massa ut ipsum lacinia venenatis.
					</p>

					<p>
						Sed eleifend quis ante et interdum. Integer tincidunt eros quis aliquam ornare. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In dictum efficitur erat, vitae fringilla sem eleifend ut. Sed pulvinar elit nec maximus accumsan. Suspendisse tincidunt imperdiet purus ut finibus. Donec non quam felis. Proin efficitur, urna eu porttitor hendrerit, augue velit fringilla enim, eu sollicitudin risus nunc sit amet enim. Curabitur at hendrerit nisi. Quisque venenatis sapien libero, sit amet laoreet urna pharetra id. Quisque eu tortor massa. Vestibulum placerat augue at risus mollis, sodales varius tortor eleifend. Morbi porta ante eros. Etiam ornare massa nulla, a egestas risus consequat laoreet. Nulla dictum mattis tempus. Praesent feugiat interdum condimentum.
					</p>
				</div>
				<div class="fy-bxsv fy-cosl">
					<div class="fy-fx@s  -jcsb">
						<div class="fy-wd2 fy-fxasc fy-mb1">
							<div class="fy-gc">
								<div class="fy-gc6">
									<i class="far fa-heart fy-cod"></i> 48
								</div>
								<div class="fy-gc6">
									<i class="far fa-eye fy-cop"></i> 1,230
								</div>
							</div>
						</div>
						<button class="fy-btn"><i class="fas fa-pen"></i> Reply</button>
					</div>
				</div>
				<div class="fy-bxsv fy-olt">
					<div class="fy-pf -pr -s">
						<img class="fy-pf_p" src="http://via.placeholder.com/100x100" alt="">
						<div class="fy-pf_d">
							Jhon smith
							<div class="fy-pf_m">
								@supermaster
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="fy-mb5">
				{{> component-comment}}
			</div>

			<div class="fy-mb5">
                {{> component-pagination}}
			</div>

			<div>
				<div class="fy-bx fy-ol fy-bcf">
                    <form action="" class="fy-fc">
                    	<div class="fy-fr">
                    		<label for="" class="fy-fl">Write a comment</label>
                    		<textarea class="fy-ft"></textarea>
                    	</div>
                    	<div class="fy-fr">
                    		<input type="submit" class="fy-btn fy-wd2" value="Send comment">
                    	</div>
                    </form>
				</div>					
			</div>


		</div>
	</div>
</div>