<div class="fy-bcf fy-opensans-light">
	{{> component-home_navbar}}
	<div class="fy-hro fy-bcl fy-mb5 bgic" style="background-image: url('../../images/sample/bg-2.jpg');">
		<div class="fy-ctnr">
			<div class="fy-hro_b">
				<div class="fy-gc">
					<div class="fy-gc5">
						<h1>
							<span class="fy-hlli">
								CLEAN & FRESH	
							</span>
							 <br>
							<span class="fy-hlli">FULLY RESPONSIVE</span>
							 <br>
							<span class="fy-hlli">DESIGN</span>
							
						</h1>
						<p>
							<span class="fy-hlwa">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
							
						</p>
						
					</div>
					<div class="fy-gc7">
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="fy-ctnr">

		<div class="fy-wd4 fy-ma fy-txac fy-mb5">
			<div class="fy-ti -s4">
				THANKS FOR READING
			</div>
		</div>

		<div class="fy-gc -g">
			<div class="fy-gcs4">
                    <div class="fy-crd fy-txac fy-mb2">
                    	<div class="fy-crd_b">
                    		<div>
                    			<div class="ic-3453 fy-bcss fy-col">
                    				<i class="fas fa-broom"></i>
                    			</div>
                    		</div>

		                    <div class="fy-ti -s2">
		                    	BEAUTIFUL DESIGNS
		                    </div>
                    		<p>
                    			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis temporibus
                    		</p>

                    	</div>
                    </div>
			</div>

			<div class="fy-gcs4">

                    <div class="fy-crd fy-txac fy-mb2">
                    	<div class="fy-crd_b">
                    		<div>
                    			<div class="ic-3453 fy-bcss fy-col">
										<i class="fas fa-lightbulb"></i>
                    			</div>
                    		</div>

		                    <div class="fy-ti -s2">
		                    	GOOD IDEAS
		                    </div>
                    		<p>
                    			Nam voluptates minima, sit maiores quam. Soluta architecto voluptate ratione, magni nihil 
                    		</p>
                    	</div>
                    </div>
				
			</div>
			<div class="fy-gcs4">
                    <div class="fy-crd fy-txac fy-mb2">
                    	<div class="fy-crd_b">
                    		<div>
                    			<div class="ic-3453 fy-bcss fy-col">
                    				<i class="fas fa-headset"></i>
                    			</div>
                    		</div>

		                    <div class="fy-ti -s2">
		                    	24/7 SUPPORT
		                    </div>
                    		<p>
                    			Veniam, magnam reiciendis nostrum aliquam fugiat, dicta officia.
                    		</p>
                    	</div>
                    </div>
			</div>
		</div>
	</div>


	<div class="fy-ctnr">
		<hr class="fy-hr -l">
	</div>


	<div class="fy-ctnr">
		<div class="fy-wd4 fy-ma fy-txac fy-mb5">
			<div class="fy-ti -s4">
				OUR SERVICES	
			</div>
			<div>
				Sunt nemo totam in cumque eaque, maiores modi architecto quisquam magnam hic deserunt sapiente veniam nisi minima nihil
			</div>
		</div>

		<div class="fy-gc -g">
			<div class="fy-gcm4">
				<div class="bsha-345 fy-mb3">
					<div class="fy-bx fy-txac">
	                    <div class="fy-ti -s2 fy-opensans">
	                    	Marketing & Consulting
	                    </div>
	            		<p>
	            			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis temporibus
	            		</p>
					</div>
					<div>
						<div class="">
							<div class="fy-bxsv fy-olb">
								<i class="fas fa-check fy-coss"></i>
								<span class="fy-pl1">
									consectetur Lorem ipsum	
								</span>
							</div>
							<div class="fy-bxsv fy-olb">
								<i class="fas fa-check fy-coss"></i>
								<span class="fy-pl1">
									Lorem ipsum dolorLorem 
								</span>
							</div>
							<div class="fy-bxsv fy-olb">
								<i class="fas fa-check fy-coss"></i>
								<span class="fy-pl1">
									dolorLorem Aorem ipsum  
								</span>
							</div>
							<div class="fy-bxsv fy-olb">
								<i class="fas fa-check fy-coss"></i>
								<span class="fy-pl1">
									Bvtorem ipsum dolorLorem 
								</span>
							</div>
						</div>						
					</div>
				</div>
			</div>
			<div class="fy-gcm4">
				<div class="bsha-345 fy-mb3">
					<div class="fy-bx fy-txac">
	                    <div class="fy-ti -s2 fy-opensans">
	                    	Marketing & Consulting
	                    </div>
	            		<p>
	            			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis temporibus
	            		</p>
					</div>
					<div>
						<div class="">
							<div class="fy-bxsv fy-olb">
								<i class="fas fa-check fy-coss"></i>
								<span class="fy-pl1">
									consectetur Lorem ipsum	
								</span>
							</div>
							<div class="fy-bxsv fy-olb">
								<i class="fas fa-check fy-coss"></i>
								<span class="fy-pl1">
									Lorem ipsum dolorLorem 
								</span>
							</div>
							<div class="fy-bxsv fy-olb">
								<i class="fas fa-check fy-coss"></i>
								<span class="fy-pl1">
									dolorLorem Aorem ipsum  
								</span>
							</div>
							<div class="fy-bxsv fy-olb">
								<i class="fas fa-check fy-coss"></i>
								<span class="fy-pl1">
									Bvtorem ipsum dolorLorem 
								</span>
							</div>
						</div>						
					</div>
				</div>
			</div>
			<div class="fy-gcm4">
				<div class="bsha-345 fy-mb3">
					<div class="fy-bx fy-txac">
	                    <div class="fy-ti -s2 fy-opensans">
	                    	Marketing & Consulting
	                    </div>
	            		<p>
	            			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis temporibus
	            		</p>
					</div>
					<div>
						<div class="">
							<div class="fy-bxsv fy-olb">
								<i class="fas fa-check fy-coss"></i>
								<span class="fy-pl1">
									consectetur Lorem ipsum	
								</span>
							</div>
							<div class="fy-bxsv fy-olb">
								<i class="fas fa-check fy-coss"></i>
								<span class="fy-pl1">
									Lorem ipsum dolorLorem 
								</span>
							</div>
							<div class="fy-bxsv fy-olb">
								<i class="fas fa-check fy-coss"></i>
								<span class="fy-pl1">
									dolorLorem Aorem ipsum  
								</span>
							</div>
							<div class="fy-bxsv fy-olb">
								<i class="fas fa-check fy-coss"></i>
								<span class="fy-pl1">
									Bvtorem ipsum dolorLorem 
								</span>
							</div>
						</div>						
					</div>
				</div>
			</div>
		</div>
	</div>



	<div class="fy-ctnr">
		<hr class="fy-hr -l">
	</div>	

	<div class="fy-ctnr">
		<div class="fy-bxl">
			<div class="fy-mb5">
				<div class="fy-ti -s4">
					RECENT PROJECTS
				</div>
				<div>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum voluptas molestias cumque in ullam sunt repellat temporibus, nemo enim, numquam reprehenderit aut aperiam sint dolor, eaque! Explicabo, nisi commodi aliquam.
				</div>
			</div>
			<div class="fy-gc -g">
				<div class="fy-gcm4">
					<div class="fy-br5 fy-pn proj-45665" style="background-image: url('../../images/sample/thumb-square-gear.jpg');">
						<div class="fy-pn_b">
							<h3 class="fy-ti -s3">
								<span class="fy-hlli">
									Lorem ipsum dolor sit amet	
								</span>
		                    	
		                    </h3>
		                    <p>
		                    	<span class="fy-hlli">
		                    		Magni odit inventore, eligendi natus qui vitae minus culpa doloribus harum repellendus recusandae
		                    	</span>
		                    </p>
						</div>
					</div>
				</div>
				<div class="fy-gcm4">
					<div class="fy-br5 fy-pn proj-45665" style="background-image: url('../../images/sample/tout-4x3-climber.jpg');">
						<div class="fy-pn_b">
							<h3 class="fy-ti -s3">
								<span class="fy-hlli">
									consectetur <br> adipisicing	
								</span>
		                    	
		                    </h3>
		                    <p>
		                    	<span class="fy-hlli">
		                    		Molestiae sed ipsum reiciendis ex quasi, impedit dolor, quidem illo cupiditate.	
		                    	</span>
		                    </p>
						</div>
					</div>
				</div>
				<div class="fy-gcm4">
					<div class="fy-br5 fy-pn proj-45665" style="background-image: url('../../images/sample/thumb-square-ivy.jpg');">
						<div class="fy-pn_b">
							<h3 class="fy-ti -s3">
								<span class="fy-hlli">
									perspiciatis eaque eum,
								</span>
		                    	
		                    </h3>
		                    <p>
		                    	<span class="fy-hlli">
		                    		Impedit quos voluptate asperiores accusantium at  facilis, placeat explicabo accusamus dolorum? Omnis, ipsa, quo.		
		                    	</span>
		                    </p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>



	<div class="fy-ctnr">
		<hr class="fy-hr -l">
	</div>	

	<div class="fy-ctnr">
		<div class="fy-bxl">
			<div class="fy-gc">
				<div class="fy-gcm5">
					<div class="fy-mb5">
						<div class="fy-ti -s4">
							THE SOLUTIONS IS OUR GOAL
						</div>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum voluptas molestias cumque in ullam sunt repellat temporibus, nemo enim, numquam reprehenderit aut aperiam sint dolor, eaque! Explicabo, nisi commodi aliquam.
						</p>
	                    <div>
	                    	<a href="" class="fy-btn -cp fy-wd2">WRITE US</a>
	                    </div>
					</div>
				</div>
				<div class="fy-gcm7">
					
				</div>
			</div>
		</div>

	</div>





	<br>
	{{> component-blog_list_footer}}
</div>
