<div class="fy-offc">
	<div class="fy-offc_s">
		{{> component-sidebar}}
	</div>
	<div class="fy-offc_b fy-bcll">
		{{> component-navbar}}
		<div class="fy-bxs fy-bx@s ">
			<div class="fy-mb5">

				<div class="fy-fx@m  -jcsb">
					<div>
						<div class="fy-brc -l fy-pt1 fy-mb1">
							<a href=""><i class="fas fa-flag"></i> Consectetur</a>
							<span></span>
							<a href="">Placeat</a>
							<span></span>
							<a class="-a" href="">Proyects</a>
						</div>
					</div>
					<div class="fy-wd4@m">
						<input type="text" class="fy-fi " placeholder="Search...">
					</div>
				</div>


			</div>
			<div class="fy-mb5">
				<div class="fy-gc -g">
					<div class="fy-gc12 fy-gcs6 fy-gcm4 fy-gcl4">
						{{> component-proyect}}
					</div>
					<div class="fy-gc12 fy-gcs6 fy-gcm4 fy-gcl4">
						{{> component-proyect}}
					</div>
					<div class="fy-gc12 fy-gcs6 fy-gcm4 fy-gcl4">
						{{> component-proyect}}
					</div>
					<div class="fy-gc12 fy-gcs6 fy-gcm4 fy-gcl4">
						{{> component-proyect}}
					</div>
					<div class="fy-gc12 fy-gcs6 fy-gcm4 fy-gcl4">
						{{> component-proyect}}
					</div>
					<div class="fy-gc12 fy-gcs6 fy-gcm4 fy-gcl4">
						{{> component-proyect}}
					</div>
				</div>
				
			</div>
			<div class="fy-mb5">
				{{> component-pagination}}
			</div>
		</div>
	</div>
</div>


 cupiditate, earum enim eos eius beatae temporibus ab magni nisi, ea perspiciatis similique explicabo nostrum iusto, fuga tenetur voluptatum rem debitis.