<div class="fy-offc">
	<div class="fy-offc_s">
		{{> component-sidebar}}
	</div>
	<div class="fy-offc_b fy-bcll">
		{{> component-navbar}}
		<div class="fy-bxs fy-bx@s ">


				<div class="fy-fx -aic -jcc ">
					<div class="fy-wd4">
						<img class="fy-img -m fy-wd1 fy-mb3" src="../../images/logo.png" alt="">
						<div class="fy-crd">
							<div class="fy-crd_b">


								<div class="fy-fz3 fy-mb3 fy-cosl fy-opensans-light">
									Create an Account
								</div>

								<form action="" class="fy-fc">
									<div class="fy-fr">
										<label for="" class="fy-fl fy-cos">Username</label>
										<input type="text" class="fy-fi">
									</div>
									<div class="fy-fr">
										<label for="" class="fy-fl fy-cos">Email</label>
										<input type="text" class="fy-fi">
									</div>
									<div class="fy-fr">
										<label for="" class="fy-fl fy-cos">Password</label>		
										<input type="text" class="fy-fi" placeholder="">
									</div>
									<div class="fy-fr">
										<label for="cbox66" class="fy-fo -xs fy-cos">
					                    	<input id="cbox66" type="checkbox"> I agree to our <a href=""> terms of service and privacy policy</a>
					                    </label>
									</div>
									<div class="fy-fr">
										<input type="submit" class="fy-btn -cp -fw" value="Sign Up">
									</div>
								</form>                    		
							</div>
							<div class="fy-crd_f">
								<span class="fy-cosl">Already have an account?</span> <a href=""> Sign In</a>
							</div>
						</div>
					</div>
				</div>


		</div>
	</div>
</div>