<div class="fy-offc">
	<div class="fy-offc_s">
		{{> component-sidebar}}
	</div>
	<div class="fy-offc_b fy-bcll">
		{{> component-navbar}}
		<div class="fy-bxs fy-bx@s ">

			<div class="fy-pn">
				<div class="fy-pn_h">
					<div class="fy-fx -jcsb">
						<div>
							<i class="fas fa-comment-alt"></i> Comments
						</div>
						<div>
							<button class="fy-ic -xs"><i class="fas fa-caret-down"></i></button>
						</div>
					</div>
				</div>
				<div>
					{{> component-one_comment}}
				</div>
				<div>
					{{> component-one_comment}}
				</div>
				<div>
					{{> component-one_comment}}
				</div>
				<button style="border:none;" class="fy-btn -fw">Show more</button>
			</div>


		</div>
	</div>
</div>