<div class="fy-offc">
	<div class="fy-offc_s">
		{{> component-sidebar}}
	</div>
	<div class="fy-offc_b fy-bcll">
		{{> component-navbar}}
		<div class="fy-bxs fy-bxxl@s ">

				<div class="fy-fx -aic -jcc">
					<div class="fy-wd4 fy-bxl fy-ol fy-bcf">
							<div class="fy-txac fy-fz7 fy-mb3 fy-coss">
								<i class="far fa-check-circle"></i>	
							</div>
							<p class="fy-cos fy-txac">
								Your email address has been successfully confirmed.
							</p>
							<input type="submit" class="fy-btn -cp -fw" value="Proceed to your account">
					</div>

				</div>

		</div>
	</div>
</div>