<div class="fy-offc">
	<div class="fy-offc_s">
		{{> component-sidebar}}
	</div>
	<div class="fy-offc_b fy-bcll">
		{{> component-navbar}}
		<div class="fy-bxs fy-bx@s ">
			
			<div class="fy-gc -g">
				<div class="fy-gc4">
					{{> component-sidebar_a}}
				</div>
				<div class="fy-gc4">
					{{> component-sidebar_b}}
				</div>
				<div class="fy-gc4">
					{{> component-sidebar_c}}
				</div>
			</div>

		</div>
	</div>
</div>