<article class="fy-mb5">
	<div class="fy-mb2">
		<div class="fy-pf -s -pr">
			<img class="fy-pf_p" src="http://via.placeholder.com/100x100" alt="">

			<div class="fy-pf_d">
				Jhon smith
				<div class="fy-pf_m">
					@supermaster
				</div>
				<div class="fy-pf_m">
					May 31 2017 - 5 min read
				</div>
			</div>
		</div>	
	</div>
	<div class="fy-mb3">
		<img src="../../images/sample/post-1.png" class="fy-img -fw" alt="">
	</div>
	<h1 class="fy-ti -s3 fy-opensans-light">
		Facilis magnam eveniet in, ex aperiam
	</h1>
	<div class="fy-mb2">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. A nam, sunt deserunt ab praesentium aut error blanditiis. Facilis magnam eveniet in, ex aperiam necessitatibus, ipsum, dolor architecto placeat repudiandae sint!	
		</p>
		<a href="" class="fy-fwb fy-fz2 fy-opensans-bold">Read more...</a>
	</div>
	<div class="fy-pt2 fy-pb2 fy-olt fy-olb fy-fz2">
		<div class="fy-fx -jcsb">
			<div>
				<i class="far fa-heart"></i> 5k	
			</div>
			<div>
				<i class="far fa-comment-alt"></i> 10 Comments &nbsp;&nbsp; <i class="far fa-bookmark"></i> Bookmark
			</div>
		</div>
	</div>
</article>