			<div class="fy-wd7 fy-ma fy-mb5">
				<div>
					<div class="fy-fx -jcsb">
						<a href="" class="fy-btn -s"><i class="fas fa-angle-left"></i> Prev</a>
						<div>
							<a href="" class="fy-btn -s">4</a>
							<a href="" class="fy-btn -s">5</a>
							<a href="" class="fy-btn -s">6</a>
						</div>
						<a href="" class="fy-btn -s">Next <i class="fas fa-angle-right"></i></a>
					</div>
				</div>
			</div>