<div class="fy-fx@m  -jcsb">
	<div>
		<div class="fy-brc fy-pt1 fy-mb1">
			<a href=""><i class="fas fa-comments"></i> Forum</a>
			<span></span>
			<a href="">Sub category</a>
			<span></span>
			<a class="-a" href="">Current item <span class="fy-lbl fy-bcw">NEW</span>  </a>
		</div>
	</div>
	<div class="fy-wd4@m">
		<input type="text" class="fy-fi " placeholder="Search...">
	</div>
</div>