<div class="fy-bxs">
    <div class="fy-fx fy-fz2">
        <div class="fy-pr1">
            <img class="fy-img -c -s64" src="../../images/sample/face-3.png" alt="">
        </div>
        <div class="fy-fxg">
            <div class="fy-mb1">
                <div class="fy-fxg">
                    <div class="fy-fx">
                        <div class="fy-fxg">
                            <div  class="fy-fwb fy-opensans-bold">
                                Jhon Wick
                            </div>
                            <div class="fy-txmu fy-fz2">
                                Lorem ipsum dolor sit amet consectetur...
                            </div>
                        </div>
                        <div class="fy-txmu fy-fz1 fy-txar">
                            <div style="width: 40px;">
                                10am <i class="fas fa-angle-down"></i>
                            </div>
                            <div>
                                <div class="fy-ic -xs"><i class="fas fa-cog"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
