<div>
    <div class="fy-bcf">
        <div class="fy-bxs">
            <form action="" class="fy-fc">
                <div class="fy-fd">
                    <input type="text" class="fy-fi"  placeholder="Search messenger">
                    <div class="fy-fd_e"><i class="fas fa-search"></i></div>
                </div>                
            </form>            
        </div>
        <div style="overflow-y:scroll;">
            <div style="height: 600px;">
                {{> component-chat_contact_list_item}}
                {{> component-chat_contact_list_item}}
                {{> component-chat_contact_list_item}}
                {{> component-chat_contact_list_item}}
                {{> component-chat_contact_list_item}}
                {{> component-chat_contact_list_item}}
                {{> component-chat_contact_list_item}}
                {{> component-chat_contact_list_item}}
                {{> component-chat_contact_list_item}}
                {{> component-chat_contact_list_item}}
                {{> component-chat_contact_list_item}}
            </div>
        </div>
    </div>
</div>