<div>
    <div class="fy-bcf">

        {{> component-chat_contact_list_item}}
        {{> component-chat_contact_list_item}}
        {{> component-chat_contact_list_item}}
        {{> component-chat_contact_list_item}}

    </div>
    
</div>