<div class="comments">

	<div class="fy-bx fy-ol fy-bcf">
		<div class="fy-crd_b">
			<div class="fy-fx">
				<div>
					<img class="fy-img -c" src="http://via.placeholder.com/40x40" alt="">
				</div>
				<div class="fy-fxg fy-pl1">
					<div class="fy-fx -jcsb">
						<div>
							<div class="fy-mb1">
								<div class="fy-fz2">
									Ana Montesco
								</div>
								<div class="fy-fz1">
									24 december 2019, 22:34
								</div>
							</div>
							<p class="fy-fz2">
								Voluptate eius minima quia porro officia, quasi tempore nesciunt praesentium necessitatibus cupiditate, ipsam incidunt, quod iusto laboriosam. Ipsum pariatur omnis, fugit beatae?
							</p>
							<div>
								{{> component-comment_status}}
							</div>

							<!-- Answer -->
							<div class="fy-mt2">
								<div class="">
									<div class="fy-fx">
										<div>
											<img class="fy-img -c" src="http://via.placeholder.com/40x40" alt="">
										</div>
										<div class="fy-fxg fy-pl1">
											<div class="fy-fx -jcsb">
												<div>
													<div class="fy-mb1">
														<div class="fy-fz2">
															Jhon Snow
														</div>
														<div class="fy-fz1">
															24 december 2019, 22:34
														</div>
													</div>
													<div class="fy-fz2">
														Voluptate eius minima quia porro officia, quasi tempore nesciunt praesentium necessitatibus cupiditateod iusto laboriosam. Ipsum pariatur omnis, fugit beatae?
													</div>
													<div class="fy-mt1 fy-fz1">
														{{> component-comment_status}}
													</div>
												</div>
												<div>
													<i class="fas fa-ellipsis-h fy-cosl"></i>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="fy-mt2">
								<div class="">
									<div class="fy-fx">
										<div>
											<img class="fy-img -c" src="http://via.placeholder.com/40x40" alt="">
										</div>
										<div class="fy-fxg fy-pl1">
											<div class="fy-fx -jcsb">
												<div>
													<div class="fy-mb1">
														<div class="fy-fz2">
															Elena Snow
														</div>
														<div class="fy-fz1">
															24 december 2019, 22:34
														</div>
													</div>
													<div class="fy-fz2">
														Voluptate eius minima quia porro officia, quasi tempore nesciunt praesentium necessitatibus cupiditateod iusto laboriosam. Ipsum pariatur omnis, fugit beatae?
													</div>
													<div class="fy-mt1 fy-fz1">
														{{> component-comment_status}}
													</div>
												</div>
												<div>
													<i class="fas fa-ellipsis-h fy-cosl"></i>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div>
							<i class="fas fa-ellipsis-h fy-cosl"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="fy-bx fy-ol fy-bcf">
		<div class="fy-fx fy-mb2">
			<div>
				<img class="fy-img -c" src="http://via.placeholder.com/40x40" alt="">
			</div>
			<div class="fy-fxg fy-pl1">
				<div class="fy-fx -jcsb">
					<div>
						<div class="fy-mb1">
							<div class="fy-fz2">
								Sofia Poe
							</div>
							<div class="fy-fz1">
								24 december 2019, 22:34
							</div>
						</div>
						<p class="fy-fz2">
							Quae fugit laudantium repellat cupiditate recusandae hic. Quo sapiente cupiditate rem omnis, magni saepe temporibus, quis, itaque quasi ipsam consequuntur. Nesciunt, eveniet.
						</p>
						<div class="fy-mt1 fy-fz1">
							{{> component-comment_status}}
						</div>
					</div>
					<div>
						<i class="fas fa-ellipsis-h fy-cosl"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="fy-bx fy-ol fy-bcf">
		<div class="fy-fx fy-mb2">
			<div>
				<img class="fy-img -c" src="http://via.placeholder.com/40x40" alt="">
			</div>
			<div class="fy-fxg fy-pl1">
				<div class="fy-fx -jcsb">
					<div>
						<div class="fy-mb1">
							<div class="fy-fz2">
								Lovecraft Run
							</div>
							<div class="fy-fz1">
								24 december 2019, 22:34
							</div>
						</div>
						<p class="fy-fz2">
							Quae fugit laudantium repellat cupiditate recusandae hic. Quo sapiente cupiditate rem omnis, magni saepe temporibus, quis, itaque quasi ipsam consequuntur. Nesciunt, eveniet.
						</p>
						<div class="fy-mt1 fy-fz1">
							{{> component-comment_status}}
						</div>
					</div>
					<div>
						<i class="fas fa-ellipsis-h fy-cosl"></i>
					</div>
				</div>
			</div>
		</div>
	</div>	
	
</div>