<div class="fy-pn">
	<!-- chat head -->
	<div class="">
		<div class="fy-fx fy-olb">
			<div>
				<div style="width: 300px;">
			        <div class="fy-bxs">
			            <div class=" fy-fx -jcsb fy-cop">
			                <div>
			                    <i class="fas fa-cog"></i>
			                </div>
			                <div>
			                    Messenger
			                </div>
			                <div>
			                    <i class="far fa-edit"></i>
			                </div>
			            </div>
			        </div>
				</div>
			</div>
			<div class="fy-fxg fy-oll">
				<div class="fy-bxs fy-txac">
					<div>
						Jack Parker
					</div>
					<div class="fy-txmu">
						Active on Messenger
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- chat body -->
	<div class="fy-fx">
		<div>
			<div style="width: 300px;">
				{{> component-chat_contact_list}}	
			</div>
		</div>
		<div class="fy-fxg fy-oll">
			<div class="fy-fx">
				<div class="fy-fxg">
					<div class="fy-bxs">
						{{> component-chat_window}}
					</div>
				</div>
				<div class="fy-oll">
					<div style="width: 300px;">
						<div>
		                    <div class="fy-fx">
		                        <div class="fy-fxg">
				                    <div class="fy-pf -dvc -pr">
				                    	<img class="fy-pf_p" src="../../images/sample/face-3.png" alt="">
				                    	<div class="fy-pf_d">
				                    		Jhon smith
				                    		<div class="fy-pf_m">
				                    			Active on messenger
				                    		</div>
				                    	</div>
				                    </div>

		                        </div>
		                    </div>
						</div>
						<div class="fy-olt">
							<div class="fy-bxs fy-cosl">
								<div class="fy-fx">
									<div class="fy-fxg">
										Options
									</div>
									<div>
										<i class="fas fa-angle-down"></i>
									</div>
								</div>
							</div>
						</div>
						<div class="fy-olb">
		                    <div class="fy-fz2">
		                    	<div class="fy-bxs">
		                    		<a href="">
		                    			<i class="fas fa-search"></i> Lorem ipsum dolor	
		                    		</a>
		                    	</div>
		                    	<div class="fy-bxs">
		                    		<a href="">
		                    			<i class="far fa-edit"></i> Consectetur adipisicing
		                    		</a>
		                    	</div>
		                    	<div class="fy-bxs">
		                    		<a href="">
		                    			<i class="fas fa-hand-holding-heart"></i> Repudiandae
		                    		</a>
		                    	</div>
		                    	<div class="fy-bxs">
		                    		<a href="">
		                    			<i class="far fa-thumbs-up"></i> Repudiandae
		                    		</a>
		                    	</div>
		                    	<div class="fy-bxs">
		                    		<a href="">
		                    			<i class="far fa-bell"></i> Asperiores quae
		                    		</a>
		                    	</div>

		                    </div>							
						</div>
						<div class="fy-olt">
							<div class="fy-bxs fy-cosl">
								<div class="fy-fx">
									<div class="fy-fxg">
										Shared photos
									</div>
									<div>
										<i class="fas fa-angle-down"></i>
									</div>
								</div>
							</div>
						</div>
						<div>
							<div class="fy-bxs">
								<img class="fy-img -s128" src="../../images/sample/thumb-square-gear.jpg" alt="">
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>