<div class="fy-nb">
	<div class="fy-nb_l">
		<div class="fy-shm">
			<img class="lgo-mob" src="http://localhost:9797/images/logo-.png" alt="">
		</div>
	</div>
	<div class="fy-nb_g">
		<div class="fy-nb_gl">
			<a href="#" class="fy-nb_i">Menú</a>
			<a href="#" class="fy-nb_i">Document</a>
			<a href="#" class="fy-nb_i">Example</a>
		</div>
		<div class="fy-nb_gr">
			<a href="#" class="fy-nb_i">Example</a>
			<a href="#" class="fy-nb_i">Login</a>
		</div>
	</div>
	<div class="fy-nbb">
		<span></span>
		<span></span>
		<span></span>
	</div>
</div>