<div class="fy-bxs mhv100">

	<div class="fy-mb2 fy-bxs">
		<img class="lgo-mob" src="http://localhost:9797/images/logo-.png" alt="">
		<br>
		flycssframework
	</div>

    <ul class="fy-nv -h">
    	<li>
    		<i class="far fa-file"></i>
    		<span>Forums</span>
    	</li>
    	<li>
    		<ul class="fy-nv">
		    	<li>
		    		<a href="">List</a>
		    	</li>
		    	<li>
		    		<a href="">Threads</a>
		    	</li>
		    	<li>
		    		<a href="">Discussion</a>
		    	</li>    			
    		</ul>
    	</li>
    </ul>
    <ul class="fy-nv -h">
    	<li>
    		<i class="far fa-file"></i>
    		<span>Typografy</span>
    	</li>
    	<li>
    		<ul class="fy-nv">
		    	<li>
		    		<a href="">Reprehenderit</a>
		    	</li>
		    	<li>
		    		<a href="">Dapibus</a>
		    	</li>
		    	<li>
		    		<a href="">Facilisis</a>
		    	</li>    			
    		</ul>
    	</li>
    </ul>

</div>
