<div class="fy-bxs mhv100 sidebar fy-opensans-light">


	<div class="fy-mb2 fy-bxs">
		<img class="lgo-mob" src="../../images/logo-noname.png" alt="">
		<br>
		cssframework
	</div>

    <ul class="fy-nv -h">
    	<li>
    		<i class="far fa-file"></i>
    		<span>Forums</span>
    	</li>
    	<li>
    		<ul class="fy-nv">
		    	<li>
		    		<a href="{{link.page-forum_list}}">List</a>
		    	</li>
		    	<li>
		    		<a href="{{link.page-forum_threads}}">Threads</a>
		    	</li>
		    	<li>
		    		<a href="{{link.page-forum_post}}">Post</a>
		    	</li>    			
    		</ul>
    	</li>
    </ul>
    <ul class="fy-nv -h">
    	<li>
    		<i class="far fa-file"></i>
    		<span>Courses</span>
    	</li>
    	<li>
    		<ul class="fy-nv">
		    	<li>
		    		<a href="{{link.page-courses_v1}}">Course v1</a>
		    	</li>
		    	<li>
		    		<a href="{{link.page-courses_v2}}">Course v2</a>
		    	</li>
    		</ul>
    	</li>
    </ul>
    <ul class="fy-nv -h">
    	<li>
    		<i class="far fa-file"></i>
    		<span>Authentication</span>
    	</li>
    	<li>
    		<ul class="fy-nv">
		    	<li>
		    		<a href="{{link.page-auth_login_v1}}">Login v1</a>
		    	</li>
		    	<li>
		    		<a href="{{link.page-auth_signup_v1}}">Signup v1</a>
		    	</li>
		    	<li>
		    		<a href="{{link.page-auth_reset_pass_v1}}">Reset Password</a>
		    	</li>
		    	<li>
		    		<a href="{{link.page-auth_change_pass_v1}}">Change Password</a>
		    	</li>
    		</ul>
    	</li>
    </ul>
    <ul class="fy-nv -h">
    	<li>
    		<i class="far fa-file"></i>
    		<span>Messages</span>
    	</li>
    	<li>
    		<ul class="fy-nv">
		    	<li>
		    		<a href="{{link.page-messages_success}}">Success</a>
		    	</li>
		    	<li>
		    		<a href="{{link.page-messages_error}}">Error</a>
		    	</li>
		    	<li>
		    		<a href="{{link.page-messages_warning}}">Warning</a>
		    	</li>
    		</ul>
    	</li>
    </ul>
    <ul class="fy-nv -h">
    	<li>
    		<i class="far fa-file"></i>
    		<span>AAA</span>
    	</li>
    	<li>
    		<ul class="fy-nv">
		    	<li>
		    		<a href="{{link.page-proyects}}">Proyects</a>
		    	</li>
		    	<li>
		    		<a href="{{link.page-teams}}">Teams</a>
		    	</li>
    		</ul>
    	</li>
    </ul>

</div>
