<div class="fy-bxs mhv100">
    <ul class="fy-nv -h">
    	<li>
    		<a href="">LOREM LIPSUM</a>
    	</li>
    	<li>
    		<a href="">Reprehenderit</a>
    	</li>
    	<li>
    		<a href="">Dapibus</a>
    	</li>
    	<li>
    		<a href="">Facilisis</a>
    	</li>
    </ul>

</div>
