.hljs {
    background-color: transparent;
    background:transparent;
}
.example {
    margin-bottom: 10px;
}
.code {
    margin-bottom: 10px;
}

pre {
    padding: 5px;
}

.demo {
    margin-top: 20px;
    margin-bottom: 60px;
}
.example-tooltip .fy-tt {
    display: block !important;

}

.lgo-mob {
    height: 45px;
    margin-top: 2px;
    margin-left: 20px;

}

.fy-offc,
.fy-offc_s {

}
.properties {
    margin-bottom: 15px;
}
.example-self-align div {
    border:1px solid #c3c3c3;
}

.comp-t {
}
.comp-st {
    text-transform: capitalize;
}

.fy-nbb {
    background-color: transparent;
}
.logo {
    margin-left: auto;
    margin-right: auto;
    width: 110px;
    display: block;
}
.markup {
    width:100%;
    max-width: 600px;
    overflow: auto;   
}
.example-grid .fy-gc {
    margin-bottom: 20px;
}
.example-grid .fy-gc > div{
    border:1px solid #c3c3c3;
}

.example-grid .fy-gc .fy-gc{
    margin-bottom: 0;
}

.example-grid-flex .fy-fx {
    margin-bottom: 20px;
}
.example-grid-flex .fy-fx > div,
.example-grid-flex .fy-fx\@l > div,
.example-grid-flex .fy-fx\@m > div,
.example-grid-flex .fy-fx\@s > div{
    border:1px solid #c3c3c3;
    
}
.example-grid-flex .fy-fx .fy-fx{
    margin-bottom: 0;
}



.example-width > div {
    border:1px solid #c3c3c3;
}

.example-align .fy-all > div,
.example-align .fy-alr > div {
    border:1px solid #c3c3c3;
}
.example-align > div > div {
    border:1px solid #c3c3c3;
}
.example-text > div {
    margin-bottom: 5px;
}
.example-fields input,
.example-fields select,
.example-fields label,
.example-fields textarea {
    margin-bottom: 5px;
}

.example-btn > button {
    margin-bottom: 5px;

}
.example-card .fy-crd {
    max-width: 300px;
    margin-bottom: 10px;
}

.demo-example-card .fy-crd {
    max-width: 300px;
    margin-bottom: 10px;
    float:left;
    display:block;
    margin-right: 20px;
}

.example-box > *{
    border:1px solid #c3c3c3;
    margin-bottom: 10px;
}
.example-dl > * {
    max-width: 300px;
}
.example-lg > * {
    max-width: 300px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.example-nav > ul {
    margin-bottom: 20px;

}

.example-table > table {
    margin-bottom: 20px;

}
.example-self-align:after {
     content: '.';
     display: block;
     visibility: hidden;
     height: 0;
     clear: both;
}
.box-343 {
    padding: 20px; 
    width: 250px;
}

.example-cg > .fy-cg {
    margin-bottom: 20px;
}
.example-remove-margin > div {
    display: block;
    margin: 50px;
}
.example-remove-padding > div {
    display: block;
    padding:50px;
}
.example-hide-mobile > div {
    background-color: orange;
    padding: 20px;
    margin-bottom: 10px;
}

.example-show-mobile > div {
    background-color: orange;
    padding: 20px;
    margin-bottom: 10px;
}
.example-clearfix .fy-cfx > div {
    display: block;
    width: 80px;
    background-color: orange;
    margin: 10px;
    padding: 10px;

}

.flex-example-1 .fy-fx > div {
    width: 70px;
    height: 30px;
    background-color: #dbfffd;
    border:1px solid #c2c2c2;
}

.flex-examples .example {
    margin-bottom: 0;
}
.flex-example-2 .fy-fx  {
    height: 120px;
    background-color: #fbfbfb;
    border:1px solid #ececec;
}

.flex-example-2 .fy-fx > div {
    width: 70px;
    height: 30px;
    background-color: #dbfffd;
    border:1px solid #c2c2c2;
}

.flex-example-3 .fy-fx  {
    width: 100%;
    max-width: 400px;
    height: 160px;
    flex-wrap: wrap;
    background-color: #fbfbfb;
    border:1px solid #ececec;
}

.flex-example-3 .fy-fx > div {
    width: 70px;
    height: 30px;
    background-color: #dbfffd;
    border:1px solid #c2c2c2;
}

.flex-example-3.flex-example-stretch .fy-fx {
    max-width: 200px;
} 

.flex-example-stretch .fy-fx > div {
     height: auto;
}
.example-flex-shrink .fy-fx > div {
    width: 300px;
}


.flex-example-4 .fy-fx  {
    height: 160px;
    background-color: #fbfbfb;
    border:1px solid #ececec;
}

.flex-example-4 .fy-fx > div {
    width: 70px;
    height: 30px;
    background-color: #dbfffd;
    border:1px solid #c2c2c2;
}































