<div class="fy-fx@m  -jcsb">
	<div>
		<div class="fy-brc -l fy-pt1 fy-mb1">
			<a class="-a" href=""><i class="fas fa-comments"></i> Forum</a>
		</div>
	</div>
	<div class="fy-wd4@m">
		<input type="text" class="fy-fi " placeholder="Search...">
	</div>
</div>