<div class="fy-fz2 fy-bcf">
    <div style="overflow-y: auto;">
        <div style="height: 600px;">
            {{> component-chat_window_conversation}}        
        </div>    
    </div>
    <div>
        <div class="">
            <div class="fy-fx">
                <div class="fy-fxg">
                    <input type="text" class="fy-fi"  placeholder="Search messenger">
                </div>
                <div>
                    <div class="fy-ic"><i class="far fa-heart"></i></i></div>
                    <div class="fy-ic"><i class="far fa-smile"></i></div>
                    <div class="fy-ic"><i class="fas fa-paperclip"></i></div>
                    <div class="fy-ic"><i class="fas fa-camera"></i></div>
                    <div class="fy-ic"><i class="fas fa-microphone"></i></div>
                    <div class="fy-ic"><i class="fas fa-video"></i></div>
                </div>
            </div>         
        </div>
    </div>
</div>