<div class="fy-mta">
	<a href=""><i class="fas fa-reply"></i> Reply</a> <span></span>
	<a href=""><i class="far fa-thumbs-up"></i> 34</a> <span></span>
	<a href=""><i class="far fa-thumbs-down"></i> 75</a> <span></span>
	<a href=""><i class="fas fa-trash-alt"></i> Delete</a>
</div>	