<div class="contact-list fy-bcll fy-fz2">
    <div>
        <div class="fy-crd -sp">
            <div class="fy-crd_b fy-mb1">
                <div class="fy-fz1 fy-fwb fy-mb1">
                    CONTACTS ONLINE (2)
                </div>
                <div>
                    <div class="fy-mb1">
                        <div class="fy-fx">
                            <div class="fy-fxg">
                                <img src="../../images/sample/face-5.png" alt="" class="fy-img -c -s32">
                                <span>Danica Macam</span>
                            </div>
                            <div class="fy-fx">
                                <div class="fy-fx -aic -jcc">
                                    <div class="status"></div>
                                </div>                                        
                            </div>
                        </div>
                    </div>
                    <div class="fy-mb1">
                        <div class="fy-fx">
                            <div class="fy-fxg">
                                <img src="../../images/sample/face-6.png" alt="" class="fy-img -c -s32">
                                <span>Sandra Uber</span>
                            </div>
                            <div class="fy-fx">
                                <div class="fy-fx -aic -jcc">
                                    <div class="status"></div>
                                </div>                                        
                            </div>
                        </div>
                    </div>


                </div>
            </div>


            <div class="fy-crd_b fy-mb1">
                <div class="fy-fz1 fy-fwb fy-mb1">
                    NEARBY (3)
                </div>
                <div>
                    <div class="fy-mb1">
                        <div class="fy-fx">
                            <div class="fy-fxg">
                                <img src="../../images/sample/face-4.png" alt="" class="fy-img -c -s32">
                                <span>Smith Cho</span>
                            </div>
                            <div class="fy-fx">
                                <div class="fy-fx -aic -jcc">
                                    <div class="status"></div>
                                </div>                                        
                            </div>
                        </div>
                    </div>
                    <div class="fy-mb1">
                        <div class="fy-fx">
                            <div class="fy-fxg">
                                <img src="../../images/sample/face-5.png" alt="" class="fy-img -c -s32">
                                <span>Danica Macam</span>
                            </div>
                            <div class="fy-fx">
                                <div class="fy-fx -aic -jcc">
                                    <div class="status"></div>
                                </div>                                        
                            </div>
                        </div>
                    </div>
                    <div class="fy-mb1">
                        <div class="fy-fx">
                            <div class="fy-fxg">
                                <img src="../../images/sample/face-6.png" alt="" class="fy-img -c -s32">
                                <span>Sandra Uber</span>
                            </div>
                            <div class="fy-fx">
                                <div class="fy-fx -aic -jcc">
                                    <div class="status"></div>
                                </div>                                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="fy-crd_b fy-mb1">
                <div class="fy-fz1 fy-fwb fy-mb1">
                    MORE CONTACT (23)
                </div>
                <div>
                    <div class="fy-mb1">
                        <div class="fy-fx">
                            <div class="fy-fxg">
                                <img src="../../images/sample/face-1.png" alt="" class="fy-img -c -s32">
                                <span>The cool guy</span>
                            </div>
                            <div class="fy-fx">
                                <div class="fy-fx -aic -jcc">
                                    <div class="status"></div>
                                </div>                                        
                            </div>
                        </div>
                    </div>
                    <div class="fy-mb1">
                        <div class="fy-fx">
                            <div class="fy-fxg">
                                <img src="../../images/sample/face-4.png" alt="" class="fy-img -c -s32">
                                <span>Use Fly css</span>
                            </div>
                            <div class="fy-fx">
                                <div class="fy-fx -aic -jcc">
                                    <div class="status"></div>
                                </div>                                        
                            </div>
                        </div>
                    </div>
                    <div class="fy-mb1">
                        <div class="fy-fx">
                            <div class="fy-fxg">
                                <img src="../../images/sample/face-2.png" alt="" class="fy-img -c -s32">
                                <span>Martha Botle</span>
                            </div>
                            <div class="fy-fx">
                                <div class="fy-fx -aic -jcc">
                                    <div class="status"></div>
                                </div>                                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>                    

        </div>
    </div>
    
</div>