<div class="fy-fx@m">
	<div class="fy-pr1 fix3443">
		<img class="fy-img -fw" src="https://picsum.photos/140/90" alt="">
		<div class="fy-mb1 fy-shm"></div>
	</div>
	<div class="fy-fxg">
		<div class="">
			<div class="fy-fz3 fy-mb">
				<div class="fy-fx -jcsb">
					<div>
						Lorem ipsum dolor sit amet consectetur		
					</div>
					<div>
						$11.99
					</div>

				</div>
			</div>
			<div class="fy-fz1 fy-mb">
			 	<span class="fy-lbl fy-bcw">BEST SELLER</span> 164 lectures &nbsp;~&nbsp; 28 hours &nbsp;~&nbsp; All Levels
			</div>
			<div class="fy-txs fy-mb">
				Sed perferendis Quibusdam nisi ex cupiditate reiciendis voluptas nihil sapiente
			</div>
			<div>
				<span class="fy-lbl">Javascript</span> <span class="fy-lbl">HTML</span> <span class="fy-lbl">C#</span>
			</div>
		</div>
	</div>
</div>