<div class="fy-gc">
	<div class="fy-gc7"><a href="">{{title}}</a></div>
	<div class="fy-gc1">{{threads}}</div>
	<div class="fy-gc1">{{replies}}</div>
	<div class="fy-gc3">
		<div class="fy-fx">
			<div class="fy-mr1">
				<img class="fy-img -c -s32" src="../../images/sample/{{image}}" alt="">
			</div>
			<div class="fy-fxg">
				<div class="fy-txs">
					{{daysago}} day ago	
				</div>
				<div class="fy-txmu">
					by <a href="">{{by}}</a>
				</div>
			</div>
		</div>
	</div>
</div>

