<div class="">
	<a href="" class="fy-btn"><i class="fas fa-angle-left"></i> Prev</a>
	<a href="" class="fy-btn">2</a>
	<a href="" class="fy-btn">3</a>
	<a href="" class="fy-btn -cp">4</a>
	<a href="" class="fy-btn">5</a>
	<a href="" class="fy-btn">6</a>
	<a href="" class="fy-btn">Next <i class="fas fa-angle-right"></i></a>
</div>