<div class="fy-crd fy-fz2 fy-mb2">
	<div class="fy-crd_b fy-olb">
		<div class="fy-mb2">
			<div class="fy-fx -jcsb fy-fz3">
				<div>
					Lorem ipsum	 <span class="fy-lbl fy-bcw">name</span>
				</div>	
				<div>
					<button class="fy-ic -xs -r"><i class="fas fa-ellipsis-h"></i></button>
				</div>
			</div>
		</div>
		<div class="fy-mb2">
			Dolor sit amet, consectetur adipisicing elit. Obcaecati 
		</div>


		<div class="fy-mb2">
			<div class="fy-txmu fy-mb">
				Current progress
			</div>
			<div>
				Adipisicing elit obcaecati
			</div>
		</div>
		<div class="fy-mb2">
			<div class="fy-fx -jcsb">
				<div>
					50%	
				</div>
				<div>
					2/4 progress
				</div>
			</div>
			<div class="fy-ldb -s">
				<div class="fy-ldb_c"></div>
			</div>								
		</div>
		<div class="fy-gc">
			<div class="fy-gc6">
				<div class="fy-txmu fy-mb">
					Creted
				</div>
				<div class="fy-mb">
					03/12/2018
				</div>
			</div>
			<div class="fy-gc6">
				<div class="fy-txmu fy-mb">
					Finish
				</div>
				<div class="fy-mb">
					03/12/2018
				</div>
			</div>
		</div>

	</div>
	<div class="fy-crd_b">
		<div class="fy-mb2">
			<div class="fy-txmu fy-mb">
				Teams
			</div>
			<div>
				Totam ipsam, quibusdam saepe tempore odit velit.
			</div>
		</div>

	</div>
</div>