<div class="fy-crd fy-fz2 fy-mb2">
	<div class="fy-crd_b fy-olb">
		<div class="fy-mb2">
			<div class="fy-fx -jcsb fy-fz3">
				<div>
					Lorem ipsum	 <span class="fy-lbl fy-bcw">name</span>
				</div>	
				<div>
					<button class="fy-ic -xs -r"><i class="fas fa-ellipsis-h"></i></button>
				</div>
			</div>
		</div>

		<div class="fy-mb2">
			Dolor sit amet, consectetur adipisicing elit. Obcaecati 
		</div>

		<div class="fy-mb1">
			<div class="fy-txmu fy-mb">
				Leader
			</div>
			<div>
				<img class="fy-img -s32 -c" src="../../images/sample/tout-4x3-climber.jpg" alt="">
			</div>
		</div>	

		<div class="fy-mb1">
			<div class="fy-txmu fy-mb">
				Team
			</div>
			<div>
				<img class="fy-img -s32 -c" src="../../images/sample/tout-4x3-climber.jpg" alt="">
				<img class="fy-img -s32 -c" src="../../images/sample/tout-4x3-climber.jpg" alt="">
				<img class="fy-img -s32 -c" src="../../images/sample/tout-4x3-climber.jpg" alt="">
				<img class="fy-img -s32 -c" src="../../images/sample/tout-4x3-climber.jpg" alt="">
			</div>	
		</div>	

	</div>
	<div class="fy-crd_b">
		<div class="fy-mb2">
			<div class="fy-txmu fy-mb">
				Proyects
			</div>
			<div>
				Totam ipsam, quibusdam saepe tempore odit velit.
			</div>
		</div>

	</div>
</div>