.fy-bx
	.fy-mb1.fy-mt3
		a(href="/" onclick="gtag('event', 'go_home',{'event_category':'navigation'});")
			img.logo(src="images/logo-.png" alt="")
	.fy-mb1.fy-txac
		|Simple and beautiful<br>css framework

	.fy-cg
		.fy-ss.-s
			._i
				a(href="https://www.facebook.com/flycssframework" target="_blank" onclick="gtag('event', 'go_fan_page',{'event_category':'social','event_label':'sidebar'});")
					i.fab.fa-facebook-f
			._i
				a(href="https://twitter.com/flycssframework" target="_blank" onclick="gtag('event', 'go_fan_page',{'event_category':'social','event_label':'sidebar'});")
					i.fab.fa-twitter
			._i
				a(href="https://github.com/rollrodrig/fly-css-framework" target="_blank" onclick="gtag('event', 'go_fan_page',{'event_category':'social','event_label':'sidebar'});")
					i.fab.fa-github

	.fy-cg.fy-mt5
		.fy-btng
			a.fy-btn.-s(href="https://github.com/rollrodrig/fly-css-framework" target="_blank" onclick="gtag('event', 'github_repo',{'event_category':'download','event_label':'home'});") Github
			a.fy-btn.-s(href="https://github.com/rollrodrig/fly-css-framework/archive/master.zip" onclick="gtag('event', 'download_zip',{'event_category':'download','event_label':'home'});") Download
			a.fy-btn.-s(href="installation.html" onclick="gtag('event', 'docs',{'event_category':'navigation','event_label':'home'});") Docs
	


	ul.fy-nv.-h
		+uitem('','Getting started')
		+uitem("installation.html","Installation")
		+uitem("breakpoints.html","Breakpoints")
		+uitem("modifier.html","Modifier")
		//- +uitem("column-size","Column size")
		+uitem("css-names.html","Css names")

	ul.fy-nv.-h
		+uitem("", "Colors")
		+uitem("color.html", "Color")
		+uitem("background-color.html", "Background Color")


	ul.fy-nv.-h
		+uitem("", "Layout")
		+uitem("container.html", "Container")
		+uitem("hero.html", "Hero")
		+uitem("navbar.html", "Navbar")
		//- +uitem("off-canvas", "Off canvas")
		

	ul.fy-nv.-h
		+uitem("", "Grid")
		+uitem("grid.html", "Grid")
		+uitem("grid-flex.html", "Grid-flex")
		+uitem("flex.html", "Flex")
		+uitem("width.html", "Width")

	ul.fy-nv.-h
		+uitem("", "Text")
		+uitem("text.html", "Text")
		//- +uitem("title.html", "Title")
		//- +uitem("subtitle.html", "Subtitle")
		+uitem("font-size.html", "Font size")
		+uitem("font-weight.html", "Font weight")
		+uitem("font-opensans.html", "Font Open Sans")
		+uitem("font-montserrat.html", "Font Montserrat")
		+uitem("highlight-text.html", "Highlight text")
		+uitem("bullet.html", "Bullet")
		+uitem("ul-list.html", "Ul list")

	ul.fy-nv.-h
		+uitem("", "Form")
		+uitem("form-fields.html", "Form fields")

	ul.fy-nv.-h
		+uitem("","Components")
		+uitem("alert.html","Alert")
		+uitem("badge.html","Badge")
		+uitem("breadcrumb.html","Breadcrumb")
		+uitem("box.html", "Box")
		+uitem("button.html","Button")
		+uitem("card.html","Card")
		+uitem("close.html","Close")
		+uitem("divider.html","Divider")
		+uitem("drop-down.html","Drop down")
		+uitem("description-list.html", "Description list")
		+uitem("icon.html", "Icon")
		+uitem("image.html", "Image")
		+uitem("label.html", "Label")
		+uitem("link.html", "Link")
		+uitem("list-group.html", "List group")
		+uitem("loading.html", "Loading")
		+uitem("loading-bar.html", "Loading bar")
		+uitem("meta-text.html","Meta text")
		+uitem("meta-stack.html", "Meta stack")
		+uitem("nav.html", "Nav")
		+uitem("navbar-button.html", "Navbar button")
		+uitem("pagination.html", "Pagination")
		+uitem("profile.html", "Profile")
		+uitem("popup.html", "Popup")
		+uitem("panel.html", "Panel")
		+uitem("social.html", "Social")
		+uitem("tab.html", "Tab")
		+uitem("table.html", "Table")
		+uitem("tooltip.html", "Tooltip")

	ul.fy-nv.-h
		+uitem("", "Uilities")
		+uitem("align.html", "Align")
		+uitem("border-radius.html", "Border radius")
		//- +uitem("center.html", "Center")
		//- +uitem("center-group.html", "Center group")
		+uitem("code.html", "Code")
		+uitem("code-color.html", "Code color")
		+uitem("clearfix.html", "Clearfix")
		+uitem("hide.html", "Hide")
		+uitem("margin.html", "Margin")
		+uitem("padding.html", "Padding")
		+uitem("remove-margin.html","Remove margin")
		+uitem("remove-padding.html","Remove padding")
		+uitem("self-align.html", "Self align")
		+uitem("show.html", "Show")
		+uitem("outline.html", "Outline")

	ul.fy-nv.-h
		+uitem("", "Showcase")
		+uitem("showcase/facebook-post.html", "Facebook post")
		+uitem("showcase/sidebar.html", "Sidebar")
		+uitem("showcase/contact-list.html", "Contact List")
		+uitem("showcase/comment.html", "Comment")
		+uitem("dashboard/patterns/02-page-forum_list/02-page-forum_list.html", "Dashboard")

	ul.fy-nv.-h
		+uitem("", "Author")

	div.fy-fz2
		p
			|This proyect was made by <a href="https://github.com/rollrodrig" target="_blank">@rollrodrig</a>.
		p
			| If you would like to contribute please<a href="https://www.facebook.com/flycssframework" target="_blank"> send me an inbox <i class="fas fa-heart"></i> </a>