extends _layout.pug
include _mixins
block content
	article.fy-bx
		+title('Border Radius')
		+resume
			p Apply border radius to any element
		//- spec
		+section
			+subtitle('usage')
			+description
				p Default hero has a max-width and center the content.
			+demo
				+example
					.border-radius-example.
						<div class="fy-br0">
							Lorem ipsum dolor sit amet, consectetur
						</div>
						<div class="fy-br1">
							Lorem ipsum dolor sit amet, consectetur
						</div>
						<div class="fy-br2">
							Lorem ipsum dolor sit amet, consectetur
						</div>
						<div class="fy-br3">
							Lorem ipsum dolor sit amet, consectetur
						</div>
						<div class="fy-br4">
							Lorem ipsum dolor sit amet, consectetur
						</div>
						<div class="fy-br5">
							Lorem ipsum dolor sit amet, consectetur
						</div>
						<div class="fy-br6">
							Lorem ipsum dolor sit amet, consectetur
						</div>
						<div class="fy-br7">
							Lorem ipsum dolor sit amet, consectetur
						</div>
						<div class="fy-br8">
							Lorem ipsum dolor sit amet, consectetur
						</div>
						<div class="fy-br9">
							Lorem ipsum dolor sit amet, consectetur
						</div>
						<div class="fy-br10">
							Lorem ipsum dolor sit amet, consectetur
						</div>
				+code.
						<div class="fy-br0">
							Lorem ipsum dolor sit amet, consectetur
						</div>
						<div class="fy-br1">
							Lorem ipsum dolor sit amet, consectetur
						</div>
						<div class="fy-br2">
							Lorem ipsum dolor sit amet, consectetur
						</div>
						<div class="fy-br3">
							Lorem ipsum dolor sit amet, consectetur
						</div>
						<div class="fy-br4">
							Lorem ipsum dolor sit amet, consectetur
						</div>
						<div class="fy-br5">
							Lorem ipsum dolor sit amet, consectetur
						</div>
						<div class="fy-br6">
							Lorem ipsum dolor sit amet, consectetur
						</div>
						<div class="fy-br7">
							Lorem ipsum dolor sit amet, consectetur
						</div>
						<div class="fy-br8">
							Lorem ipsum dolor sit amet, consectetur
						</div>
						<div class="fy-br9">
							Lorem ipsum dolor sit amet, consectetur
						</div>
						<div class="fy-br10">
							Lorem ipsum dolor sit amet, consectetur
						</div>
				+open_example('border-radius')