extends _layout.pug
include _mixins
block content
	article.fy-bx
		+title('Box')
		+resume

		//- spec
		+section
			+subtitle('Usage')
			+description
			+demo
				+example
					.example-box.
						<div class="fy-bx">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
						Facilis blanditiis deleniti autem quis, explicabo ex ab 
						animi tempora rerum dignissimos eveniet, voluptatibus 
						</div>
				+code.
					<div class="fy-bx">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
					Facilis blanditiis deleniti autem quis, explicabo ex ab 
					animi tempora rerum dignissimos eveniet, voluptatibus 
					</div>
				+open_example('box')



		//- spec
		+section
			+subtitle('Size')
			+description
			+properties([{'r':'','d':'Default'},{'r':'fy-bxs','d':'Small'},{'r':'fy-bxl','d':'Large'},{'r':'fy-bxsv','d':'Small vertical'},{'r':'fy-bxsh','d':'Small horizontal'},{'r':'fy-bxlv','d':'Large vertical'},{'r':'fy-bxlh','d':'Large horizontal'}])
			+demo
				+example
					.example-box.
						<div class="fy-bx">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Facilis blanditiis deleniti autem quis, explicabo ex ab
							animi tempora rerum dignissimos eveniet, voluptatibus
						</div>
				+code.
					<div class="fy-bx">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						Facilis blanditiis deleniti autem quis, explicabo ex ab
						animi tempora rerum dignissimos eveniet, voluptatibus
					</div>
				+example
					.example-box.
						<div class="fy-bxs">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Facilis blanditiis deleniti autem quis, explicabo ex ab
							animi tempora rerum dignissimos eveniet, voluptatibus
						</div>
				+code.
					<div class="fy-bxs">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						Facilis blanditiis deleniti autem quis, explicabo ex ab
						animi tempora rerum dignissimos eveniet, voluptatibus
					</div>
				+example
					.example-box.
						<div class="fy-bxl">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Facilis blanditiis deleniti autem quis, explicabo ex ab
							animi tempora rerum dignissimos eveniet, voluptatibus
						</div>
				+code.
					<div class="fy-bxl">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						Facilis blanditiis deleniti autem quis, explicabo ex ab
						animi tempora rerum dignissimos eveniet, voluptatibus
					</div>
				+example
					.example-box.
						<div class="fy-bxsv">
							BOX SMALL VERTICAL<br>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Facilis blanditiis deleniti autem quis, explicabo ex ab
							animi tempora rerum dignissimos eveniet, voluptatibus
						</div>
				+code.
					<div class="fy-bxsv">
						BOX SMALL VERTICAL<br>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						Facilis blanditiis deleniti autem quis, explicabo ex ab
						animi tempora rerum dignissimos eveniet, voluptatibus
					</div>
				+example
					.example-box.
						<div class="fy-bxsh">
							BOX SMALL HORIZONTAL<br>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Facilis blanditiis deleniti autem quis, explicabo ex ab
							animi tempora rerum dignissimos eveniet, voluptatibus
						</div>
				+code.
					<div class="fy-bxsh">
						BOX SMALL HORIZONTAL<br>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						Facilis blanditiis deleniti autem quis, explicabo ex ab
						animi tempora rerum dignissimos eveniet, voluptatibus
					</div>
				+example
					.example-box.
						<div class="fy-bxlv">
							BOX LARGE VERTICAL<br>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Facilis blanditiis deleniti autem quis, explicabo ex ab
							animi tempora rerum dignissimos eveniet, voluptatibus
						</div>
				+code.
					<div class="fy-bxlv">
						BOX LARGE VERTICAL<br>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						Facilis blanditiis deleniti autem quis, explicabo ex ab
						animi tempora rerum dignissimos eveniet, voluptatibus
					</div>
				+example
					.example-box.
						<div class="fy-bxlh">
							BOX LARGE HORIZONTAL<br>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Facilis blanditiis deleniti autem quis, explicabo ex ab
							animi tempora rerum dignissimos eveniet, voluptatibus
						</div>
				+code.
					<div class="fy-bxlh">
						BOX LARGE HORIZONTAL<br>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						Facilis blanditiis deleniti autem quis, explicabo ex ab
						animi tempora rerum dignissimos eveniet, voluptatibus
					</div>

		//- spec
		+section
			+subtitle('Responsive')
			+description
				p Add responsive box padding
			+properties([{'r':'fy-bx','d':'Box active always'},{'r':'fy-bx@s','d':'Box active when screen > 540px '},{'r':'fy-bxs@m','d':'Box active when screen > 768px'},{'r':'fy-bxl@l','d':'Box active when screen > 980px'}])
			+demo
				+example
					.example-box.
						<div class="fy-bx">
							Box active always <br>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						</div>
				+code.
					<div class="fy-bx">
						Box active always <br>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					</div>
				+example
					.example-box.
						<div class="fy-bx@s">
							Box active when screen > 540px <br>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						</div>
				+code.
					<div class="fy-bx@s">
						Box active when screen > 540px <br>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					</div>
				+example
					.example-box.
						<div class="fy-bxs@m">
							Box active when screen > 768px <br>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						</div>
				+code.
					<div class="fy-bxs@m">
						Box active when screen > 768px <br>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					</div>
				+example
					.example-box.
						<div class="fy-bxl@l">
							Box active when screen > 980px <br>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						</div>
				+code.
					<div class="fy-bxl@l">
						Box active when screen > 980px <br>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					</div>
			+open_example('box-responsive')

		//- spec
		+section
			+subtitle('Mix Responsive box')
			+description
				p Default is box small padding but when the screen is large the box has large padding. Resize the window
			+demo
				+example
					.example-box.
						<div class="fy-bxs fy-bxl@m">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						</div>
				+code.
					<div class="fy-bxs fy-bxl@m">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					</div>	
			+open_example('box-responsive')