extends _layout.pug
include _mixins
block content
	article.fy-bx
		+title('Breadcrumb')
		+resume


		//- spec
		+section
			+subtitle('Usage')
			+description
			+demo
				+example
					.example-breadc.
						<div class="fy-brc">
							<a href="">Category</a>
							<span></span>
							<a href="">Sub category</a>
							<span></span>
							<a class="-a" href="">Current item</a>
						</div>
				+code.
					<div class="fy-brc">
						<a href="">Category</a>
						<span></span>
						<a href="">Sub category</a>
						<span></span>
						<a class="-a" href="">Current item</a>
					</div>
				+open_example('breadcrumb')


		//- spec
		+section
			+subtitle('Size')
			+description
			+properties([{'r':'-l','d':'Large'}])
			+demo
				+example
					.example-breadc.
						<div class="fy-brc -l">
							<a href="">Category</a>
							<span></span>
							<a href="">Sub category</a>
							<span></span>
							<a class="-a" href="">Current item</a>
						</div>
				+code.
					<div class="fy-brc -l">
						<a href="">Category</a>
						<span></span>
						<a href="">Sub category</a>
						<span></span>
						<a class="-a" href="">Current item</a>
					</div>
				+open_example('breadcrumb')


		//- spec
		+section
			+subtitle('Examples')
			+description
			+demo
				+example
					.example-breadc.
						<div class="fy-brc">
							<a href="">Category</a>
							<span></span>
							<a href="">Sub category</a>
							<span></span>
							<a class="-a" href="">Current item</a>
						</div>
						<div class="fy-brc -l">
							<a href="">Category</a>
							<span></span>
							<a href="">Sub category</a>
							<span></span>
							<a class="-a" href="">Current item</a>
						</div>
						<div class="fy-brc">
							<a href="">Category</a> &nbsp; / &nbsp; <a href="">Sub category</a> &nbsp;/ &nbsp; <a href="" class="-a">Current item</a>
						</div>
						<div class="fy-brc -l">
							<a href="">Category</a> &nbsp; / &nbsp; <a href="">Sub category</a> &nbsp;/ &nbsp; <a href="" class="-a">Current item</a>
						</div>
						<div class="fy-brc">
							<a href="">Category</a> &nbsp; <i class="fas fa-angle-double-right"></i> &nbsp; <a href="">Sub category</a> &nbsp;<i class="fas fa-ambulance"></i> &nbsp; <a href="" class="-a">Current item</a>
						</div>

				+code.
					<div class="fy-brc">
						<a href="">Category</a>
						<span></span>
						<a href="">Sub category</a>
						<span></span>
						<a class="-a" href="">Current item</a>
					</div>
					<div class="fy-brc -l">
						<a href="">Category</a>
						<span></span>
						<a href="">Sub category</a>
						<span></span>
						<a class="-a" href="">Current item</a>
					</div>
					<div class="fy-brc">
						<a href="">Category</a> &nbsp; / &nbsp; <a href="">Sub category</a> &nbsp;/ &nbsp; <a href="" class="-a">Current item</a>
					</div>
					<div class="fy-brc -l">
						<a href="">Category</a> &nbsp; / &nbsp; <a href="">Sub category</a> &nbsp;/ &nbsp; <a href="" class="-a">Current item</a>
					</div>
					<div class="fy-brc">
						<a href="">Category</a> &nbsp; <i class="fas fa-angle-double-right"></i> &nbsp; <a href="">Sub category</a> &nbsp;<i class="fas fa-ambulance"></i> &nbsp; <a href="" class="-a">Current item</a>
					</div>










