extends _layout.pug
include _mixins
block content
	article.fy-bx
		+title('Breadcrumb')
		+resume


		//- spec
		+section
			+subtitle('Usage')
			+description
			+demo
				+example
					.example-breadc.
						<div class="fy-brc">
							<a href="">Category</a>
							<span class="fy-brc_d"></span>
							<a href="">Sub category</a>
							<span class="fy-brc_d"></span>
							<span class="fy-brc_a">Current item</span>
						</div>
				+code.
					<div class="fy-brc">
						<a href="">Category</a>
						<span class="fy-brc_d"></span>
						<a href="">Sub category</a>
						<span class="fy-brc_d"></span>
						<span class="fy-brc_a">Current item</span>
					</div>
				+open_example('breadcrumb')


		//- spec
		+section
			+subtitle('Size')
			+description
			+properties([{'r':'fy-brc -s','d':'Small'}])
			+demo
				+example
					.example-breadc.
						<div class="fy-brc -s">
							<a href="">Category</a>
							<span class="fy-brc_d"></span>
							<a href="">Sub category</a>
							<span class="fy-brc_d"></span>
							<span class="fy-brc_a">Current item</span>
						</div>
				+code.
					<div class="fy-brc -s">
						<a href="">Category</a>
						<span class="fy-brc_d"></span>
						<a href="">Sub category</a>
						<span class="fy-brc_d"></span>
						<span class="fy-brc_a">Current item</span>
					</div>
				+open_example('breadcrumb')


		//- spec
		+section
			+subtitle('Examples')
			+description
			+demo
				+example
					.example-breadc.
						<div class="fy-brc">
							<a href="">Category</a>
							<span class="fy-brc_d"></span>
							<a href="">Sub category</a>
							<span class="fy-brc_d"></span>
							<span class="fy-brc_a">Current item</span>
						</div>
						<div class="fy-brc -l">
							<a href="">Category</a>
							<span class="fy-brc_d"></span>
							<a href="">Sub category</a>
							<span class="fy-brc_d"></span>
							<span class="fy-brc_a">Current item</span>
						</div>
						<div class="fy-brc">
							<a href="">Category</a> &nbsp; / &nbsp; <a href="">Sub category</a> &nbsp;/ &nbsp; <span class="fy-brc_a">Current item</span>
						</div>
						<div class="fy-brc -l">
							<a href="">Category</a> &nbsp; / &nbsp; <a href="">Sub category</a> &nbsp;/ &nbsp; <span class="fy-brc_a">Current item</span>
						</div>
						<div class="fy-brc">
							<a href="">Category</a> &nbsp; <i class="fas fa-angle-double-right"></i> &nbsp; <a href="">Sub category</a> &nbsp;<i class="fas fa-ambulance"></i> &nbsp; <span class="fy-brc_a">Current item</span>
						</div>

				+code.
					<div class="fy-brc">
						<a href="">Category</a>
						<span class="fy-brc_d"></span>
						<a href="">Sub category</a>
						<span class="fy-brc_d"></span>
						<span class="fy-brc_a">Current item</span>
					</div>
					<div class="fy-brc -l">
						<a href="">Category</a>
						<span class="fy-brc_d"></span>
						<a href="">Sub category</a>
						<span class="fy-brc_d"></span>
						<span class="fy-brc_a" href="">Current item</span>
					</div>
					<div class="fy-brc">
						<a href="">Category</a> &nbsp; / &nbsp; <a href="">Sub category</a> &nbsp;/ &nbsp; <span class="fy-brc_a">Current item</span>
					</div>
					<div class="fy-brc -l">
						<a href="">Category</a> &nbsp; / &nbsp; <a href="">Sub category</a> &nbsp;/ &nbsp; <span class="fy-brc_a">Current item</span>
					</div>
					<div class="fy-brc">
						<a href="">Category</a> &nbsp; <i class="fas fa-angle-double-right"></i> &nbsp; <a href="">Sub category</a> &nbsp;<i class="fas fa-ambulance"></i> &nbsp; <span class="fy-brc_a">Current item</span>
					</div>










