extends _layout.pug
include _mixins
block content
	article.fy-bx
		+title('Bullet')
		+resume


		//- spec
		+section
			+subtitle('Usage')
			+description
			+demo
				+example.
					<div class="fy-bun"> Hellow world </div>
				+code.
					<div class="fy-bun"> Hellow world </div>

		//- spec
		+section
			+subtitle('Styles')
			+description
			+properties([{'r':'fy-bun','d':'Numeral'},{'r':'fy-bud','d':'Dash'},{'r':'fy-buc','d':'Circle'},{'r':'fy-bua','d':'Arrrow'}])
			+demo
				+example.
					<div class="fy-bun">Lorem ipsum dolor sit amet</div>
					<div class="fy-bud">Lorem ipsum dolor sit amet</div>
					<div class="fy-buc">Lorem ipsum dolor sit amet</div>
					<div class="fy-bua">Lorem ipsum dolor sit amet</div>
				+code.
					<div class="fy-bun">Lorem ipsum dolor sit amet</div>
					<div class="fy-bud">Lorem ipsum dolor sit amet</div>
					<div class="fy-buc">Lorem ipsum dolor sit amet</div>
					<div class="fy-bua">Lorem ipsum dolor sit amet</div>



		//- spec
		+section
			+subtitle('Double Bullet')
			+description
			+properties([{'r':'fy-bunn','d':'Numeral'},{'r':'fy-budd','d':'Dash'},{'r':'fy-bucc','d':'Circle'},{'r':'fy-buaa','d':'Arrrow'}])
			+demo
				+example.
					<div>
						Dolor sit amet <span class="fy-bunn">sit amet</span> oloribus, eligendi.
					</div>
					<div>
						Dolor sit amet <span class="fy-budd">sit amet</span> uibusdam.
					</div>
					<div>
						Dolor sit amet <span class="fy-bucc">sit amet</span> olore.
					</div>
					<div>
						Dolor sit amet <span class="fy-buaa">sit amet</span> erspiciatis.
					</div>
				+code.
					<div>
						Dolor sit amet <span class="fy-bunn">sit amet</span> oloribus, eligendi.
					</div>
					<div>
						Dolor sit amet <span class="fy-budd">sit amet</span> uibusdam.
					</div>
					<div>
						Dolor sit amet <span class="fy-bucc">sit amet</span> olore.
					</div>
					<div>
						Dolor sit amet <span class="fy-buaa">sit amet</span> erspiciatis.
					</div>

					











					











