extends _layout.pug
include _mixins
block content
	article.fy-bx
		+title('Button')
		+resume

		//- spec
		+section
			+subtitle('Usage')
			+description
			+demo
				+example.
					<button class="fy-btn">Button</button>
				+code.
					<button class="fy-btn">Button</button>
				+open_example('button')



		//- spec
		+section
			+subtitle('Sizes')
			+description
			+properties([{'r':'fy-btn -xs','d':'Extra small'},{'r':'fy-btn -s','d':'Small'},{'r':'fy-btn','d':'Default'},{'r':'fy-btn -l','d':'Large'}])
			+demo
				+example
					.example-btn.
						<button class="fy-btn -xs">Button</button>
						<br>
						<button class="fy-btn -s">Button</button>
						<br>
						<button class="fy-btn">Button</button>
						<br>
						<button class="fy-btn -l">Button</button>
				+code.
					<button class="fy-btn -xs">Button</button>
					<button class="fy-btn -s">Button</button>
					<button class="fy-btn">Button</button>
					<button class="fy-btn -l">Button</button>
				+open_example('button-size')


		//- spec
		+section
			+subtitle('Color')
			+description
			+properties([{'r':'fy-btn','d':'default'},{'r':'fy-btn  -cp','d':'primary'},{'r':'fy-btn  -cs','d':'secondary'},{'r':'fy-btn -css','d':'success'},{'r':'fy-btn  -cw','d':'warning'},{'r':'fy-btn  -cd','d':'danger'},{'r':'fy-btn  -ci','d':'info'},{'r':'fy-btn  -cl','d':'light'},{'r':'fy-btn  -ck','d':'dark'}])
			+demo
				+example
					.example-btn.
						<button class="fy-btn">Button</button>
						<button class="fy-btn -cp">Button</button>
						<button class="fy-btn -cs">Button</button>
						<button class="fy-btn -css">Button</button>
						<button class="fy-btn -cw">Button</button>
						<button class="fy-btn -cd">Button</button>
						<button class="fy-btn -ci">Button</button>
						<button class="fy-btn -cl">Button</button>
						<button class="fy-btn -ck">Button</button>
				+code.
						<button class="fy-btn">Button</button>
						<button class="fy-btn -cp">Button</button>
						<button class="fy-btn -cs">Button</button>
						<button class="fy-btn -css">Button</button>
						<button class="fy-btn -cw">Button</button>
						<button class="fy-btn -cd">Button</button>
						<button class="fy-btn -ci">Button</button>
						<button class="fy-btn -cl">Button</button>
						<button class="fy-btn -ck">Button</button>
				+open_example('button-color')

		//- spec
		+section
			+subtitle('Style')
			+description
			+properties([{'r':'fy-btn -br','d':'Border radius'},{'r':'fy-btn -rd','d':'Rounded'},{'r':'fy-btn -fw','d':'Full width'},{'r':'fy-btn -di','d':'Disabled'},{'r':'fy-btn -ce','d':'Center'}])
			+demo
				+example
					.example-btn.
						<button class="fy-btn -br">Button</button>
						<br>
						<button class="fy-btn -rd">Button</button>
						<br>
						<button class="fy-btn -fw">Button</button>
						<br>
						<button class="fy-btn -di">Button</button>
						<br>
						<button class="fy-btn -ce">Button</button>
				+code.
					<button class="fy-btn -br">Button</button>
					<br>
					<button class="fy-btn -rd">Button</button>
					<br>
					<button class="fy-btn -fw">Button</button>
					<br>
					<button class="fy-btn -di">Button</button>
					<br>
					<button class="fy-btn -ce">Button</button>
				+open_example('button-style')




		//- spec
		+section
			+subtitle('Arrow')
			+description
			+properties([{'r':'fy-btn -al','d':'Arrow left'},{'r':'fy-btn -ar','d':'Arrow right'}])
			+demo
				+example
					.example-btn.
						<button class="fy-btn -al">Button</button>
						<br>
						<button class="fy-btn -ar">Button</button>
				+code.
					<button class="fy-btn -al">Button</button>
					<br>
					<button class="fy-btn -ar">Button</button>
				+open_example('button-arrow')




		//- spec
		+section
			+subtitle('Icon')
			+description
			+demo
				+example
					.example-btn.
						<button class="fy-btn -il"> <i class="far fa-heart"></i> Button</button>
						<br>
						<button class="fy-btn -il"> Button <i class="far fa-heart"></i> </button>
				+code.
					<button class="fy-btn -il"> <i class="far fa-heart"></i> Button</button>
					<br>
					<button class="fy-btn -il"> Button <i class="far fa-heart"></i> </button>
				+open_example('button-icon')




		//- spec
		+section
			+subtitle('Group')
			+description
			+demo
				+example
					<div class="fy-btng">
						<button class="fy-btn">Button</button>
						<button class="fy-btn">Button on</button>
						<button class="fy-btn">Button off</button>
						<button class="fy-btn">Another button</button>
					</div>
					<br>
					<div class="fy-btng -rd">
						<button class="fy-btn">Button</button>
						<button class="fy-btn">Button on</button>
						<button class="fy-btn">Button off</button>
						<button class="fy-btn">Another button</button>
					</div>
				+code.
					<div class="fy-btng">
						<button class="fy-btn">Button</button>
						<button class="fy-btn">Button on</button>
						<button class="fy-btn">Button off</button>
						<button class="fy-btn">Another button</button>
					</div>
					<br>
					<div class="fy-btng -rd">
						<button class="fy-btn">Button</button>
						<button class="fy-btn">Button on</button>
						<button class="fy-btn">Button off</button>
						<button class="fy-btn">Another button</button>
					</div>
				+open_example('button-group')












































































