extends _layout.pug
include _mixins
block content
	article.fy-bx
		+title('Clearfix')
		+resume
			p Prevent to collapse container element when the child has <code>float:left|right</code> css rule.

		//- spec
		+section
			+subtitle('Usage')
			+description
			+demo
				+example
					.example-clearfix.
						<div>
							<div class="object-float-left">Parent</div>
							<div class="object-float-left">With No</div>
							<div class="object-float-left">Clearfix</div>
						</div>
						Other content
						<br>
						<br>
						<br>
						<br>
						<br>
				+code.
						<div>
							<div class="object-float-left">Parent</div>
							<div class="object-float-left">With No</div>
							<div class="object-float-left">Clearfix</div>
						</div>
						Other content
				+example
					.example-clearfix.
						<div class="fy-cfx">
							<div class="object-float-left">Parent</div>
							<div class="object-float-left">With</div>
							<div class="object-float-left">Clearfix</div>
						</div>
						Other content
				+code.
						<div class="fy-cfx">
							<div class="object-float-left">Parent</div>
							<div class="object-float-left">With</div>
							<div class="object-float-left">Clearfix</div>
						</div>
						Other content
				+open_example('clearfix')

