extends _layout.pug
include _mixins
block content
	article.fy-bx
		+title('Image')
		+resume

		//- spec
		+section
			+subtitle('Usage')
			+description
			+demo
				+example.
					<img class="fy-img" src="images/image-2.jpg" alt="">
				+code.
					<img class="fy-img" src="images/image-2.jpg" alt="">
				+open_example('image')

		//- spec
		+section
			+subtitle('Styles')
			+description
			+properties([{'r':'-r','d':'border rounded'},{'r':'-c','d':'Circle'},{'r':'-b','d':'Border 4px'},{'r':'-s','d':'Shadow'},{'r':'-m','d':'Center'},{'r':'-f','d':'Cover the screen'}])
			+demo
				+example.
					<p>border rounded</p>
					<img class="fy-img -r" src="images/image-2.jpg" alt="">
					<hr>
					<p>Circle</p>
					<img class="fy-img -c" src="images/image-2.jpg" alt="">
					<hr>
					<p>Border 4px</p>
					<img class="fy-img -b" src="images/image-2.jpg" alt="">
					<hr>
					<p>Shadow</p>
					<img class="fy-img -s" src="images/image-2.jpg" alt="">
					<hr>
					<p>Center</p>
					<img class="fy-img -m" src="images/image-2.jpg" alt="">
					<hr>
					<p>Cover the screen</p>
					<img class="fy-img -fw" src="images/image-1.jpg" alt="">					
			+code.
					<p>border rounded</p>
					<img class="fy-img -r" src="images/image-2.jpg" alt="">
					<hr>
					<p>Circle</p>
					<img class="fy-img -c" src="images/image-2.jpg" alt="">
					<hr>
					<p>Border 4px</p>
					<img class="fy-img -b" src="images/image-2.jpg" alt="">
					<hr>
					<p>Shadow</p>
					<img class="fy-img -s" src="images/image-2.jpg" alt="">
					<hr>
					<p>Center</p>
					<img class="fy-img -m" src="images/image-2.jpg" alt="">
					<hr>
					<p>Cover the screen</p>
					<img class="fy-img -fw" src="images/image-1.jpg" alt="">

		+section
			+subtitle('Sizes')
			+properties([{'r':'-s8', 'd':'8x8'},{'r':'-s1', 'd':'16x16'},{'r':'-s3', 'd':'32x32'},{'r':'-s6', 'd':'64x64'},{'r':'-s1', 'd':'128x128'}])
			+demo
				+example.
					<img class="fy-img -s8" src="images/image-2.jpg" alt="">
					<img class="fy-img -s16" src="images/image-2.jpg" alt="">
					<img class="fy-img -s32" src="images/image-2.jpg" alt="">
					<img class="fy-img -s64" src="images/image-2.jpg" alt="">
					<img class="fy-img -s128" src="images/image-2.jpg" alt="">
				+code.
					<img class="fy-img -s8" src="images/image-2.jpg" alt="">
					<img class="fy-img -s16" src="images/image-2.jpg" alt="">
					<img class="fy-img -s32" src="images/image-2.jpg" alt="">
					<img class="fy-img -s64" src="images/image-2.jpg" alt="">
					<img class="fy-img -s128" src="images/image-2.jpg" alt="">

		+section
			+subtitle('Mix properties')
			+demo
				+example.
					<img class="fy-img -r -b -s" src="images/image-2.jpg" alt="">
				+code.
					<img class="fy-img -r -b -s" src="images/image-2.jpg" alt="">

