extends _layout.pug
include _mixins
block content
	article.fy-bx
		+title('Installation')
		//- spec
		+subtitle('download')
		p Clone the last version of the framework from 
			a(href="https://github.com/rollrodrig/fly-css-framework" onclick="gtag('event', 'github',{'event_category':'docs'});" target="_blank") github 
			|or direct download from 
			a(href="https://github.com/rollrodrig/fly-css-framework/archive/master.zip" onclick="gtag('event', 'download',{'event_category':'docs'});") here
		+demo

		//- spec
		+subtitle('install')
		p Add the stylesheet in the head tag
		+demo
			+code
				|&lt;link href="css/fly.css" rel="stylesheet"&gt;

