extends _layout.pug
include _mixins
block content
	article.fy-bx
		+title('Label')
		+resume

		//- spec
		+section
			+subtitle('Usage')
			+description
			+demo
				+example.
					<span class="fy-lbl">1</span>
					<span class="fy-lbl">1234</span>
					<span class="fy-lbl">name</span>
				+code.
					<span class="fy-lbl">1</span>
					<span class="fy-lbl">1234</span>
					<span class="fy-lbl">name</span>
				+open_example('label')


		//- spec
		+section
			+subtitle('Size')
			+description
			+properties([{'r':'','d':'Default'},{'r':'-m','d':'Medium'},{'r':'-l','d':'Large'}])
			+demo
				+example.
						<span class="fy-lbl">name</span>
						<br>
						<span class="fy-lbl -m">name</span>
						<br>
						<span class="fy-lbl -l">name</span>
				+code.
					<span class="fy-lbl">name</span>
					<span class="fy-lbl -m">name</span>
					<span class="fy-lbl -l">name</span>

		//- spec
		+section
			+subtitle('Colors')
			+description
			+properties([{'r':'-p','d':'primary'},{'r':'-s','d':'secondary'},{'r':'-ss','d':'success'},{'r':'-wa','d':'warning'},{'r':'-da','d':'danger'},{'r':'-in','d':'info'},{'r':'-li','d':'light'},{'r':'-dk','d':'dark'}])
			+demo
				+example.
					<span class="fy-lbl -p">primary</span>
					<span class="fy-lbl -s">secondary</span>
					<span class="fy-lbl -ss">succes</span>
					<span class="fy-lbl -wa">warning</span>
					<span class="fy-lbl -da">dark</span>
					<span class="fy-lbl -in">info</span>
					<span class="fy-lbl -li">light</span>
					<span class="fy-lbl -dk">dark</span>
				+code.
					<span class="fy-lbl -p">primary</span>
					<span class="fy-lbl -s">secondary</span>
					<span class="fy-lbl -ss">succes</span>
					<span class="fy-lbl -wa">warning</span>
					<span class="fy-lbl -da">dark</span>
					<span class="fy-lbl -in">info</span>
					<span class="fy-lbl -li">light</span>
					<span class="fy-lbl -dk">dark</span>
			