extends _layout.pug
include _mixins
block content
	article.fy-bx
		+title('Link')
		+resume

		//- spec
		+section
			+subtitle('Usage')
			+description
			+demo
				+example.
						<a href="">simple link example</a> 
						<br>
						<p> Lorem ipsum <a href="">adipisicing</a> consectetur adipisicing elit</p>
				+code.
						<a href="">simple link example</a> 
						<br>
						<p> Lorem ipsum <a href="">adipisicing</a> consectetur adipisicing elit</p>
				+open_example('link')

		//- spec
		+section
			+subtitle('Link with arrow')
			+description
			+properties([{'r':'fy-a -al','d':'Align left'},{'r':'fy-a -ar','d':'Align right'}])
			+demo
				+example.
					<a class="fy-a -al" href="">Link with arrow left </a>
					<br>
					<a class="fy-a -ar" href="">Link with arrow right </a>
				+code.
					<a class="fy-a -al" href="">Link with arrow left </a>
					<br>
					<a class="fy-a -ar" href="">Link with arrow right </a>


		//- spec
		+section
			+subtitle('Sizes')
			+description
			+properties([{'r':'','d':'Default'},{'r':'fy-a -s','d':'Small'}])
			+demo
				+example.
					<a href="">Link default size </a>
					<br>
					<a class="fy-a -s" href="">Link small </a>
					<br>
					<a class="fy-a -ar -s" href="">Example small with arrow</a>

				+code.
					<a href="">Link default size </a>
					<br>
					<a class="fy-a -s" href="">Link small </a>
					<br>
					<a class="fy-a -ar -s" href="">Example small with arrow</a>
