extends _layout.pug
include _mixins
block content
	article.fy-bx
		+title('Loading')
		+resume
			p Useful loading thanks to <a href="https://loading.io/css/" target="_blank">loadng.io</a>

		//- spec
		+section
			+subtitle('Usage')
			+description
			+demo
				+example.
						<div class="fy-ldg"><div></div><div></div><div></div><div></div>
						<div></div><div></div><div></div><div></div></div>
				+code.
						<div class="fy-ldg"><div></div><div></div><div></div><div></div>
						<div></div><div></div><div></div><div></div></div>
				+open_example('loading')


		//- spec
		//- +section
			+subtitle('Size')
			+description
			+properties([{'r':'','d':'Default'},{'r':'-s','d':'Small'},{'r':'-l','d':'Large'},{'r':'-xl','d':'Extra large'}])
			+demo
				+example.
					<div class="fy-ldg -s"></div>
					<br>
					<div class="fy-ldg"></div>
					<br>
					<div class="fy-ldg -l"></div>
					<br>
					<div class="fy-ldg -xl"></div>
					<br>
				+code.
					<div class="fy-ldg -s"></div>
					<div class="fy-ldg"></div>
					<div class="fy-ldg -l"></div>
					<div class="fy-ldg -xl"></div>

