extends _layout.pug
include _mixins
block content
	article.fy-bx
		+title('Margin')
		+resume
			p Apply margin top and bottom to any element

		//- spec
		+section
			+subtitle('Usage')
			+description
			+demo
				+example.
					<div class="fy-mt10">
						margin top 10
					</div>
				+code.
					<div class="fy-mt10">
						margin top 10
					</div>
				+open_example('margin')

		//- spec
		+section
			+subtitle('Size')
			+description
			+properties([{'r':'fy-mt[0-5]','d':'margin top from 0 to 50px'},{'r':'fy-mb[0-5]','d':'margin bottom from 0 to 50px'},{'r':'fy-ml[0-5]','d':'margin left from 0 to 50px'}, {'r':'fy-mr[0-5]','d':'margin right from 0 to 50px'}])
			+demo
				+example.
					<div class="fy-mt0">margin top 0</div>
					<div class="fy-mt1">margin top 10</div>
					<div class="fy-mt2">margin top 20</div>
					<div class="fy-mt3">margin top 30</div>
					<div class="fy-mt4">margin top 40</div>
					<div class="fy-mt5">margin top 50</div>
				+code.
					<div class="fy-mt0">margin top 0</div>
					<div class="fy-mt1">margin top 10</div>
					<div class="fy-mt2">margin top 20</div>
					<div class="fy-mt3">margin top 30</div>
					<div class="fy-mt4">margin top 40</div>
					<div class="fy-mt5">margin top 50</div>
				+example.
					<div class="fy-mb0">margin bottom 0</div>
					<div class="fy-mb1">margin bottom 10</div>
					<div class="fy-mb2">margin bottom 20</div>
					<div class="fy-mb3">margin bottom 30</div>
					<div class="fy-mb4">margin bottom 40</div>
					<div class="fy-mb5">margin bottom 50</div>
				+code.
					<div class="fy-mb0">margin bottom 0</div>
					<div class="fy-mb1">margin bottom 10</div>
					<div class="fy-mb2">margin bottom 20</div>
					<div class="fy-mb3">margin bottom 30</div>
					<div class="fy-mb4">margin bottom 40</div>
					<div class="fy-mb5">margin bottom 50</div>
				+example.
					<div class="fy-ml0">margin left 0</div>
					<div class="fy-ml1">margin left 10</div>
					<div class="fy-ml2">margin left 20</div>
					<div class="fy-ml3">margin left 30</div>
					<div class="fy-ml4">margin left 40</div>
					<div class="fy-ml5">margin left 50</div>
				+code.
					<div class="fy-ml0">margin left 0</div>
					<div class="fy-ml1">margin left 10</div>
					<div class="fy-ml2">margin left 20</div>
					<div class="fy-ml3">margin left 30</div>
					<div class="fy-ml4">margin left 40</div>
					<div class="fy-ml5">margin left 50</div>
				+example.
					<div style="text-align:right;">
						<div class="fy-mr0">margin right 0</div>
						<div class="fy-mr1">margin right 10</div>
						<div class="fy-mr2">margin right 20</div>
						<div class="fy-mr3">margin right 30</div>
						<div class="fy-mr4">margin right 40</div>
						<div class="fy-mr5">margin right 50</div>
					</div>
				+code.
					<div class="fy-mr0">margin right 0</div>
					<div class="fy-mr1">margin right 10</div>
					<div class="fy-mr2">margin right 20</div>
					<div class="fy-mr3">margin right 30</div>
					<div class="fy-mr4">margin right 40</div>
					<div class="fy-mr5">margin right 50</div>


