extends _layout.pug
include _mixins
block content
	article.fy-bx
		+title('Nav')
		+resume

		//- spec
		+section
			+subtitle('Usage')
			+description
			+demo
				+example
					.example-nav.
						<ul class="fy-nv">
							<li>
								<a href="">Lorem ipsum</a>
							</li>
							<li>
								<a href="">Reprehenderit</a>
							</li>
							<li>
								<a href="">Dapibus</a>
							</li>
							<li>
								<a href="">Facilisis</a>
							</li>
							<li>
								<a href="">Perspiciatis</a>
							</li>
						</ul>
				+code.
					<ul class="fy-nv">
						<li>
							<a href="">Lorem ipsum</a>
						</li>
						<li>
							<a href="">Reprehenderit</a>
						</li>
						<li>
							<a href="">Dapibus</a>
						</li>
						<li>
							<a href="">Facilisis</a>
						</li>
						<li>
							<a href="">Perspiciatis</a>
						</li>
					</ul>
				+open_example('nav')


		//- spec
		+section
			+subtitle('Header Modifier')
			+description
			+properties([{'r':'-h','d':'Header option'}])
			+demo
				+example
					.example-nav.
						<ul class="fy-nv -h">
							<li>
								<a href="">LOREM LIPSUM</a>
							</li>
							<li>
								<a href="">Reprehenderit</a>
							</li>
							<li>
								<a href="">Dapibus</a>
							</li>
							<li>
								<a href="">Facilisis</a>
							</li>
						</ul>
				+code.
						<ul class="fy-nv -h">
							<li>
								<a href="">LOREM LIPSUM</a>
							</li>
							<li>
								<a href="">Reprehenderit</a>
							</li>
							<li>
								<a href="">Dapibus</a>
							</li>
							<li>
								<a href="">Facilisis</a>
							</li>
						</ul>



		//- spec
		+section
			+subtitle('Nav with icons')
			+description
			+properties([{'r':'-h','d':'Header option'}])
			+demo
				+example
					.example-nav.
						<ul class="fy-nv">
							<li>
								<i class="fab fa-twitter"></i>
								<a href="">Facilisis in</a>
							</li>
							<li>
								<i class="fab fa-facebook-f"></i>
								<a href="">Dapibus</a>
							</li>
							<li>
								<i class="fab fa-youtube"></i>
								<a href="">Acfacilisis</a>
							</li>
							<li>
								<i class="fab fa-twitter"></i>
								<a href="">Daacilisis</a>
							</li>
							<li>
								<i class="fab fa-facebook-f"></i>
								<a href="">Locilisis in</a>
							</li>
						</ul>
						<ul class="fy-nv -h">
							<li>
								<i class="fab fa-twitter"></i>
								<a href="">Facilisis in</a>
							</li>
							<li>
								<i class="fab fa-facebook-f"></i>
								<a href="">Dapibus</a>
							</li>
							<li>
								<i class="fab fa-youtube"></i>
								<a href="">Acfacilisis</a>
							</li>
							<li>
								<i class="fab fa-twitter"></i>
								<a href="">Daacilisis</a>
							</li>
							<li>
								<i class="fab fa-facebook-f"></i>
								<a href="">Locilisis in</a>
							</li>
						</ul>
				+code.
						<ul class="fy-nv">
							<li>
								<i class="fab fa-twitter"></i>
								<a href="">Facilisis in</a>
							</li>
							<li>
								<i class="fab fa-facebook-f"></i>
								<a href="">Dapibus</a>
							</li>
							<li>
								<i class="fab fa-youtube"></i>
								<a href="">Acfacilisis</a>
							</li>
							<li>
								<i class="fab fa-twitter"></i>
								<a href="">Daacilisis</a>
							</li>
							<li>
								<i class="fab fa-facebook-f"></i>
								<a href="">Locilisis in</a>
							</li>
						</ul>
						<ul class="fy-nv -h">
							<li>
								<i class="fab fa-twitter"></i>
								<a href="">Facilisis in</a>
							</li>
							<li>
								<i class="fab fa-facebook-f"></i>
								<a href="">Dapibus</a>
							</li>
							<li>
								<i class="fab fa-youtube"></i>
								<a href="">Acfacilisis</a>
							</li>
							<li>
								<i class="fab fa-twitter"></i>
								<a href="">Daacilisis</a>
							</li>
							<li>
								<i class="fab fa-facebook-f"></i>
								<a href="">Locilisis in</a>
							</li>
						</ul>


		//- spec
		+section
			+subtitle('Nav with childs')
			+description
			+demo
				+example
					.example-nav.
						<ul class="fy-nv -h">
							<li>
								<i class="fab fa-twitter"></i>
								<a href="">The Header</a>
							</li>
							<li>
								<i class="fab fa-youtube"></i>
								<a href="">Dapibus ac facilisis in</a>
							</li>
							<li>
								<i class="fas fa-file"></i>
								<span>Dapibus ac facil</span>
								<ul class="fy-nv">
									<li>
										<a href="">The Header</a>
									</li>
									<li>
										<a href="">Dapibus ac facilisis in</a>
									</li>
									<li>
										<a href="">Dapibus ac facilisis in</a>

										<ul class="fy-nv">
											<li>
												<a href="">The Header</a>
											</li>
											<li>
												<a href="">Dapibus ac facilisis in</a>
											</li>
											<li>
												<a href="">Dapibus ac facilisis in</a>
											</li>
										</ul>	
									</li>
								</ul>					
							</li>
							<li>
								<i class="fab fa-twitter"></i>
								<a href="">Dapibus ac facilisis in</a>
							</li>
							<li>
								<i class="fab fa-facebook-f"></i>
								<a href="">Dapibus ac facilisis in</a>
							</li>
						</ul>
				+code.
					<ul class="fy-nv -h">
						<li>
							<i class="fab fa-twitter"></i>
							<a href="">The Header</a>
						</li>
						<li>
							<i class="fab fa-youtube"></i>
							<a href="">Dapibus ac facilisis in</a>
						</li>
						<li>
							<i class="fas fa-file"></i>
							<span>Dapibus ac facil</span>
							<ul class="fy-nv">
								<li>
									<a href="">The Header</a>
								</li>
								<li>
									<a href="">Dapibus ac facilisis in</a>
								</li>
								<li>
									<a href="">Dapibus ac facilisis in</a>

									<ul class="fy-nv">
										<li>
											<a href="">The Header</a>
										</li>
										<li>
											<a href="">Dapibus ac facilisis in</a>
										</li>
										<li>
											<a href="">Dapibus ac facilisis in</a>
										</li>
									</ul>	
								</li>
							</ul>					
						</li>
						<li>
							<i class="fab fa-twitter"></i>
							<a href="">Dapibus ac facilisis in</a>
						</li>
						<li>
							<i class="fab fa-facebook-f"></i>
							<a href="">Dapibus ac facilisis in</a>
						</li>
					</ul>					