extends _layout.pug
include _mixins
block content
	article.fy-bx
		+title('Navbar')
		+resume
			p Responsive horizontal navbar. It can contain menu link, logo, button, search bar, etc.
		
		//- spec
		+section
			+subtitle('usage')
			+description
				p Default hero has a max-width and center the content.
			+demo
				+example.
					<div class="fy-nb">
						<div class="fy-nb_l">
							THE LOGO
						</div>
						<div class="fy-nb_g">
							Any element here
						</div>
						<div class="fy-nbb">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
				+code.
					<div class="fy-nb">
						<div class="fy-nb_l">
							THE LOGO
						</div>
						<div class="fy-nb_g">
							Any element here
						</div>
						<div class="fy-nbb">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
				+open_example('navbar')

		//- spec
		+section
			+subtitle('Menu items')
			+description

			+demo
				+example.
					<div class="fy-nb">
						<div class="fy-nb_l">
							THE LOGO
						</div>
						<div class="fy-nb_g">
							<a href="#" class="fy-nb_i">Menú</a>
							<a href="#" class="fy-nb_i">Document</a>
							<a href="#" class="fy-nb_i">Example</a>
							<a href="#" class="fy-nb_i">Login</a>
						</div>
						<div class="fy-nbb">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>					
				+code.
					<div class="fy-nb">
						<div class="fy-nb_l">
							THE LOGO
						</div>
						<div class="fy-nb_g">
							<a href="#" class="fy-nb_i">Menú</a>
							<a href="#" class="fy-nb_i">Document</a>
							<a href="#" class="fy-nb_i">Example</a>
							<a href="#" class="fy-nb_i">Login</a>
						</div>
						<div class="fy-nbb">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>

		//- spec
		+section
			+subtitle('Highlight menu item')
			+description
				p Highlight the current menu item adding the css rule <code class="fy-cd">-a</code>

			+demo
				+example.
					<div class="fy-nb">
						<div class="fy-nb_l">
							THE LOGO
						</div>
						<div class="fy-nb_g">
							<a href="#" class="fy-nb_i">Menú</a>
							<a href="#" class="fy-nb_i -a">Document</a>
							<a href="#" class="fy-nb_i">Example</a>
							<a href="#" class="fy-nb_i">Login</a>
						</div>
						<div class="fy-nbb">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>					
				+code.
					<div class="fy-nb">
						<div class="fy-nb_l">
							THE LOGO
						</div>
						<div class="fy-nb_g">
							<a href="#" class="fy-nb_i">Menú</a>
							<a href="#" class="fy-nb_i -a">Document</a>
							<a href="#" class="fy-nb_i">Example</a>
							<a href="#" class="fy-nb_i">Login</a>
						</div>
						<div class="fy-nbb">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>	




		//- spec
		+section
			+subtitle('Menu items orientation')
			+description
				p Align group of link in the navbar to left or right
			
			+demo
				+example.
					<div class="fy-nb">
						<div class="fy-nb_l">
							FLY CSS FRAMEWORK
						</div>
						<div class="fy-nb_g">
							<div class="fy-nb_gl">
								<a href="#" class="fy-nb_i">Menú</a>
								<a href="#" class="fy-nb_i">Document</a>
								<a href="#" class="fy-nb_i">Example</a>
							</div>
							<div class="fy-nb_gr">
								<a href="#" class="fy-nb_i">Example</a>
								<a href="#" class="fy-nb_i">Login</a>
							</div>
						</div>
						<div class="fy-nbb">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>				
				+code.
					<div class="fy-nb">
						<div class="fy-nb_l">
							FLY CSS FRAMEWORK
						</div>
						<div class="fy-nb_g">
							<div class="fy-nb_gl">
								<a href="#" class="fy-nb_i">Menú</a>
								<a href="#" class="fy-nb_i">Document</a>
								<a href="#" class="fy-nb_i">Example</a>
							</div>
							<div class="fy-nb_gr">
								<a href="#" class="fy-nb_i">Example</a>
								<a href="#" class="fy-nb_i">Login</a>
							</div>
						</div>
						<div class="fy-nbb">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>




		//- spec
		+section
			+subtitle('Menu drop down')
			+description
				p Useful menu with drop down items
			
			+demo
				+example.
					<div class="fy-nb">
						<div class="fy-nb_l">
							Logo
						</div>
						<div class="fy-nbb">
							<span></span>
							<span></span>
							<span></span>
						</div>
						<div class="fy-nb_g">
							<a href="#" class="fy-nb_i">Normal</a>
							<div href="#" class="fy-nb_dd">
								Drop down
								<div class="_b">
									<span class="_t"></span>
									<div class="_l">
							            <a href="">LoremIpsum</a>
							            <a href="">Consectetur</a>
							            <a href="">Wuibusdam</a>
									</div>
								</div>						
							</div>
												
							<a href="#" class="fy-nb_i">Regular</a>
							
							<div href="#" class="fy-nb_dd">
								Drop down
								<div class="_b">
									<span class="_t"></span>
									<div class="_l">
							            <a href="">LoremIpsum</a>
							            <a href="">Consectetur</a>
							            <a href="">Aadipisicing</a>
							            <a href="">Wuibusdam</a>
									</div>
								</div>						
							</div>
							<a href="#" class="fy-nb_i">Something</a>
						</div>
					</div>
				+code.
					<div class="fy-nb">
						<div class="fy-nb_l">
							Logo
						</div>
						<div class="fy-nbb">
							<span></span>
							<span></span>
							<span></span>
						</div>
						<div class="fy-nb_g">
							<a href="#" class="fy-nb_i">Normal</a>
							<div href="#" class="fy-nb_dd">
								Drop down
								<div class="_b">
									<span class="_t"></span>
									<div class="_l">
							            <a href="">LoremIpsum</a>
							            <a href="">Consectetur</a>
							            <a href="">Wuibusdam</a>
									</div>
								</div>						
							</div>
												
							<a href="#" class="fy-nb_i">Regular</a>
							
							<div href="#" class="fy-nb_dd">
								Drop down
								<div class="_b">
									<span class="_t"></span>
									<div class="_l">
							            <a href="">LoremIpsum</a>
							            <a href="">Consectetur</a>
							            <a href="">Aadipisicing</a>
							            <a href="">Wuibusdam</a>
									</div>
								</div>						
							</div>
							<a href="#" class="fy-nb_i">Something</a>
						</div>
					</div>
				+open_example('navbar-dropdown')




		//- spec
		+section
			+subtitle('Navbar Size')
			+description
				p An small version of the navbar. Useful as sub-menu
			+properties([{'r':'-s','d':'Navbar small'}])
			+demo
				+example.
					<div class="fy-nb -s">
						<div class="fy-nb_l">
							Logo fly css framework
						</div>
						<div class="fy-nb_g">
							<a href="#" class="fy-nb_i">Menú</a>
							<a href="#" class="fy-nb_i">Document</a>
							<a href="#" class="fy-nb_i">Example</a>
							<a href="#" class="fy-nb_i">Login</a>
							<a href="#" class="fy-nb_i">Register</a>
						</div>

						<div class="fy-nbb">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>		
				+code.
					<div class="fy-nb -s">
						<div class="fy-nb_l">
							Logo fly css framework
						</div>
						<div class="fy-nb_g">
							<a href="#" class="fy-nb_i">Menú</a>
							<a href="#" class="fy-nb_i">Document</a>
							<a href="#" class="fy-nb_i">Example</a>
							<a href="#" class="fy-nb_i">Login</a>
							<a href="#" class="fy-nb_i">Register</a>
						</div>

						<div class="fy-nbb">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>	
