extends _layout.pug
include _mixins
block content
	article.fy-bx
		+title('Padding')
		+resume
			p Apply margin top and bottom to any element

		//- spec
		+section
			+subtitle('Usage')
			+description
			+demo
				+example.
					<div class="fy-pt10">
						 Lorem ipsum dolor sit amet, consectetur
					</div>
				+code.
					<div class="fy-pt10">
						 Lorem ipsum dolor sit amet, consectetur
					</div>
				+open_example('padding')

		//- spec
		+section
			+subtitle('Size')
			+description
			+properties([{'r':'fy-pt[0-5]','d':'padding top from 0 to 50px'},{'r':'fy-pb[0-5]','d':'padding bottom from 0 to 50px'},{'r':'fy-pl[0-5]','d':'padding left from 0 to 50px'},{'r':'fy-pr[0-5]','d':'padding right from 0 to 50px'}])
			+demo
				+example.
					<div class="fy-pt0">padding top 0</div>
					<div class="fy-pt1">padding top 10</div>
					<div class="fy-pt2">padding top 20</div>
					<div class="fy-pt3">padding top 30</div>
					<div class="fy-pt4">padding top 40</div>
					<div class="fy-pt5">padding top 50</div>
				+code.
					<div class="fy-pt0">padding top 0</div>
					<div class="fy-pt1">padding top 10</div>
					<div class="fy-pt2">padding top 20</div>
					<div class="fy-pt3">padding top 30</div>
					<div class="fy-pt4">padding top 40</div>
					<div class="fy-pt5">padding top 50</div>
				+example.
					<div class="fy-pt0">padding bottom 0</div>
					<div class="fy-pb1">padding bottom 10</div>
					<div class="fy-pb2">padding bottom 20</div>
					<div class="fy-pb3">padding bottom 30</div>
					<div class="fy-pb4">padding bottom 40</div>
					<div class="fy-pb5">padding bottom 50</div>
				+code.
					<div class="fy-pt0">padding bottom 0</div>
					<div class="fy-pb1">padding bottom 10</div>
					<div class="fy-pb2">padding bottom 20</div>
					<div class="fy-pb3">padding bottom 30</div>
					<div class="fy-pb4">padding bottom 40</div>
					<div class="fy-pb5">padding bottom 50</div>
				+example.
					<div class="fy-pt0">padding left 0</div>
					<div class="fy-pl1">padding left 10</div>
					<div class="fy-pl2">padding left 20</div>
					<div class="fy-pl3">padding left 30</div>
					<div class="fy-pl4">padding left 40</div>
					<div class="fy-pl5">padding left 50</div>
				+code.
					<div class="fy-pt0">padding left 0</div>
					<div class="fy-pl1">padding left 10</div>
					<div class="fy-pl2">padding left 20</div>
					<div class="fy-pl3">padding left 30</div>
					<div class="fy-pl4">padding left 40</div>
					<div class="fy-pl5">padding left 50</div>				
				+example.
					<div style="text-align:right;">
						<div class="fy-pt0">padding right 0</div>
						<div class="fy-pr1">padding right 10</div>
						<div class="fy-pr2">padding right 20</div>
						<div class="fy-pr3">padding right 30</div>
						<div class="fy-pr4">padding right 40</div>
						<div class="fy-pr5">padding right 50</div>
					</div>
				+code.
					<div class="fy-pt0">padding right 0</div>
					<div class="fy-pr1">padding right 10</div>
					<div class="fy-pr2">padding right 20</div>
					<div class="fy-pr3">padding right 30</div>
					<div class="fy-pr4">padding right 40</div>
					<div class="fy-pr5">padding right 50</div>
