extends _layout.pug
include _mixins
block content
	article.fy-bx
		+title('Tab')
		+resume

		//- spec
		+section
			+subtitle('Usage')
			+description
			+demo
				+example.
					<div class="fy-tab">
						<div class="fy-tab_h">
							<div class="fy-tab_i">Menu</div>
							<div class="fy-tab_i -a">Tab</div>
							<div class="fy-tab_i">Button One</div>
							<div class="fy-tab_i">Two</div>
						</div>
					</div>
				+code.
					<div class="fy-tab">
						<div class="fy-tab_h">
							<div class="fy-tab_i">Menu</div>
							<div class="fy-tab_i">Tab</div>
							<div class="fy-tab_i">Button One</div>
							<div class="fy-tab_i">Two</div>
						</div>
					</div>
				+open_example('tab')


		//- spec
		+section
			+subtitle('Tab active')
			+description
				p Add the class <code>-a</code> to a tab item.
			+demo
				+example.
					<div class="fy-tab">
						<div class="fy-tab_h">
							<div class="fy-tab_i">Menu</div>
							<div class="fy-tab_i -a">Tab</div>
							<div class="fy-tab_i">Button One</div>
							<div class="fy-tab_i">Two</div>
						</div>
					</div>
				+code.
					<div class="fy-tab">
						<div class="fy-tab_h">
							<div class="fy-tab_i">Menu</div>
							<div class="fy-tab_i -a">Tab</div>
							<div class="fy-tab_i">Button One</div>
							<div class="fy-tab_i">Two</div>
						</div>
					</div>

		//- spec
		+section
			+subtitle('Size')
			+description
			+properties([{'r':'-s','d':'Small'}])
			+demo
				+example.
					<div class="fy-tab -s">
						<div class="fy-tab_h">
							<div class="fy-tab_i">Menu</div>
							<div class="fy-tab_i -a">Tab</div>
							<div class="fy-tab_i">Button One</div>
							<div class="fy-tab_i">Two</div>
						</div>
					</div>				
				+code.
					<div class="fy-tab -s">
						<div class="fy-tab_h">
							<div class="fy-tab_i">Menu</div>
							<div class="fy-tab_i -a">Tab</div>
							<div class="fy-tab_i">Button One</div>
							<div class="fy-tab_i">Two</div>
						</div>
					</div>


		//- spec
		+section
			+subtitle('Style')
			+description
			+properties([{'r':'-ln','d':'Lined'}])
			+demo
				+example.
					<div class="fy-tab -ln">
						<div class="fy-tab_h">
							<div class="fy-tab_i">Menu</div>
							<div class="fy-tab_i -a">Tab</div>
							<div class="fy-tab_i">Button One</div>
							<div class="fy-tab_i">Two</div>
						</div>
					</div>
				+code.
					<div class="fy-tab -ln">
						<div class="fy-tab_h">
							<div class="fy-tab_i">Menu</div>
							<div class="fy-tab_i -a">Tab</div>
							<div class="fy-tab_i">Button One</div>
							<div class="fy-tab_i">Two</div>
						</div>
					</div>

		//- spec
		+section
			+subtitle('Alignment')
			+description
			+properties([{'r':'-or','d':'Orientation right'}])
			+demo
				+example.
					<div class="fy-tab -or">
						<div class="fy-tab_h">
							<div class="fy-tab_i">Menu</div>
							<div class="fy-tab_i -a">Tab</div>
							<div class="fy-tab_i">Button One</div>
							<div class="fy-tab_i">Two</div>
						</div>
					</div>
				+code.
					<div class="fy-tab -or">
						<div class="fy-tab_h">
							<div class="fy-tab_i">Menu</div>
							<div class="fy-tab_i -a">Tab</div>
							<div class="fy-tab_i">Button One</div>
							<div class="fy-tab_i">Two</div>
						</div>
					</div>
					

		//- spec
		//- +section
			+subtitle('Tab body')
			+description
			+demo
				+example.
					<div class="fy-tab -ln">
						<div class="fy-tab_h">
							<div class="fy-tab_i -a">Item 1</div>
							<div class="fy-tab_i">Item 2</div>
							<div class="fy-tab_i ">Item 3</div>
							<div class="fy-tab_i">Item 4</div>
						</div>
						<div class="fy-tab_b">
							<div class="-a">
								<div class="fy-bx">
									Item 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae quaerat quo ratione, eaque at temporibus dolores quae maxime autem excepturi dignissimos consequuntur, qui tempora eius eos, asperiores, eum laborum nisi.
								</div>
							</div>
						</div>
					</div>		
				+code.
					<div class="fy-tab -ln">
						<div class="fy-tab_h">
							<div class="fy-tab_i -a">Item 1</div>
							<div class="fy-tab_i">Item 2</div>
							<div class="fy-tab_i ">Item 3</div>
							<div class="fy-tab_i">Item 4</div>
						</div>
						<div class="fy-tab_b">
							<div class="-a">
								<div class="fy-bx">
									Item 1 Lorem ipsum dolor...
								</div>
							</div>
						</div>
					</div>
