extends _layout.pug
include _mixins
block content
	article.fy-bx
		+title('Text')
		+resume

		//- spec
		+section
			+subtitle('Default')
			+description
			+demo
				+example.
					<div>Lorem ipsum dolor sit amet</div>
				+code.
					<div>Lorem ipsum dolor sit amet</div>
				+open_example('text')


		//- spec
		+section
			+subtitle('Typografy size')
			+description
				p Basic default text
			+properties([{'r':'fy-txh1','d':'H1'},{'r':'fy-txh2','d':'H2'},{'r':'fy-txh3','d':'H3'},{'r':'fy-txh4','d':'H4'},{'r':'fy-txh5','d':'H5'},{'r':'fy-txh6','d':'H6'},{'r':'fy-txb1','d':'Body 1'},{'r':'fy-txb2','d':'Body 2'},{'r':'fy-txb3','d':'Body 3'},{'r':'fy-txb4','d':'Body 4'},])
			+demo
				+example.
					<div class="fy-txh1">
						Heading h1 consectetur neque doloribus
					</div>
					<div class="fy-txh2">
						Heading h2 consectetur neque doloribus
					</div>
					<div class="fy-txh3">
						Heading h3 consectetur neque doloribus
					</div>
					<div class="fy-txh4">
						Heading h4 consectetur neque doloribus
					</div>
					<div class="fy-txh5">
						Heading h5 consectetur neque doloribus
					</div>
					<div class="fy-txh6">
						Heading h6 consectetur neque doloribus
					</div>
					<div class="fy-txb1">
						Body 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur unde suscipit
					</div>
					<div class="fy-txb2">
						Body 2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur unde suscipit
					</div>
					<div class="fy-txb3">
						Body 3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur unde suscipit
					</div>
					<div class="fy-txb4">
						Body 4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur unde suscipit
					</div>


				+code.
					<div class="fy-txh1">
						Heading h1 consectetur neque doloribus
					</div>
					<div class="fy-txh2">
						Heading h2 consectetur neque doloribus
					</div>
					<div class="fy-txh3">
						Heading h3 consectetur neque doloribus
					</div>
					<div class="fy-txh4">
						Heading h4 consectetur neque doloribus
					</div>
					<div class="fy-txh5">
						Heading h5 consectetur neque doloribus
					</div>
					<div class="fy-txh6">
						Heading h6 consectetur neque doloribus
					</div>
					<div class="fy-txb1">
						Body 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur unde suscipit
					</div>
					<div class="fy-txb2">
						Body 2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur unde suscipit
					</div>
					<div class="fy-txb3">
						Body 3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur unde suscipit
					</div>
					<div class="fy-txb4">
						Body 4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur unde suscipit
					</div>

		//- spec
		//- +section
		//- 	+subtitle('Lead')
		//- 	+description
		//- 		p Medium size text used for titles. It also have a margin bottom. 
		//- 	+demo
		//- 		+example.
		//- 			<div class="fy-txld">Lorem ipsum dolor sit amet</div>
		//- 		+code.
		//- 			<div class="fy-txld">Lorem ipsum dolor sit amet</div>

		//- spec
		+section
			+subtitle('Mute')
			+description
				p Small and lighter text
			+demo
				+example.
					<div class="fy-txmu">Lorem ipsum dolor sit amet</div>
				+code.
					<div class="fy-txmu">Lorem ipsum dolor sit amet</div>


		//- spec
		+section
			+subtitle('Styles')
			+description
			+properties([{'r':'fy-txul', 'd':'Underline'},{'r':'fy-txnul', 'd':'Remove underline'},{'r':'fy-txuc', 'd':'Transform uppercase'},{'r':'fy-txlc', 'd':'Transform lowecase'},{'r':'fy-txcp', 'd':'Transform capitalize'},{'r':'fy-txal', 'd':'Align left'},{'r':'fy-txar', 'd':'Align right'},{'r':'fy-txac', 'd':'Align center'},{'r':'fy-txaj', 'd':'Align justify'}])
			+demo
				+example
					.example-text.
						<div class="fy-txul">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						</div>
						<div>
							<a class="fy-txnul">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							</a>
						</div>
						<div class="fy-txuc">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						</div>
						<div class="fy-txlc">
							LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISICING ELIT.
						</div>
						<div class="fy-txcp">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						</div>
						<div class="fy-txal">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						</div>
						<div class="fy-txar">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						</div>
						<div class="fy-txac">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						</div>
						<div class="fy-txaj">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						</div>
				+code.
					<div class="fy-txul">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					</div>
					<div>
						<a class="fy-txnul">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						</a>
					</div>
					<div class="fy-txuc">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					</div>
					<div class="fy-txlc">
						LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISICING ELIT.
					</div>
					<div class="fy-txcp">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					</div>
					<div class="fy-txal">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					</div>
					<div class="fy-txar">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					</div>
					<div class="fy-txac">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					</div>
					<div class="fy-txaj">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					</div>
				+open_example('text-align')
					










					











					











					











