extends _layout.pug
include _mixins
block content
	article.fy-bx
		+title('Tooltip')
		+resume

		//- spec
		+section
			+subtitle('Usage')
			+description
			+demo
				+example
					.example-tooltip.
						<div class="fy-tt" id="tt" fly-tt-w="1" fly-tt-a="left">
							<p>
								Tool tip
							</p>
							<button class="fy-btn -s" fly-tt-c>Yes</button>
							<button class="fy-btn -s" fly-tt-c>No</button>
						</div>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						
				+code.
					<a href="" class="" id="lol" fly-tt-o="1">open tool tip</a>
					<br>
					<a href="" class="" id="lol" fly-tt-o="2">open tool tip</a>
					<div class="fy-tt" id="tt" fly-tt-w="1" fly-tt-a="left">
						<p>
							Tool tip
						</p>
						<button class="fy-btn -s" fly-tt-c>Yes</button>
						<button class="fy-btn -s" fly-tt-c>No</button>
					</div>
					<div class="fy-tt" id="tt" fly-tt-w="2" fly-tt-a="right">
						<p>
							Tool tip aligned to right
						</p>
						<button class="fy-btn -s" fly-tt-c>Yes</button>
						<button class="fy-btn -s" fly-tt-c>No</button>
					</div>
				+open_example('tooltip')

