@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/open-sans/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/open-sans/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansbold_italic';
    src: url('../fonts/open-sans/opensans-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/open-sans/opensans-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/open-sans/opensans-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/open-sans/opensans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansextrabold_italic';
    src: url('../fonts/open-sans/opensans-extrabolditalic-webfont.woff2') format('woff2'),
         url('../fonts/open-sans/opensans-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansitalic';
    src: url('../fonts/open-sans/opensans-italic-webfont.woff2') format('woff2'),
         url('../fonts/open-sans/opensans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/open-sans/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/open-sans/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanslight_italic';
    src: url('../fonts/open-sans/opensans-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/open-sans/opensans-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/open-sans/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/open-sans/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/open-sans/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/open-sans/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('../fonts/open-sans/opensans-semibolditalic-webfont.woff2') format('woff2'),
         url('../fonts/open-sans/opensans-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.fy-opensans{
    font-family: 'open_sansregular';
}
.fy-opensans-italic{
    font-family: 'open_sansitalic';
}
.fy-opensans-light{
    font-family: 'open_sanslight';
}
.fy-opensans-lightitalic{
    font-family: 'open_sanslight_italic';
}
.fy-opensans-semibold{
    font-family: 'open_sanssemibold';
}
.fy-opensans-semibolditalic{
    font-family: 'open_sanssemibold_italic';
}
.fy-opensans-bold{
    font-family: 'open_sansbold';
}
.fy-opensans-bolditalic{
    font-family: 'open_sansbold_italic';
}
.fy-opensans-extrabold{
    font-family: 'open_sansextrabold';
}
.fy-opensans-extrabolditalic{
    font-family: 'open_sansextrabold_italic';
}
