
// primary
.fy-bgc-p {
	background-color: $background-color-primary;
}

// secondary
.fy-bgc-s {
	background-color: $background-color-secondary;
}

// neutral
.fy-bgc-n {
	background-color: $background-color-neutral;
}

// warning
.fy-bgc-wa {
	background-color: $background-color-warning;
}

// success
.fy-bgc-su {
	background-color: $background-color-success;
}