.fy-bge {
    border-radius: 10px;
    background-color: $color-neutral;
    font-size: 12px;
    min-width: 22px;
    height: 17px;
    text-align: center;
    padding: 0 6px;
    vertical-align: middle;
    display: inline-flex;
    justify-content: center;

}