.fy-bdg {
    border-radius: 10px;
    background-color: $color-neutral;
    font-size: 11px;
    min-width: 22px;
    height: 17px;
    text-align: center;
    padding: 2px 6px;
    vertical-align: middle;
    justify-content: center;

    &
    &.-l {
        font-size: 18px;
    }
}