.fy-dl {
	> div {
		padding: 11px 16px;
		font-size: 16px;
		span {
			display: block;
			font-size: 12px;
		}
	}
	
}

.fy-dl {
	&.-ln {
		> div  {
			border-bottom: 1px solid $color-light-darker;
			&:last-child {
				border-bottom: none;
			}
		}
		
	}
}

.fy-dl {
	&.-uc {
		> div  {
			font-size: 11px;
		}
		
	}
}



.fy-dl {
	&.-bd {
		border: 1px solid $color-light-darker;
	}
}


