.fy-fbg {
    animation-name: fy-fbg;
    animation-duration: 0.9s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}
@-webkit-keyframes fy-fbg {
    0% {
        background-color: $color-warning-lighter;
    }
    100% {
        background-color: transparent;
    }
}
