
$field-border-color: $color-light-darker;
$field-color: $color-secondary-darker;

.fy-fr {
	margin-bottom: 20px;
	
}


.fy-fi,
.fy-fs {
	display: block;
	width: 100%;
	height: 45px;
	font-size: 16px;
	border:1px solid $field-border-color;
	padding: 0 10px;
	color: $field-color;
	background-color: #ffffff;
	border-radius: 0;
	&.-xs {
		height: 20px;
		font-size: 12px;
		padding: 0 5px;
	}

	&.-s {
		height: 35px;
		font-size: 14px;
	}

	&.-l {
		height: 60px;
		font-size: 18px;
		padding: 0 20px;
	}

}

.fy-fs {
	appearance: none;
	-webkit-appearance: none;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NDZFNDEwNjlGNzFEMTFFMkJEQ0VDRTM1N0RCMzMyMkIiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NDZFNDEwNkFGNzFEMTFFMkJEQ0VDRTM1N0RCMzMyMkIiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo0NkU0MTA2N0Y3MUQxMUUyQkRDRUNFMzU3REIzMzIyQiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo0NkU0MTA2OEY3MUQxMUUyQkRDRUNFMzU3REIzMzIyQiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PuGsgwQAAAA5SURBVHjaYvz//z8DOYCJgUxAf42MQIzTk0D/M+KzkRGPoQSdykiKJrBGpOhgJFYTWNEIiEeAAAMAzNENEOH+do8AAAAASUVORK5CYII=);
	background-repeat: no-repeat;
	background-position: right 50%;
	background-repeat: no-repeat;
}

.fy-fo {
	font-size: 14px;
    margin-bottom: 5px;
	> input {
		margin-right: 5px;
	}
	&.-xs {
		font-size: 12px;
		> input {
			margin-right: 3px;
		}		
	}
	&.-s {
		font-size: 14px;
		> input {
			margin-right: 4px;
		}
	}
	&.-l {
		font-size: 18px;
		> input {
			margin-right: 8px;
		}
	}	
}


.fy-ft {
	display: block;
	width: 100%;
	min-height: 80px;
	font-size: 16px;
	border:1px solid $field-border-color;
	padding: 10px;
	color: $field-color;
	background-color: #ffffff;
	border-radius: 0;
    line-height: 1.4;

    &.-xs {
    	font-size: 12px;
		padding: 5px;
    }
    &.-s {
    	font-size: 14px;
    	padding: 8px;
    }
    &.-l {
    	padding: 12px;
    }    
}

.fy-fl {
	margin-bottom: 5px;
	font-size: 14px;
	display: block;
			
}

.fy-fe {
	font-size: 11px;
	color: $color-danger;
}


.fy-fr {
	.fy-gc {
		> div {
			/*margin-bottom: 20px;*/
			/*&:last-child  {
				margin-bottom: 0;
			}*/

		}
	}

}




