$hightlight-text-background-color-primary: $color-soft-primary;
$hightlight-text-background-color-secondary: $color-soft-secondary;
$hightlight-text-background-color-success: $color-soft-success;
$hightlight-text-background-color-warning: $color-soft-warning;
$hightlight-text-background-color-danger: $color-soft-danger;
$hightlight-text-background-color-info: $color-soft-info;
$hightlight-text-background-color-light: $color-soft-light;
$hightlight-text-background-color-dark: $color-soft-dark;

.fy-hl {
	padding: 0 2px;
	&.-p {
		background-color: $hightlight-text-background-color-primary;
	}
		
	&.-s {
		background-color: $hightlight-text-background-color-secondary;
	}
		
	&.-su {
		background-color: $hightlight-text-background-color-success;
	}

	&.-wa {
		background-color: $hightlight-text-background-color-warning;
	}
		
	&.-da {
		background-color: $hightlight-text-background-color-danger;
	}
	
	&.-in {
		background-color: $hightlight-text-background-color-info;
	}
	
	&.-li {
		background-color: $hightlight-text-background-color-light;
	}
	
	&.-dk {
		background-color: $hightlight-text-background-color-dark;
		
	}
}




