
.fy-lbl {
    border-radius: 3px;
    background-color: $color-neutral;
    font-size: 11px;
    min-width: 22px;
    height: 17px;
    vertical-align: middle;
    justify-content: center;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 2px;
    display: inline;

    &.-l {
        font-size: 18px;
        padding-left: 4px;
        padding-right: 4px;
    }

    // primary
    &.-p {
        background-color: $color-primary;
        color: $color-light-full;
    }
    // secondary
    &.-s {
        background-color: $color-secondary;
        color: $color-light-full;
    }
    // success
    &.-ss {
        background-color: $color-success;
        color: $color-light-full;
    }
    // warning
    &.-wa {
        background-color: $color-warning;
    }
    // danger
    &.-da {
        background-color: $color-danger;
        color: $color-light-full;
    }
    // info
    &.-in {
        background-color: $color-info;
        color: $color-light-full;
    }
    // light
    &.-li {
        background-color: $color-light;
    }
    // dark
    &.-dk {
        background-color: $color-dark;
        color: $color-light-full;
    }    
}









