
$loading-border-color-default: $color-secondary-lighter;
$loading-border-color-primary: $color-primary;
$loading-border-color-secondary: $color-secondary;
$loading-border-color-success: $color-success;
$loading-border-color-warning: $color-warning;
$loading-border-color-danger: $color-danger;
$loading-border-color-info: $color-info;
$loading-border-color-light: $color-light;
$loading-border-color-dark: $color-dark;


@keyframes fy-ldg {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.fy-ldg {
	display: inline-block;
	width: 22px;
	height: 22px;
}

.fy-ldg:after {
	content: " ";
	display: block;
	width: 20px;
	height: 20px;
	margin: 1px;
	border-radius: 50%;
	border: 2px solid #000;
	border-color: $loading-border-color-default transparent $loading-border-color-default transparent;
	animation: fy-ldg 0.9s linear infinite;
}

.fy-ldg {
	&.-s {
		width: 15px;
		height: 15px;
		&:after {
			width: 10px;
			height: 10px;
			border: 2px solid $loading-border-color-default;
			border-color: $loading-border-color-default transparent $loading-border-color-default transparent;
			animation: fy-ldg 0.7s linear infinite;
		}
	}
	&.-l {
		width: 40px;
		height: 40px;
		&:after {
			width: 32px;
			height: 32px;
			border: 3px solid $loading-border-color-default;
			border-color: $loading-border-color-default transparent $loading-border-color-default transparent;			
		}		
	}
	&.-xl {
		width: 64px;
		height: 64px;
		&:after {
			width: 46px;
			height: 46px;
			border: 3px solid $loading-border-color-default;
			border-color: $loading-border-color-default transparent $loading-border-color-default transparent;			
		}
	}
}


.fy-ldg {

	&.-p {
		&:after {
			border-color: $loading-border-color-primary transparent $loading-border-color-primary transparent;
		}
	}

	&.-se {
		&:after {
			border-color: $loading-border-color-secondary transparent $loading-border-color-secondary transparent;
		}
	}

	&.-su {
		&:after {
			border-color: $loading-border-color-success transparent $loading-border-color-success transparent;
		}
	}

	&.-da {
		&:after {
			border-color: $loading-border-color-warning transparent $loading-border-color-warning transparent;
		}
	}

	&.-wa {
		&:after {
			border-color: $loading-border-color-danger transparent $loading-border-color-danger transparent;
		}
	}

	&.-in {
		&:after {
			border-color: $loading-border-color-info transparent $loading-border-color-info transparent;
		}
	}

	&.-li {
		&:after {
			border-color: $loading-border-color-light transparent $loading-border-color-light transparent;
		}
	}

	&.-dk {
		&:after {
			border-color: $loading-border-color-dark transparent $loading-border-color-dark transparent;
		}
	}



}

