
/* margin top */

@for $i from 0 through $margin-loop-max-through {

	.fy-mt#{$i*10} {
		margin-top: $i*$margin-loop-constant;
	}

	.fy-mtxs#{$i*10} {
		@include mm-media($extra-small-min-size, $extra-small-max-size){
			margin-top: $i*$margin-loop-constant;
		}
	}
	.fy-mts#{$i*10} {
		@include mm-media($small-min-size, $small-max-size){
			margin-top: $i*$margin-loop-constant;
		}
	}
	.fy-mtm#{$i*10} {
		@include mm-media($medium-min-size, $medium-max-size){
			margin-top: $i*$margin-loop-constant;
		}
	}
	.fy-mtl#{$i*10} {
		@include min-media($large-min-size){
			margin-top: $i*$margin-loop-constant;
		}
	}	

}

/* margin bottom */

@for $i from 0 through $margin-loop-max-through {

	.fy-mb#{$i*10} {
		margin-bottom: $i*$margin-loop-constant;
	}

	.fy-mbxs#{$i*10} {
		@include mm-media($extra-small-min-size, $extra-small-max-size) {
			margin-bottom: $i*$margin-loop-constant;
		}
	}
	.fy-mbs#{$i*10} {
		@include mm-media($small-min-size, $small-max-size){
			margin-bottom: $i*$margin-loop-constant;
		}
	}
	.fy-mbm#{$i*10} {
		@include mm-media($medium-min-size, $medium-max-size){
			margin-bottom: $i*$margin-loop-constant;
		}
	}
	.fy-mbl#{$i*10} {
		@include min-media($large-min-size){
			margin-bottom: $i*$margin-loop-constant;
		}
	}

}

/* marbin top negative */

@for $i from 0 through $margin-loop-max-through {
	.fy-mtn#{$i*10} {
		margin-top: -$i*$margin-loop-constant;
	}	
	.fy-mtnxs#{$i*10} {
		@include mm-media($extra-small-min-size, $extra-small-max-size) {
			margin-top: -$i*$margin-loop-constant;
		}
	}
	.fy-mtns#{$i*10} {
		@include mm-media($small-min-size, $small-max-size){
			margin-top: -$i*$margin-loop-constant;
		}
	}
	.fy-mtnm#{$i*10} {
		@include mm-media($medium-min-size, $medium-max-size){
			margin-top: -$i*$margin-loop-constant;
		}
	}
	.fy-mtnl#{$i*10} {
		@include min-media($large-min-size){
			margin-top: -$i*$margin-loop-constant;
		}
	}

	
}



