
$navbar-button-background: $color-secondary;
$navbar-button-background-hover: $color-secondary-darker;

$navbar-button-row: $color-secondary-lighter;
$navbar-button-row-hover: $color-secondary-lighter;

.fy-nbb {
	cursor: pointer;
	background-color: $navbar-button-background;
	height: 52px;
	width: 54px;
	padding: 13px 12px;
	display: inline-block;
	position: relative;
	
	&:hover {
		background-color: $navbar-button-background-hover;
	}

	> span {
		display: block;
		height: 3px;
		background-color: $navbar-button-row;
		margin-bottom: 7px;
		&:last-child {
			margin-bottom: 0;
		}
	}

	&.-on {
		> span{
			position: absolute;
		    width: 30px;
		    border-radius: 5px;
		    left: 12px;
			&:nth-child(1),&:nth-child(2) {
				top: 24px;
			}
			&:nth-child(1) {
				transform: rotate(45deg);				
			}
			&:nth-child(2) {
				transform: rotate(-45deg);
			}
			&:nth-child(3) {
				display: none;
			}
		}
	}

}
.fy-nbb {
	&.-s {
		height: 36px;
		width: 38px;
		padding: 6px 7px;

		&.-on {
			>span {
				top: 17px;
				left: 4px;	
			}
			
		}
	}
}


.fy-nbb {
	&.-c {
		> span {
			height: 5px;
			width: 5px;
			border-radius: 50%;
			left: 24px;
		}
	}
}

























