

.fy-offc {
	display: flex;
	overflow: hidden;
	&_s {
		flex-basis: 250px;
		flex-shrink: 0;
		@include media($medium-max-size){
			position: absolute;
			top: 0;
			left: -250px;
			height: 100%;
			width: 250px;
			transition: 0.5s;
		}
	}
	&_b {
		overflow: hidden;
		flex-grow: 1;
	}

}
