.fy-ss {
	font-size: 16px;
	color: #656565;
    display: inline-block;
}
.fy-ss_t {
	padding-right: 5px;
    display: inline-block;
}
.fy-ss_i {
    display: inline-block;
	width: 29px;
	height: 27px;
	background-color: #909090;
	text-align: center;
	margin-right: 5px;
	color: #ffffff;
	cursor: pointer;
	
	&:last-child {
		margin-right: 0px;
	}
	> i {
		margin-top: 5px;
	}
}

/* Variations */
.fy-ss {
	&.-s {
		font-size: 12px;

		.fy-ss_i {
			width: 20px;
			height: 20px;
		}

		&.-r {
			.fy-ss_i {
				border-radius: 2px;
			}			
		}

	}
	&.-l {
		font-size: 20px;

		.fy-ss_i {
			width: 45px;
			height: 40px;
			font-size: 29px;
			> i {
				margin-top: 6px;
			}
		}

		&.-r {
			.fy-ss_i {
				border-radius: 4px;
			}			
		}		

	}

	&.-nm {
		.fy-ss_i {
			margin-right: 0;	
		}
		
	}

	&.-r {
		.fy-ss_i {
			border-radius: 3px;
		}
	}

}
































