
$social-share-background-color: $color-secondary;
$social-share-background-color-hover: $color-secondary-darker;

.fy-ss {
	font-size: 16px;
	color: #656565;
    display: inline-block;

	._t {
		padding-right: 5px;
	    display: block;
	    float: left;
	    margin-top: 3px;
	    
	}
	._i {
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    float: left;
		width: 29px;
		height: 29px;
		background-color: $social-share-background-color;
		text-align: center;
		margin-right: 6px;
		color: #ffffff;
		cursor: pointer;
		
		&:hover {
			background-color: $social-share-background-color-hover;
		}

		&:last-child {
			margin-right: 0px;
		}
		> i {

		}
	} 
}

/* Variations */
.fy-ss {
	&.-s {
		font-size: 12px;
		._t {
			margin-top: 2px;
		}
		._i {
			width: 20px;
			height: 20px;
		}

		&.-r {
			._i {
				border-radius: 2px;
			}			
		}

	}
	&.-l {
		font-size: 20px;
		._t {
			margin-top: 4px;
		}
		._i {
			width: 45px;
			height: 45px;
			font-size: 29px;
			> i {
			}
		}

		&.-r {
			._i {
				border-radius: 4px;
			}			
		}		

	}

	&.-nm {
		._i {
			margin-right: 0;	
		}
		
	}

	&.-r {
		._i {
			border-radius: 3px;
		}
	}

}



.fy-ss {
	&.-c {
		._i {
			border-radius: 50%;

		}	
	}
	
}




























