
$tab-border-color: $color-light;
$tab-border-color-active: $color-secondary-lighter;

$tab-button-background-color: $color-light;
$tab-button-background-color-hover: $color-light-darker;
$tab-button-background-color-active: #ffffff;

.fy-tab {

}

.fy-tab_h {
	height: 44px;
	display: flex;
	justify-content: flex-start;

	.fy-tab_i {
		background-color: $tab-button-background-color;
	    padding-left: 18px;
	    padding-right: 18px;
	    padding-top: 13px;
	    padding-bottom: 13px;
		text-align: center;
		cursor: pointer;
		font-size: 14px;
		color: $button-color;
		text-decoration: none;
		line-height: 1.12;
		text-decoration: none;
		z-index: 10;
		border-left: 1px;
		border-right: 1px;
		border-top: 1px;
		border-bottom: 1px;
		border-style: solid;
		border-color: $tab-border-color $tab-border-color $tab-border-color $tab-border-color;
		
		&:hover {
			background-color: $tab-button-background-color-hover;
		}

		&.-a {
			border-top: 1px;
			border-left: 1px;
			border-right: 1px;	
			border-bottom: 1px;
			padding-bottom: 14px;
			border-style: solid;
			border-color: #ffffff;
			background-color: $tab-button-background-color-active;
			cursor: default;
			height: 45px;
			&:hover {
				background-color: $tab-button-background-color-active;
			}		
		}
	
		&:hover {
			text-decoration: none;
		}
	}
}
.fy-tab {
	&.-ln {
		.fy-tab_h {
			border-bottom: 1px solid $tab-border-color-active;
			.fy-tab_i {
				&.-a {
					border-color: $tab-border-color-active $tab-border-color-active #ffffff $tab-border-color-active;
				}
			}

		}

	}

	&.-or {
		.fy-tab_h {
			justify-content: flex-end;
			.fy-tab_i {
			} 			
		}
	}


}

.fy-tab_b {
	> div {
		display: none;
	}
	>.-a {
		display: block;
	}
}

.fy-tab {
	&.-s {
		.fy-tab_h {
			height: 29px;
			.fy-tab_i {
			    padding-left: 10px;
			    padding-right: 10px;
			    padding-top: 6px;
			    padding-bottom: 6px;
			    font-size: 13px;	
				&.-a {
					padding-bottom: 7px;
					height: 30px;
				}
			}			
		}
	}
}









