
/*# text lead*/
.fy-tld {
	font-size: 24px;
	margin-bottom: 10px;
}

/*# text basic*/
.fy-tb {
	font-size: 16px;
}

/*# text large */
.fy-tl {
	font-size: 30px;
}
	
/*# text medium */
.fy-tm {
	font-size: 20px;
}
			
/*# text small*/
.fy-ts {
	font-size: 13px;
}

/*# text mute, little smal and grey*/
.fy-tmu {
	font-size: 12px;
	color: #777777;
}


/*### Text style*/

/*# text underline*/
.fy-tu {
	text-decoration: underline;
}
/* text no underline */
.fy-tnu {
	text-decoration: none;
}

/*### Text transform*/

/*# text transform to upprcase*/
.fy-ttuc {
	text-transform: uppercase;
}

/*# text transform to lowecase*/
.fy-ttlc {
	text-transform: lowercase;
}

/*# text transform capitalize*/
.fy-ttc {
	text-transform: capitalize;
}



/*### Text align*/

/*# Text align left*/
.fy-tal {
	text-align: left;
}

/*# Text align right*/
.fy-tar {
	text-align: right;
}

/*# Text align center*/
.fy-tac {
	text-align: center
}

/*# Text justify*/
.fy-tj {
	text-align: justify;
}



/*###  Text wrapping*/

/*# Text wrapping truncate*/
.fy-twt {

}

/*# Text wrapping break*/
.fy-twb {

}

/*# Text wrapping nowrap*/
.fy-twnw {

}



