.fy-ta {
	&l {
		text-align: left;
	}
	&r {
		text-align: right;
	}
	&c {
		text-align: center
	}
	&j {
		text-align: justify;
	}
}


/*###  Text wrapping*/

/*# Text wrapping truncate*/
.fy-twt {

}

/*# Text wrapping break*/
.fy-twb {

}

/*# Text wrapping nowrap*/
.fy-twnw {

}



