extends _layout.pug
include _mixins
block content
	article.fy-bx
		+title('Description list')
		+resume

		//- spec
		+section
			+subtitle('Usage')
			+description
			+demo
				+example
					.example-dl.
						<div class="fy-dl">
							<div>
								Lorem ipsum dolor
							</div>
							<div>
								Consectetur adipisicing
							</div>
							<div>
								Repudiandae
							</div>
							<div>
								Asperiores quae
							</div>
						</div>
				+code.
					<div class="fy-dl">
						<div>
							Lorem ipsum dolor
						</div>
						<div>
							Consectetur adipisicing
						</div>
						<div>
							Repudiandae
						</div>
						<div>
							Asperiores quae
						</div>
					</div>


		//- spec
		+section
			+subtitle('Style')
			+description
			+properties([{'r':'-b','d':'Add borders'}])
			+demo
				+example
					.example-dl.
						<div class="fy-dl -b">
							<div>
								Lorem ipsum dolor
							</div>
							<div>
								Consectetur adipisicing
							</div>
							<div>
								Repudiandae
							</div>
							<div>
								Asperiores quae
							</div>
						</div>
				+code.
						<div class="fy-dl -b">
							<div>
								Lorem ipsum dolor
							</div>
							<div>
								Consectetur adipisicing
							</div>
							<div>
								Repudiandae
							</div>
							<div>
								Asperiores quae
							</div>
						</div>


		//- spec
		+section
			+subtitle('Small')
			+description
			+properties([{'r':'-s','d':'Small'}])
			+demo
				+example
					.example-dl.
						<div class="fy-dl -b -s">
							<div>
								Lorem ipsum dolor
							</div>
							<div>
								Consectetur adipisicing
							</div>
							<div>
								Repudiandae
							</div>
							<div>
								Asperiores quae
							</div>
						</div>
				+code.
						<div class="fy-dl -b -s">
							<div>
								Lorem ipsum dolor
							</div>
							<div>
								Consectetur adipisicing
							</div>
							<div>
								Repudiandae
							</div>
							<div>
								Asperiores quae
							</div>
						</div>

