doctype html
html.aui(lang="es",class="no-js")
	head
		title fly css framework
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0")
		link(rel="icon" type="image/png" href="favicon.png")
		link(rel="stylesheet" type="text/css" href="http://localhost:9797/dev/css/fly.css")
		link(rel="stylesheet" type="text/css" href="css/xcode.css")
		link(rel="stylesheet" type="text/css" href="css/fly-opensans.css")
		link(rel="stylesheet" type="text/css" href="css/fly-montserrat.css")
		link(rel="stylesheet" type="text/css" href="css/fly-theme.css")
		script(async src="https://www.googletagmanager.com/gtag/js?id=UA-119285310-1")
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-119285310-1');			
	body
		.fy-hro
			.fy-mb10.fy-mt30
				a(href="/" onclick="gtag('event', 'go_home',{'event_category':'navigation'});")
					img.logo(src="images/logo-.png" alt="")
			.fy-mb10.fy-txac
				|Simple and beauty
				|<br>
				|css framework

			.fy-cg
				.fy-ss.-s
					._i
						a(href="https://www.facebook.com/flycssframework" target="_blank" onclick="gtag('event', 'go_fan_page',{'event_category':'social','event_label':'sidebar'});")
							i.fab.fa-facebook-f
					._i
						a(href="https://twitter.com/flycssframework" target="_blank" onclick="gtag('event', 'go_fan_page',{'event_category':'social','event_label':'sidebar'});")
							i.fab.fa-twitter
					._i
						a(href="" target="_blank" onclick="gtag('event', 'go_fan_page',{'event_category':'social','event_label':'sidebar'});")
							i.fab.fa-github

			.fy-cg.fy-mt50
				.fy-btng
					a.fy-btn(href="https://github.com/rollrodrig/fly-css-framework" target="_blank" onclick="gtag('event', 'github_repo',{'event_category':'download','event_label':'home'});") Github
					a.fy-btn(href="https://github.com/rollrodrig/fly-css-framework/archive/master.zip" onclick="gtag('event', 'download_zip',{'event_category':'download','event_label':'home'});") Download
					a.fy-btn(href="installation.html" onclick="gtag('event', 'docs',{'event_category':'navigation','event_label':'home'});") Docs

			